﻿@{
    ViewBag.Title = "Finding List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Verified Safety Finding List
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                @*<div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Find Name" id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>*@
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                @*<div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Find Section" id="sectionSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <button class="btn btn-sm btn-primary" type="button" onclick="approveAll(this)">Verified</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<input type="hidden" id="url_approve" value="@Url.Action("VerifiedFinding")" />

<!--begin::Modal-->
<div class="modal fade" id="modal_approve_all" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form-approve-all">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" value="" name="ArrPointingId" class="ArrPointingId_all" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verified Finding</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="col-md-6 pull-left">
                        <div class="form-group">
                            <label class="control-label col-md-12" for="EducationLevel1">Category</label>
                            <div class="col-md-12">
                                <select class="form-control" name="category" id="category">
                                    <option></option>
                                    <option value="Incoming">Incoming</option>
                                    <option value="Outgoing">Outgoing</option>
                                    <option value="Support">Support</option>
                                    <option value="Office">Office</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12" for="EducationLevel">Proses Utama</label>
                            <div class="col-md-12">
                                <select class="form-control" name="proses_utama" id="proses_utama">
                                    <option></option>
                                    @foreach (var x in ViewBag.PU)
                                    {
                                        <option vlaue="@x.Id">@x.Proses</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 pull-right">
                        <div class="form-group">
                            <label class="control-label col-md-12" for="EducationLevel">Tipe Risiko</label>
                            <div class="col-md-12">
                                <select class="form-control" name="tipe_risiko" id="tipe_risiko">
                                    <option></option>
                                    @foreach (var x in ViewBag.Tipe)
                                    {
                                        <option vlaue="@x.Val">@x.Tipe_Risiko</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12" for="EducationLevel">Activity</label>
                            <div class="col-md-12">
                                <select class="form-control" name="activity" id="activity">
                                    <option></option>
                                    @foreach (var x in ViewBag.Activity)
                                    {
                                        <option vlaue="@x.Initial">@x.Activity</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-pull-12">
                        <div class="form-group">
                            <label class="control-label col-md-12" for="EducationLevel">Description</label>
                            <div class="col-md-12">
                                <textarea id="description" name="description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        @*<a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>*@
                        <input type="submit" value="Verified" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image_followup">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                        <div id="notefinding">
                        </div>
                    </div>
                        <div class="col-md-pull-12">
                            @*<img src="~/UploadFile/20191112023212-IPA Logo.png" id="myimage" width="350" height="150" />
                <div id="tampilimage"></div>
                <img id="my_image" />*@
                        </div>
                    </div>
                </div>
        </div>
    </form>
</div>
<!--end::Modal-->

@section Scripts{
<script>
        $(document).ready(function () {
            var url_approve = $('#url_approve').val();

            $('#category').select2({ placeholder: "-- Select a Category --", width: '100%', });
            $('#proses_utama').select2({ placeholder: "-- Select a Proses Utama --", width: '100%', });
            $('#activity').select2({ placeholder: "-- Select a Activity --", width: '100%', });
            $('#tipe_risiko').select2({ placeholder: "-- Select a Tipe Risiko --", width: '100%', });
        });

        // Variable to hold request
        function approveAll(el) {
            //$('#form_approve_all')[0].reset();
            $('#category').val("val", "").trigger('change.select2'); //reset select2
            $('#proses_utama').val("val", "").trigger('change.select2'); //reset select2
            $('#tipe_risiko').val("val", "").trigger('change.select2'); //reset select2
            $('#activiry').val("val", "").trigger('change.select2'); //reset select2
            $('#description').val("");

            $('.ArrPointingId_all').val(JSON.stringify(window.arrPointingId));
            $('#modal_approve_all').modal('show');
            $('#form_approve_all')[0].reset();
        }

        function popImage(el)
        {
            var id = $(el).attr('data-id');
            //$('#id').val(id);
            //alert(id);
            //clear modal
            //$('#notefinding').innerHTML = "Test";
            //document.getElementById().te

            $('#modal_image').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("getImageFinding")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/Patroll/' + data.data[i].img + '" width="350" height="150" />';
                                $('#modal_image').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }
                            $("#modal_image").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        var request;
        $("#form-approve-all").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_approve').val(),
                type: "post",
                data: serializedData,
                success: function (data, status) {
                    if (data.status) {
                        $("#modal_approve_all").modal("hide");
                        window.datatable.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }
            });
        });

        //ktDatatable metronic
        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Findings/List'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState: {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,

                pagination: true,

                rows: [
                    {
                        autohide: false,
                    }
                ],

                // columns definition

                columns: [
                    {
                        field: 'Id',
                        title: '#',
                        sortable: false,
                        width: 20,
                        selector: {
                            class: 'kt-checkbox--solid'
                        },
                        textAlign: 'center'
                    }, {
                        field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 150,
                        template: function (row) {
                            var result = '<a href="#" data-id="' + row.Id + '" class="imageBtn" title="View Image" data-toggle="modal" data-target="#modal_image">' + row.PatrolName +'</a>';
                            return result;
                        }
                    }, {
                        field: 'Date',
                        title: 'Patrol Date',
                        width: 200,
                        sortable: 'asc',
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.Date).format('MMM DD, YYYY');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Findings',
                        title: 'Uraian',
                        sortable: 'desc',
                        width: 600,
                        overflow: 'visible',
                        textAlign: 'left',
                    }, {
                        field: 'Note',
                        title: 'Note',
                        width: 300,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Note.length; i++)
                            {
                                var dt = row.Note[i].Note;
                                result = result + '<div> - ' + dt + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Nilai',
                        title: 'Nilai',
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Nilai.length; i++) {
                                var dt = row.Nilai[i].Nilai;
                                var nval ="";
                                if (dt == '1') { nval = "kurang"; } else { nval ="-"}
                                result = result + '<div> ' + nval + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Type',
                        title: 'Type',
                    }, {
                        field: 'Location',
                        title: 'Location',
                    }, {
                        field: 'Plant',
                        title: 'Plant',
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                $('#sectionSearch').on('change', function () {
                    datatable.search($(this).val(), 'Section');
                });

                $('#kt_form_type').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'Type');
                });

                $('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });

            };

            return {
                // public functions
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function () {
            KMSIDatatable.init();

            $(document).on("click", ".imageBtn", function () {
                var el = $(this);
                popImage(el);
            });
        });

</script>
}
