﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var BPN = ViewBag.BPN;
    var BJM = ViewBag.BJM;
    var PLB = ViewBag.PLB;
    var JKT = ViewBag.JKT;

    Double total = BPN + BJM + PLB + JKT;
    Double BPNVal = Math.Round(((BPN / total) * 100), 2);
    Double BJMVal = Math.Round(((BJM / total) * 100), 2);
    Double PLBVal = Math.Round(((PLB / total) * 100), 2);
    Double JKTVal = Math.Round(((JKT / total) * 100), 2);

    var Human = ViewBag.Human;
    var Procedure = ViewBag.Procedure;
    var Lifting = ViewBag.Lifting;
    var Environment = ViewBag.Enviroment;

    Double Tot = Human + Procedure + Lifting + Environment;
    Double HumanVal = Math.Round(((Human / Tot) * 100), 2);
    Double ProcedureVal = Math.Round(((Human + Procedure / Tot) * 100), 2);
    Double LiftingVal = Math.Round(((Human + Procedure + Lifting / Tot) * 100), 2);
    Double EnvVal = Math.Round(((Human + Procedure + Lifting + Environment / Tot) * 100), 2);

}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--danger kt-iconbox--animate-slower">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">                            
                            <font size="100"><b>@ViewBag.Incident</b></font>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h4 class="kt-iconbox__title">
                                <a class="kt-link" href="#"> </a>
                            </h4>
                            <div class="kt-iconbox__content">
                                <h5>Incident</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--success kt-iconbox--animate-slower">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <font size="100"><b>@ViewBag.Date</b></font>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h4 class="kt-iconbox__title">
                                <a class="kt-link" href="#"> </a>
                            </h4>
                            <div class="kt-iconbox__content">
                                <h5>Day Since Last Incident</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--warning kt-iconbox--animate-slower">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <font size="100"><b>@ViewBag.NonLTA</b></font>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h4 class="kt-iconbox__title">
                                <a class="kt-link" href="#"> </a>
                            </h4>
                            <div class="kt-iconbox__content">
                                <h5>Accident non LTA</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--warning kt-iconbox--animate-slower">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <font size="100"><b>@ViewBag.LTA</b></font>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h4 class="kt-iconbox__title">   
                                <a class="kt-link" href="#"> </a>
                            </h4>
                            <div class="kt-iconbox__content">
                                <h5>Accident(LTA)</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Severity
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="Severity_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Type of Incdent
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="TypeIncident_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Injury Consequence
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="Injury_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Accident & Incident By Location
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="IncidentLocation_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Cause of Accident & Incident
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="example-section15">
                            <div id="legendPlaceholder"></div>
                            <div id="flotcontainer" style="width: 100%;height:200px; text-align: left;"></div>
                        </div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

    </div>

        <div class="row">

            <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Findings Graph by Location
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_GrapLoc_content" role="tab">
                                        Graph
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_widget11_tab2_GrapLocData_content" role="tab">
                                        Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--Begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::tab 1 content-->
                            <div class="tab-pane active" id="kt_widget11_tab1_GrapLoc_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div id="Location_graph" style="height:250px;"></div>
                                    <div class="kt-widget11__action kt-align-right">
                                        <table>
                                            <tr>
                                                <td bgcolor="#0099cc">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">5K</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.ClimaK</td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#ffff00">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">Risk 2</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Risk2</td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#ff0000">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">Risk 3</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Risk3</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Total</b></td>
                                                <td>:</td>
                                                <td class="text-right">
                                                    @{ var result = @ViewBag.ClimaK + @ViewBag.Risk2 + @ViewBag.Risk3; }
                                                    @result
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 1 content-->
                            <!--begin::tab 2 content-->
                            <div class="tab-pane" id="kt_widget11_tab2_GrapLocData_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div class="kt-datatable" id="datatable-GraphLoc"></div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 2 content-->
                        </div>
                        <!--End::Tab Content-->
                    </div>
                </div>
                <!--end:: Widgets/Sale Reports-->
            </div>

            <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Findings Graph by Criteria
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_GraphCriteria_content" role="tab">
                                        Graph
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_widget11_tab2_GraphCiteriaData_content" role="tab">
                                        Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--Begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::tab 1 content-->
                            <div class="tab-pane active" id="kt_widget11_tab1_GraphCriteria_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div id="Criteria_graph" style="height:250px;"></div>
                                    <div class="kt-widget11__action kt-align-right">
                                        <table>
                                            <tr>
                                                <td bgcolor="#0099cc">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">5K</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.ClimaK</td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#ffff00">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">Risk 2</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Risk2</td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#ff0000">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">Risk 3</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Risk3</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Total</b></td>
                                                <td>:</td>
                                                <td class="text-right">
                                                    @{ var rst = @ViewBag.ClimaK + @ViewBag.Risk2 + @ViewBag.Risk3; }
                                                    @rst
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 1 content-->
                            <!--begin::tab 2 content-->
                            <div class="tab-pane" id="kt_widget11_tab2_GraphCiteriaData_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <table class="kt-datatable" id="html_table_gender" width="100%">
                                        <thead>
                                            <tr>
                                                <th title="Field #1">Criteria</th>
                                                <th title="Field #2">Data</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Risk 3</td>
                                                <td>@ViewBag.Risk3</td>
                                            </tr>
                                            <tr>
                                                <td>Risk 2</td>
                                                <td>@ViewBag.Risk2</td>
                                            </tr>
                                            <tr>
                                                <td>5K</td>
                                                <td>@ViewBag.ClimaK</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="kt-widget11__action kt-align-right">
                                        @*<button type="button" class="btn btn-label-success btn-bold btn-sm">Generate Report</button>*@
                                    </div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 2 content-->
                        </div>
                        <!--End::Tab Content-->
                    </div>
                </div>
                <!--end:: Widgets/Sale Reports-->
            </div>

        </div>

        <div class="row">

            <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Findings Graph by Status
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_GraphStatus_content" role="tab">
                                        Graph
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_widget11_tab2_GraphStatusData_content" role="tab">
                                        Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--Begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::tab 1 content-->
                            <div class="tab-pane active" id="kt_widget11_tab1_GraphStatus_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div id="Status_graph" style="height:250px;"></div>
                                    <div class="kt-widget11__action kt-align-right">
                                        <table>
                                            <tr>
                                                <td bgcolor="#0099cc">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">Open</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Open</td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#ffff00">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">On Progress</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Onprogress</td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#ff0000">&nbsp&nbsp</td>
                                                <td></td>
                                                <td class="text-left">Close</td>
                                                <td>:</td>
                                                <td class="text-right">@ViewBag.Close</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Total</b></td>
                                                <td>:</td>
                                                <td class="text-right">
                                                    @{
                                                        var TotStatus = @ViewBag.Open + @ViewBag.Onprogress + @ViewBag.Close;
                                                    }
                                                    @TotStatus
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 1 content-->
                            <!--begin::tab 2 content-->
                            <div class="tab-pane" id="kt_widget11_tab2_GraphStatusData_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div class="kt-datatable" id="datatable-GraphStatus"></div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 2 content-->
                        </div>
                        <!--End::Tab Content-->
                    </div>
                </div>
                <!--end:: Widgets/Sale Reports-->
            </div>

            <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
                <!--begin:: Widgets/Sale Reports-->
                <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Due Date Findings
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                                @*<li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_GraphDueDate_content" role="tab">
                                            Graph
                                        </a>
                                    </li>*@
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab2_GraphDueDateData_content" role="tab">
                                        Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--Begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::tab 1 content-->
                            <div class="tab-pane active" id="kt_widget11_tab1_GraphDueDate_content">
                                <!--begin::Widget 11-->
                                @*<div class="kt-widget11">
                                        Graph
                                        <div class="kt-widget11__action kt-align-right">
                                        </div>
                                    </div>*@
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 1 content-->
                            <!--begin::tab 2 content-->
                            <div class="tab-pane" id="kt_widget11_tab2_GraphDueDateData_content">
                                <!--begin::Widget 11-->
                                <div class="kt-widget11">
                                    <div class="kt-datatable" id="datatable-Duedate"></div>
                                </div>
                                <!--end::Widget 11-->
                            </div>
                            <!--end::tab 2 content-->
                        </div>
                        <!--End::Tab Content-->
                    </div>
                </div>
                <!--end:: Widgets/Sale Reports-->
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--tab">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hidden">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                Top 5 Similar Findings
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin: Datatable -->
                        <div class="kt-datatable" id="datatable-kmsi"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--tab">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hidden">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                Outstanding Findings(Risk 3 & Risk 4)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin: Datatable -->
                        <div class="kt-datatable" id="datatable-outstanding"></div>
                        <!--end: Datatable -->
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>

    </div>

    <!--begin::Modal-->
    <div class="modal fade" id="modal_repeat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form id="form_edit">
            <div class="modal-dialog modal-lg" role="document">
                <input type="hidden" name="leavid" id="leavid" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Repeat Findings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-pull-12">
                            <div class="addnew" style="padding: 10px;background-color:#669999;color:#fff">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Patrol Name
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Note
                                        </th>
                                        <th>
                                            Member
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--end::Modal-->
    <!--begin::Modal-->
    <div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form id="form_image">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    @*<input type="hidden" id="iddata" name="iddata" />*@
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Image Patrol</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-pull-12">
                            @*<img src="~/UploadFile/20191112023212-IPA Logo.png" id="myimage" width="350" height="150" />
                                <div id="tampilimage"></div>
                                <img id="my_image" />*@
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--end::Modal-->
    <!--begin::Modal-->

    @section Scripts{
        <script>

        function popRepeat(el) {
            $('.rowappend').remove();

            var id = $(el).attr('data-id');
            //$('#id').val(id);
            //alert(id);

            $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("DetailRepeatList")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            var level = "";
                            for (var i = 0; i < data.dataView.length; i++) {

                                var newData = '<tr class="rowappend"><td>' + data.dataView[i].PatrolName + '</td>';
                                    newData += '<td>' + moment(data.dataView[i].Date).format('YYYY-MM-DD') + '</td>';
                                    newData += '<td>';
                                    for (var j = 0; j < data.dataView[i].Note.length; j++) {

                                        newData += '' + data.dataView[i].Note[j].Note + '<br/>';
                                    }
                                newData += '</td>';
                                newData += '<td>';
                                    for (var k = 0; k < data.dataView[i].Member.length; k++) {

                                        newData += '' + data.dataView[i].Member[k].Member + '<br/>';
                                    }
                                newData += '</td>';
                                newData += '<td><span data-id="' + data.dataView[i].Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imgBtn" title="View Image" data-toggle="modal" data-target="#modal_image"><i class="flaticon-eye" style="cursor:pointer;"></i></span></td></tr > ';

                                    newData += '</tr>';
                                $('.addnew table').append(newData);
                            }

                            $("#modal_repeat").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

       function popImage(el)
        {
            var id = $(el).attr('data-id');
            $('#id').val(id);
            //alert(id);
            //clear modal
            $('#modal_image').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("getDetailmage")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/' + data.data[i].img + '" width="350" height="150" />';
                                $('#modal_image').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }

                            $("#modal_image").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        var KTMorrisChartsDemo = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Risk 3',
                    a: @ViewBag.Risk3
                },
                {
                    y: 'Risk 2',
                    a: @ViewBag.Risk2
                },
                {
                    y: '5K',
                    a: @ViewBag.ClimaK
                }],
                //config manager
                config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: function (row, series, type) {
                            //console.log("--> " + row.label, series, type);
                            if (row.label == "Risk 3") return "#F91903";
                            else if (row.label == "Risk 2") return "#FAEF02";
                            else if (row.label == "5K") return "#099FC8";
                        }
                    };
                //config element name
                config.element = 'Criteria_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/RepeatList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: false,
                pagination: false,

                // columns definition
                columns: [
                    {
                        field: 'Findings',
                        title: 'Uraian',
                        width: 750,

                    }, {
                        field: 'RepeatFinding',
                        title: 'Repeat Findings',
                        width: 150,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" class="badge badge-secondary editRepeat" title="Edit" data-toggle="modal" data-target="#modal_repeat">' + row.RepeatFinding + '</span>';
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableGraphLoc = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/GraphLocation'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: false,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'y',
                        title: 'Plant',
                        width: 100,

                    }, {
                        field: 'a',
                        title: '5K',
                        width: 80,

                    }, {
                        field: 'b',
                        title: 'Risk 2',
                        width: 80,

                    }, {
                        field: 'c',
                        title: 'Risk 3',
                        width: 80,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'center',
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-GraphLoc').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableGraphStatus = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/GraphStatus'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: false,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'y',
                        title: 'Plant',
                        width: 100,

                    }, {
                        field: 'a',
                        title: 'Open',
                        width: 80,

                    }, {
                        field: 'b',
                        title: 'Progress',
                        width: 80,

                    }, {
                        field: 'c',
                        title: 'Close',
                        width: 80,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'center',
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-GraphStatus').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableGraphCriteria = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/DueDateList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: false,
                pagination: true,

                // columns definition
                columns: [
                    {
                        //field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 150,

                    }, {
                        //field: 'DueDate',
                        title: 'Due Date',
                        width: 100,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'center',
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-Duedate').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableDuedate = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/DueDateList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: false,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 150,

                    }, {
                        field: 'DueDate',
                        title: 'Due Date',
                        width: 100,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'center',
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-Duedate').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableGender = function () {
            // Private functions
            var demo = function () {

                var datatable = $('#html_table_gender').KTDatatable({
                    data: {
                        saveState: { cookie: false },
                    },
                    search: {
                        input: $('#generalSearch'),
                    },
                    columns: [
                        {
                            field: 'DepositPaid',
                            type: 'number',
                        },
                        {
                            field: 'OrderDate',
                            type: 'date',
                            format: 'YYYY-MM-DD',
                        }
                    ],
                });

                $('#kt_form_status').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'Status');
                });

                $('#kt_form_type').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'Type');
                });

                $('#kt_form_status,#kt_form_type').selectpicker();

            };

            return {
                // Public functions
                init: function () {
                    // init dmeo
                    demo();
                },
            };
        }();

        var id = 0;
        var KMSIDatatableRepeat = function (id) {
            // Private functions
            var id = id;
            console.log(id);
            //var id = $(this).data("id");
            //alert(id);
            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/DetailRepeatList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: false,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 200,

                    }, {
                        field: 'Date',
                        title: 'Patrol Date',
                        width: 100,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.Date).format('YYYY-MM-DD');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }

                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-RepeatFindings').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableoutstanding = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Dashboard/OutstandingList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: false,
                pagination: false,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 140,

                    }, {
                        field: 'Date',
                        title: 'Patrol Date',
                        width: 140,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.Date).format('YYYY-MM-DD');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }

                    }, {
                        field: 'Location',
                        title: 'Location',
                        width: 140,

                    }, {
                        field: 'Plant',
                        title: 'Plant',
                        width: 140,

                    }, {
                        field: 'CountOutstanding',
                        title: 'Outstanding',
                        width: 150,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'center',
                        template: function (row) {
                            var result = '<span class="badge badge-secondary">' + row.CountOutstanding + '</span>';
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-outstanding').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
            }();

        var KTMorrisChartsDemo1 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Low',
                    a: @ViewBag.Low,                    
                },
                {
                    y: 'Medium',
                    a: @ViewBag.Medium
                },
                {
                    y: 'High',
                    a: @ViewBag.High
                },{
                    y: 'Critical',
                    a: @ViewBag.Critical
                }],
                //config manager
                config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#00cc99']

                    };
                //config element name
                config.element = 'Severity_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KTMorrisChartsDemo2 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Injury',
                    a: @ViewBag.Injury
                },
                {
                    y: 'Property Damage',
                    a: @ViewBag.Demage
                },
                {
                    y: 'Health/illness',
                    a: @ViewBag.Health
                }, {
                    y: 'Harassment',
                    a: @ViewBag.Harassment
                    }, {
                    y: 'Other',
                        a: @ViewBag.Other
                    }],
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#ffff00']

                    };
                //config element name
                config.element = 'TypeIncident_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KTMorrisChartsDemo3 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Lost time',
                    a: @ViewBag.LostTime
                },
                {
                    y: 'Medical case',
                    a: @ViewBag.MedicalCase
                },
                {
                    y: 'First Aid',
                    a: @ViewBag.FirstAid
                }, {
                    y: 'No treatment',
                    a: @ViewBag.NoTreatmnet
                }],
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#333300']

                    };
                //config element name
                config.element = 'Injury_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KTFlotchartsDemo4 = function () {

            // Private functions
            var demo8 = function () {
                var data = [
                    { label: "KMS BPN", data: @BPNVal, color: KTApp.getStateColor("danger") },
                    { label: "KMSI BJM", data: @BJMVal, color: KTApp.getStateColor("success") },
                    { label: "KMSI PLB", data: @PLBVal, color: KTApp.getStateColor("warning") },
                    { label: "KMSI JKT", data: @JKTVal, color: KTApp.getStateColor("brand") }
                ];

                $.plot($("#IncidentLocation_graph"), data, {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });
            }       

            return {
                // public functions
                init: function () {
                    // default charts                    
                    demo8();                    
                }
            };
        }();

        var KTFlotchartsDemo5 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Human Error',
                    a: @ViewBag.Human
                },
                {
                    y: 'Procedure',
                    a: @ViewBag.Procedure
                },
                {
                    y: 'Lifting Operation',
                    a: @ViewBag.Lifting
                },
                {
                    y: 'Enviroment',
                    a: @ViewBag.Enviroment
                }],
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#ffff00']

                    };
                //config element name
                config.element = 'CauseIncident_graph';
                new Morris.Bar(config);

            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        jQuery(document).ready(function () {

            KTMorrisChartsDemo.init();
            KTMorrisChartsDemo1.init();
            KTMorrisChartsDemo2.init();
            KTMorrisChartsDemo3.init();
            KTFlotchartsDemo4.init();

            $(document).on("click", ".editRepeat", function () {
                var el = $(this);
                popRepeat(el);
            });

            $(document).on("click", ".imgBtn", function () {
                var el = $(this);
                popImage(el);
            });

            $.ajax({
                type: "GET",
                url: "/dashboard/GraphLocation",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    successLoc(response);
                },
            });

            function successLoc(jsondata)
            {
                var data = jsondata,
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a', 'b', 'c'],
                        labels: ['5K', 'Risk 2', 'Risk 3'],
                        fillOpacity: 0.6,
                        hideHover: 'auto',
                        stacked: true,
                        resize: true,
                        pointFillColors: ['#ffffff'],
                        pointStrokeColors: ['black'],
                        barColors: ['#099FC8', '#FAEF02', '#F91903'],
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        animate: true,
                        verticalGrid: true,
                        labelColor: function (row, series, type) {
                            //console.log("--> " + row.label, series, type);
                            if (row.label == "Risk 2") return "#424445";
                            else if (row.label == "Risk 3") return "#424445";
                            else if (row.label == "5K") return "#424445";
                        }
                        //labels : (function (label, i) {
                        //    var legendItem = $('<span class="legend-item"></span>').text(label).prepend('<span class="legend-color">&nbsp;</span>');
                        //    legendItem.find('span').css('backgroundColor', bar.options.barColors[i]);
                        //    $('#Location_graph').append(legendItem)
                        //})
                    };

                //config element name
                config.element = 'Location_graph';
                //add config to moris bar
                new Morris.Bar(config);
            }

            $.ajax({
                type: "GET",
                url: "/dashboard/GraphStatus",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    successStatus(response);
                },
            });

            function successStatus(jsondata) {
                var data = jsondata,
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a', 'b', 'c'],
                        labels: ['Open', 'On Progress', 'Close'],
                        fillOpacity: 0.6,
                        hideHover: 'auto',
                        stacked: true,
                        resize: true,
                        pointFillColors: ['#ffffff'],
                        pointStrokeColors: ['black'],
                        barColors: ['#099FC8', '#FAEF02', '#F91903'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        //padding: '60',
                        labelColor: function (row, series, type) {
                            console.log("--> " + row.label, series, type);
                            if (row.label == "Open") return "#F91903";
                            else if (row.label == "On Progress") return "#FAEF02";
                            else if (row.label == "Close") return "#099FC8";
                        }
                    };

                //config element name
                config.element = 'Status_graph';
                //add config to moris bar
                new Morris.Bar(config);
            }

            var options = {
                series: {
                    shadowSize: 0
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: '#f0f0f0',
                    borderWidth: 0,
                    color: '#333333'
                },
                xaxis: {
                    tickDecimals: 0,
                    tickSize: 1,
                    tickFormatter: function (val, axis) {
                        return val;
                    }
                },
                yaxes: [{
                    tickLength: 0,
                    minTickSize: 1,
                    min: 0,
                    position: "left",
                    font: {
                        color: '#ccc'
                    }
                }, {
                    position: "right",
                    minTickSize: 10,
                    min: 0,
                    tickLength: 0,
                    font: {
                        color: '#ccc'
                    }
                }]
            };

            var line_options = {
                show: true,
                lineWidth: 2,
                fill: false,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.7
                    }]
                }
            };
            var bar_options = {
                show: true,
                align: 'center',
                lineWidth: 0,
                fill: true,
                barWidth: 0.6
            };

            $(function () {
                var stack1 = {
                    label: 'stack1',
                    data: [
                        [0,  @ViewBag.Human],
                        [1,  @ViewBag.Procedure],
                        [2,  @ViewBag.Lifting],
                        [3,  @ViewBag.Enviroment]                        
                    ],
                    stack: true,
                    bars: bar_options
                };               
                var line = {
                    label: 'line',
                    data: [
                        [0, @HumanVal],
                        [1, @ProcedureVal],
                        [2, @LiftingVal],
                        [3, @EnvVal]                        
                    ],
                    yaxis: 2,
                    stack: false,
                    lines: line_options,
                    points: {
                        radius: 5,
                        show: true
                    },
                };
                var dataset = [stack1, line];

                var plot = $.plot($("#example-section15 #flotcontainer"), dataset, options);
            });

            KMSIDatatable.init();
            KMSIDatatableGraphLoc.init();
            KMSIDatatableGender.init();
            KMSIDatatableGraphStatus.init();
            KMSIDatatableDuedate.init();
            KMSIDatatableoutstanding.init();

        });

        </script>
    }
