﻿@using Newtonsoft.Json;
@model SSE_KMSI.Models.EmailViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ESS KMSI</title>
</head>
<body>
    <img src="https://i.ibb.co/84zgzXs/logo-blue.png" alt="" />
    <br />
    <h3>Hello <b>@Model.Receiver</b>,</h3>
    <h1>@Model.Message</h1>
    <h2>Detail Request</h2>
    <table border="0" style="border: 1px solid transparent; border-radius: 10px; background-color: #F5F5F5; padding: 10px; margin-bottom: 10px; font-size: 16px;">
        <tr>
            <td>Form Number:</td>
            <td><b style="color: #2a4eff;">@Model.GeneratedNumber</b></td>
        </tr>
        <tr>
            <td>Created Date:</td>
            <td>@Model.FormDate</td>
        </tr>
        <tr>
            <td>Name of Applicant:</td>
            <td>@Model.Applicant</td>
        </tr>
        @{
            /* condition for leave form */
            if (Model.LeaveType != null)
            {
                <tr>
                    <td>Leave Type:</td>
                    <td>@Model.LeaveType</td>
                </tr>
            }

            if (Model.LeaveReason != null)
            {
                <tr>
                    <td>Reason:</td>
                    <td>@Model.LeaveReason</td>
                </tr>
            }

            if (Model.LeaveDate != null || Model.LeaveDate != "")
            {
                List<DateTime> date = JsonConvert.DeserializeObject<List<DateTime>>(Model.LeaveDate);
                <tr>
                    <td>Date:</td>
                    <td>
                        @foreach (var d in date)
                        {
                            <span>-</span> @d.Date.ToString("dd MMMM yyyy")<br />
                        }
                    </td>
                </tr>
            }

            /* condition for permit form */
            if (Model.Utilities != null)
            {
                <tr>
                    <td>Utilities:</td>
                    <td>@Model.Utilities</td>
                </tr>
            }

            if (Model.PermitRemark != null)
            {
                <tr>
                    <td>Remark:</td>
                    <td>@Model.PermitRemark</td>
                </tr>
            }

            if (Model.PermitDate != null)
            {
                <tr>
                    <td>Date:</td>
                    <td>@Model.PermitDate</td>
                </tr>
            }

            if (Model.PermitStartTime != null && Model.PermitEndTime != null)
            {
                <tr>
                    <td>Time:</td>
                    <td>@Model.PermitStartTime <span> - </span> @Model.PermitEndTime</td>
                </tr>
            }
        }
    </table>
    <a href="@Model.BaseUrl" style="-webkit-box-align: center; align-items: center; background-color: #2a4eff; border-color: #1d43ff; color: #ffffff; outline: none !important; vertical-align: middle; display: inline-block; font-weight: normal; text-align: center; user-select: none; border: 1px solid transparent; padding: 0.65rem 1rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; text-decoration: none;">Click to Approve or Reject</a>
</body>
</html>