﻿@using Newtonsoft.Json;
@model SSE_KMSI.Models.EmailSickness
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ESS KMSI</title>
</head>
<body>
    <img src="https://i.ibb.co/84zgzXs/logo-blue.png" alt="" />
    <br />
    <h3>Hello <b>@Model.Receiver</b>,</h3>
    <h1>@Model.Message</h1>
    <h2>Detail Request</h2>
    <table border="0" style="border: 1px solid transparent; border-radius: 10px; background-color: #F5F5F5; padding: 10px; margin-bottom: 10px; font-size: 16px;">
        <tr>
            <td>Form Number</td>
            <td>:</td>
            <td><b style="color: #2a4eff;">@Model.GeneratedNumber</b></td>
        </tr>
        <tr>
            <td>Created Date:</td>
            <td>:</td>
            <td>@Model.FormDate</td>
        </tr>
        <tr>
            <td>Name of Applicant</td>
            <td>:</td>
            <td>@Model.Applicant</td>
        </tr>
        <tr>
            <td>Remark</td>
            <td>:</td>
            <td>@Model.Remark</td>
        </tr>
        @{
            List<DateTime> date = JsonConvert.DeserializeObject<List<DateTime>>(Model.SicknessDate);
            <tr>
                <td>Date</td>
                <td>:</td>
                <td>
                    @foreach (var d in date)
                    {
                        <span>-</span> @d.Date.ToString("dd MMMM yyyy")<br />
                    }
                </td>
            </tr>
        }
    </table>
    @{
        if (Model.Status != "APPROVED" || Model.Status != "REJECTED")
        {
            string message = String.Empty;
            if (Model.ApproverTo == "Checker")
            {
                message = "Response for Check or Reject";
            }
            else if (Model.ApproverTo == "Approver")
            {
                message = "Response for Approve or Reject";
            }

            if (message != String.Empty)
            {
                <a href="@Model.BaseUrl" style="-webkit-box-align: center; align-items: center; background-color: #2a4eff; border-color: #1d43ff; color: #ffffff; outline: none !important; vertical-align: middle; display: inline-block; font-weight: normal; text-align: center; user-select: none; border: 1px solid transparent; padding: 0.65rem 1rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; text-decoration: none;">@message</a>
            }
        }
    }
</body>
</html>