﻿@model SSE_KMSI.Models.EmailTravelExpense
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ESS KMSI</title>
</head>
<body>
    <img src="https://i.ibb.co/84zgzXs/logo-blue.png" alt="" />
    <br />
    <h3>Hello <b>@Model.Receiver</b>,</h3>
    <h1>@Model.Message</h1>
    <h2>Detail Request</h2>
    <table border="0" style="border: 1px solid transparent; border-radius: 10px; background-color: #F5F5F5; padding: 10px; margin-bottom: 10px; font-size: 16px;">
        <tr>
            <td>Form Number</td>
            <td>:</td>
            <td><b style="color: #2a4eff;">@Model.GeneratedNumber</b></td>
        </tr>
        <tr>
            <td>Created Date:</td>
            <td>:</td>
            <td>@Model.FormDate</td>
        </tr>
        <tr>
            <td>Name of Applicant</td>
            <td>:</td>
            <td>@Model.Applicant</td>
        </tr>
        <tr>
            <td>Destination</td>
            <td>:</td>
            <td style="padding-left: 5px;">@Model.Destination</td>
        </tr>
        <tr>
            <td>Travel Date</td>
            <td>:</td>
            <td style="padding-left: 5px;">@Model.TravelDate</td>
        </tr>
        <tr>
            <td>Report Date</td>
            <td>:</td>
            <td style="padding-left: 5px;">@Model.ReportDate</td>
        </tr>
        <tr>
            <td>Total Expense</td>
            <td>:</td>
            <td style="padding-left: 5px;">@Model.TotalExpense</td>
        </tr>
        <tr>
            <td>Paid to Company</td>
            <td>:</td>
            <td style="padding-left: 5px;">@Model.PaidToCompany</td>
        </tr>
        <tr>
            <td>Paid to Employee</td>
            <td>:</td>
            <td style="padding-left: 5px;">@Model.PaidToEmployee</td>
        </tr>
    </table>
    @{
        if (Model.Status != "APPROVED" || Model.Status != "REJECTED")
        {
            <a href="@Model.BaseUrl" style="-webkit-box-align: center; align-items: center; background-color: #2a4eff; border-color: #1d43ff; color: #ffffff; outline: none !important; vertical-align: middle; display: inline-block; font-weight: normal; text-align: center; user-select: none; border: 1px solid transparent; padding: 0.65rem 1rem; font-size: 1rem; line-height: 1.5; border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; text-decoration: none;">Response for Approve or Reject</a>
        }
    }
</body>
</html>