﻿@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail Approval Leave</h2>
<style>
    .mg-10{
        margin-left:10px;
    }
</style>

<div class="col-md-12">
    <hr />
    <label>Check leave approval</label>
    <div>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="callout callout-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        <dl class="dl-horizontal">
            <dt>
                Name Of Applicant :
            </dt>
            <dd>
                @ViewBag.Leave.UserName <span>-</span> @ViewBag.Leave.Nrp
            </dd>

            <dt>
                Leave date :
            </dt>
            <dd>
                From <span class="StartDate">@ViewBag.Leave.StartDate</span> , <span> Until </span> <span class="EndDate">@ViewBag.Leave.EndDate</span>
            </dd>

            <dt>
                Reason :
            </dt>
            <dd>
                @ViewBag.Leave.Reason
            </dd>

        </dl>
    </div>

    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-flat" })
    @Html.ActionLink("Approve", "Approve", "ApprovalLeave", new { id = ViewBag.Leave.Id }, new { @class = "btn btn-primary btn-flat pull-right mg-10" })
    @Html.ActionLink("Reject", "Reject", "ApprovalLeave", new { id = ViewBag.Leave.Id }, new { @class = "btn btn-danger btn-flat pull-right" })

</div>
<div class="clearfix"></div>
<br>
<br>
<script>
    $(document).ready(function () {
        var s = $('.StartDate').html();
        var e = $('.EndDate').html();
        s = moment(s).format('YYYY-MM-DD');
        e = moment(s).format('YYYY-MM-DD');
        $('.StartDate').html(s);
        $('.EndDate').html(e);
    })
</script>