﻿
@{
    ViewBag.Title = "Approval Leave List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Approval Leave List
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Find Name" id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Find Section" id="sectionSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>		<!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <button class="btn btn-sm btn-primary" type="button" onclick="approveAll(this)">Approve All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" onclick="rejectAll(this)">Reject All</button>
                                    &nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<input type="hidden" id="url_delete" value="@Url.Action("Delete")" />
<input type="hidden" id="url_approve" value="@Url.Action("Approve")" />
<input type="hidden" id="url_reject" value="@Url.Action("Reject")" />
<input type="hidden" id="url_edit" value="@Url.Action("Edit")" />
<input type="hidden" id="url_detail" value="@Url.Action("Details")" />

<!--begin::Modal-->
<div class="modal fade" id="modal_approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form-approve">
        <input type="hidden" value="" name="ArrLeaveId" id="LeaveId_approve" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approve Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span>Name : </span>
                        <span class="namePop"></span>
                    </div>
                    <div>
                        <span>Section : </span>
                        <span class="sectionPop"></span>
                    </div>
                    <div style="padding: 10px;background-color: #3F51B5; color: #fff;margin-top: 5px;">
                        <span>Date : </span>
                        <span class="datePop"></span>
                        <img class="attachmentPop hide previewImg" src="#" />
                    </div>
                    <br>
                    Are you sure want to approve?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
                    <input type="submit" value="Approve" class="btn btn-primary approveConfirm" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form-reject">
        <div class="modal-dialog" role="document">
            <input type="hidden" value="" name="ArrLeaveId" id="LeaveId_reject" />
            <div class="modal-content">
                
                <div class="modal-body">
                    <div class="swal2-icon swal2-warning swal2-animate-warning-icon" style="display: flex;"></div>
                    <h2 class="swal2-title" style="display: block;">Are you sure want to reject?</h2>
                    <br>
                    <div class="form-group">
                        <label style="color:#74788d;">Reject Reason</label>
                        <textarea class="form-control" name="RejectReason" id="RejectReason"></textarea>
                    </div>
                    <div class="alert alert-danger reject-alert hide" role="alert">
                        <div class="alert-text reject-alert-text"></div>
                    </div>
                    <div class="block-btn-reject" style="text-align:center;">
                        <input type="submit" value="Reject" style="margin:5px;background-color:#fd397a" class="swal2-confirm swal2-styled rejectConfirm" />
                        <button type="button" class="swal2-styled swal2-cancel" style="margin:5px;" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_reject_all" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form-reject-all">
        <div class="modal-dialog" role="document">
            <input type="hidden" value="" name="ArrLeaveId" class="ArrLeaveId_all" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reject Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to reject all selected leave?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
                    <input type="submit" value="Reject" class="btn btn-danger rejectConfirm" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_approve_all" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form-approve-all">
        <div class="modal-dialog" role="document">
            <input type="hidden" value="" name="ArrLeaveId" class="ArrLeaveId_all" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aprove Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to approve all selected leave?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
                    <input type="submit" value="Approve" class="btn btn-primary rejectConfirm" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="sub-field"><i class="flaticon-tool-1"></i> Personal Data</div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label col-md-12" for="Nrp">NRP</label>
                            <div class="col-md-12">
                                <input disabled="disabled" type="text" id="Nrp-detail" name="Nrp" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-md-12" for="UserName">Name Of Applicant</label>
                            <div class="col-md-12">
                                <input disabled="disabled" type="text" id="UserName-detail" name="UserName" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12" for="SectionId">Section</label>
                            <div class="col-md-12">
                                <input disabled="disabled" class="form-control" type="text" id="SectionName-detail" name="SectionName" />
                            </div>
                        </div>
                    </div>
                    <div class="sub-field"><i class="flaticon-tool-1"></i> Leave Data</div>
                    <div class="col-md-6 pull-left">

                        <div class="form-group">
                            <label class="control-label col-md-12" for="LeaveTypeId">Type of Leave</label>
                            <div class="col-md-12">
                                <select disabled="disabled" class="form-control" id="LeaveTypeId-detail" name="LeaveTypeId">
                                    @foreach (var p in ViewBag.ListLeave)
                                    {
                                        <option value="@p.Id">@p.Name</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="attachmentDetail"></div>
                        <div class="form-group">
                            <label class="control-label col-md-12" for="Reason">Reason</label>
                            <div class="col-md-12">
                                <textarea disabled="disabled" class="form-control" id="Reason-detail" name="Reason"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pull-left">

                        <div class="form-group hide">
                            <label class="control-label col-md-12" for="DateType">Leave Used</label>
                            <div class="col-md-12">
                                <div class="kt-radio-inline">
                                    <input type="hidden" value="RANGE" name="DatePickType" id="DatePickType-detail" />
                                    <label class="kt-radio kt-radio--tick kt-radio--primary">
                                        <input value="RANGE" type="radio" checked name="DateType" class="select-date-type dateTypeRange"> Pick Range Date
                                        <span></span>
                                    </label>
                                    <label class="kt-radio kt-radio--tick kt-radio--primary">
                                        <input value="SINGLE" type="radio" name="DateType" class="select-date-type dateTypeSingle"> Pick one by one date
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group rangeDatePicker">
                            <label class="control-label col-md-12" for="Date">Date of Leave</label>
                            <div class="col-md-12">
                                <input disabled="disabled" type="text" id="Date-detail" name="Date" class="form-control" value="" />
                                <input type="hidden" id="StartDate-detail" name="StartDate" value="" />
                                <input type="hidden" id="EndDate-detail" name="EndDate" value="" />
                                <div class="has-error date-error"></div>
                            </div>
                        </div>
                        <div class="form-group singleDatePicker">
                            <label class="control-label col-md-12">Pick Single Date</label>
                            <div class="input-group date">
                                <input disabled="disabled" type="text" class="form-control kmsi-datepicker" id="SingleDate-1-detail" name="SingleDate[]" placeholder="Select date" />
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="addDate(this)">
                                        <i class="la la-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="blockNewSingleDate-detail"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12" for="LeaveUsed">Leave Used</label>
                            <div class="col-md-12">
                                <input type="number" disabled="disabled" id="LeaveUsed-detail" name="LeaveUsed" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 hide">
                        <iframe class="hide detail-attachment" title="PDF in an i-Frame" src="PDFData.pdf" frameborder="1" scrolling="auto" width="100%" height="400"></iframe>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->


@section Scripts{
    <script>
        var arr_leave_date = [];
        var arr_holiday = [];
        function addDate(el) {
            var indexDate = 1;
            $(".blockNewSingleDate .cloneDate").each(function (index) {
                indexDate++;
            });
            indexDate = indexDate + 1;
            var new_date = '<div class="input-group date cloneDate"><input type="text" class="form-control kmsi-datepicker" id="SingleDate-' + indexDate + '" name="SingleDate[]" readonly placeholder="Select date" /><div class="input-group-append"><span class="input-group-text" data-index="' + indexDate + '" onclick="removeDate(this)"><i class="la la-minus"></i></span></div><br></div>';
            $('.blockNewSingleDate').append(new_date);
            selectSingleDate();
        }

        function selectSingleDate() {
            $('.kmsi-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                datesDisabled: arr_holiday,
            }).on('changeDate', function (e) {
                arr_leave_date = [];
                var dateSelect = 0;
                $(".kmsi-datepicker").each(function (index) {
                    var valueDate = $(this).val();
                    if (valueDate != "") {
                        arr_leave_date.push(valueDate);
                        dateSelect++;
                    }

                    $('#ArrDate').val(JSON.stringify(arr_leave_date));
                });
                $('#LeaveUsed').val(dateSelect);
            });
        }

        function removeDate(el) {
            var arr_leave_date = [];
            var indexDate = $(el).attr('data-index');
            $('#SingleDate-' + indexDate).parent().remove();
            var dataIndex = 1;
            $(".blockNewSingleDate .cloneDate").each(function (index) {
                dataIndex = dataIndex + 1;
                $(this).find('.kmsi-datepicker').attr('id', 'SingleDate-' + dataIndex);
                $(this).find('.kmsi-datepicker .input-group-text').attr('data-index', dataIndex);
            });

            var dateSelect = 0;
            $(".kmsi-datepicker").each(function (index) {
                var valueDate = $(this).val();
                if (valueDate != "") {
                    arr_leave_date.push(valueDate);
                    dateSelect++;
                }
                $('#ArrDate').val(JSON.stringify(arr_leave_date));
            });
            $('#LeaveUsed').val(dateSelect);
        }

        function setDateUsed(startDate, endDate) {
            arr_leave_date = [];
            $('.date-error').html("");
            var listDate = [];
            var dateMove = new Date(startDate);
            var strDate = startDate;
            var countLeave = 0;
            if (startDate == endDate) {
                $(".arrHoliday").each(function (index) {
                    var date_holiday = $(this).attr('data-date');
                    date_holiday = moment(date_holiday).format('YYYY-MM-DD');
                    var name_holiday = $(this).attr('data-name');
                    if (strDate == date_holiday) {
                        var error = '<div>Tanggal ' + date_holiday + ' adalah hari libur ' + name_holiday + '</div>';
                        is_holiday = true;
                        $('.date-error').append(error);
                    }
                });

                if (is_holiday) {


                } else {
                    arr_leave_date.push(strDate);
                    countLeave++;
                }
            } else {
                while (strDate < endDate) {
                    var strDate = dateMove.toISOString().slice(0, 10);
                    listDate.push(strDate);
                    dateMove.setDate(dateMove.getDate() + 1);
                    var is_holiday = false;
                    $(".arrHoliday").each(function (index) {
                        var date_holiday = $(this).attr('data-date');
                        date_holiday = moment(date_holiday).format('YYYY-MM-DD');
                        var name_holiday = $(this).attr('data-name');
                        if (strDate == date_holiday) {
                            var error = '<div>Tanggal ' + date_holiday + ' adalah hari libur ' + name_holiday + '</div>';
                            is_holiday = true;
                            $('.date-error').append(error);
                        }
                    });

                    if (is_holiday) {


                    } else {
                        arr_leave_date.push(strDate);
                        countLeave++;
                    }
                    console.log(strDate);
                };
            }


            $('#LeaveUsed').val(countLeave);
            $('#ArrDate').val(JSON.stringify(arr_leave_date));
        }

        $(function () {
            $('input[name="Date"]').daterangepicker({
                opens: 'left',
            }, function (start, end, label) {
                $('#StartDate').val(start.format('YYYY-MM-DD'));
                $('#EndDate').val(end.format('YYYY-MM-DD'));
                setDateUsed(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
            });
        });

        $(document).ready(function () {
            $(".arrHoliday").each(function (index) {
                var date_holiday = $(this).attr('data-date');
                date_holiday = moment(date_holiday).format('YYYY-MM-DD');
                arr_holiday.push(date_holiday);
            });
            $('.singleDatePicker').hide();
            $('.select-date-type').change(function () {
                if (this.value == 'RANGE') {
                    $('#DatePickType').val('RANGE');
                    arr_leave_date = [];
                    $('#ArrDate').val("");
                    $('.blockNewSingleDate').html("");
                    $('#LeaveUsed').val("");
                    $('.singleDatePicker').hide();
                    $('.rangeDatePicker').show();
                } else {
                    $('#DatePickType').val('SINGLE');
                    arr_leave_date = [];
                    $('#ArrDate').val("");
                    $('.kmsi-datepicker').val("");
                    $('#LeaveUsed').val("");
                    $('.singleDatePicker').show();
                    $('.rangeDatePicker').hide();
                }
            });

            var url_delete = $('#url_delete').val();
            var url_edit = $('#url_edit').val();
            var url_detail = $('#url_detail').val();
            var url_approve = $('#url_approve').val();
            var url_reject = $('#url_reject').val();
        });

        function popDetail(el) {
            $('.attachmentDetail').append("");
            $('.detail-attachment').addClass('hide');
            var arrDate = [];
            var id = $(el).attr('data-leave');

            var url_data = '/Leave/Data/' + id;
            $.get(url_data, function (data, status) {
                var response = JSON.parse(data);
                console.log(response);
                if (status == 'success') {
                    $('#modal_detail').modal('show');

                    if (response.Leave.LeaveTypeId == 9) {
                        var AttachName = response.Leave.Attachment;
                        var item = '<div class="fileItmName"><a target="_blank" href="/FileUpload/Leave/' + AttachName + '">' + AttachName + '</a></div>';
                        $('.attachmentDetail').append(item);
                        //$('.detail-attachment').removeClass('hide');
                        //$('.detail-attachment').attr('src', '/FileUpload/Leave/' + response.Leave.Attachment)
                    } else {
                        $('.attachmentDetail').addClass('hide');
                    }


                    $('#UserName-detail').val(response.Leave.UserName);
                    $('#Nrp-detail').val(response.Leave.Nrp);
                    $('#SectionName-detail').val(response.Leave.SectionName);
                    $('#Reason-detail').val(response.Leave.Reason);
                    $('#LeaveTypeId-detail').val(response.Leave.LeaveTypeId);
                    if (response.Leave.DatePickType == "RANGE") {
                        $('.dateTypeRange').click();
                        setTimeout(function () {
                            var convert_s_date = response.Leave.StartDate;
                            var convert_e_date = response.Leave.EndDate;
                            convert_s_date = moment(convert_s_date).format('YYYY-MM-DD');
                            convert_e_date = moment(convert_e_date).format('YYYY-MM-DD');
                            convert_s_date2 = moment(convert_s_date).format('MM/DD/YYYY');
                            convert_e_date2 = moment(convert_e_date).format('MM/DD/YYYY');
                            $('#StartDate-detail').val(convert_s_date);
                            $('#EndDate-detail').val(convert_e_date);
                            $('#Date-detail').val(convert_s_date2 + '-' + convert_e_date2);
                            setDateUsed(convert_s_date, convert_e_date);
                        }, 500);
                    } else {
                        $('.blockNewSingleDate-detail').html("");
                        $('.dateTypeSingle').click();
                        setTimeout(function () {
                            for (var i = 0; i < response.LeaveHistory.length; i++) {
                                var date = moment(response.LeaveHistory[i].Date).format('YYYY-MM-DD');
                                arrDate.push(date);
                                if (i == 0) {
                                    $('#SingleDate-1-detail').val(date);
                                } else {
                                    var indexDate = i + 1;
                                    var new_date = '<div class="input-group date cloneDate"><input disabled="disabled" type="text" class="form-control kmsi-datepicker" id="SingleDate-' + indexDate + '-detail" name="SingleDate[]" placeholder="Select date" /><div class="input-group-append"><span class="input-group-text" data-index="' + indexDate + '"><i class="la la-minus"></i></span></div><br></div>';
                                    $('.blockNewSingleDate-detail').append(new_date);
                                    selectSingleDate();
                                    $('#SingleDate-' + indexDate + '-detail').val(date);
                                }
                            }
                            $('#LeaveUsed-detail').val(response.LeaveHistory.length);
                        }, 500);
                    }

                    $('#LeaveUsed-detail').val(response.Leave.LeaveUsed);

                } else {
                    alert('Error please check your connection')
                }
            });
        }

        function popApprove_OLD(el) {
            var id = $(el).attr('data-leave');
            var name = $(el).attr('data-name');
            var section = $(el).attr('data-section');
            var attachment = $(el).attr('data-attachment');
            var leavetypeid = $(el).attr('data-leavetypeid');
            var date = $(el).parent().parent().parent().find('.date-td').html();
            $('.datePop').html(date);
            $('.namePop').html(name);
            $('.attachmentPop').attr('src', 'FileUpload/Leave/' + attachment);
            $('.sectionPop').html(section);
            var arrLeaveId = [];
            arrLeaveId.push(id);
            if (leavetypeid == 9) {
                $('.attachmentPop').removeClass('hide');
            } else {
                $('.attachmentPop').addClass('hide');
            }
            $('#LeaveId_approve').val(JSON.stringify(arrLeaveId));
        }

        function popApprove(el) {
            var id = $(el).attr('data-leave');
            var arrLeaveId = [];
            arrLeaveId.push(id);
            $('#LeaveId_approve').val(JSON.stringify(arrLeaveId));

            swal.fire({
                title: 'Are you sure want to approve?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Approve'
            }).then(function (result) {
                console.log(result);
                if (result.value) {
                    $("#form-approve").submit();
                }
            });
        }

        function popReject(el) {
            $('.reject-alert').addClass('hide');
            $('#RejectReason').val("");
            var id = $(el).attr('data-leave');
            var name = $(el).attr('data-name');
            var attachment = $(el).attr('data-attachment');
            var leavetypeid = $(el).attr('data-leavetypeid');
            var section = $(el).attr('data-section');
            $('.attachmentPop').attr('src', 'FileUpload/Leave/' + attachment);
            var date = $(el).parent().parent().parent().find('.date-td').html();
            $('.datePop').html(date);
            $('.namePop').html(name);
            $('.sectionPop').html(section);

            if (leavetypeid == 9) {
                $('.attachmentPop').removeClass('hide');
            } else {
                $('.attachmentPop').addClass('hide');
            }

            var arrLeaveId = [];
            arrLeaveId.push(id);
            $('#LeaveId_reject').val(JSON.stringify(arrLeaveId));
        }

        // Variable to hold request
        var request;
        $("#form-approve").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_approve').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_approve').modal('hide');
                var data = JSON.parse(response);
                if (data.status == true) {
                    swal.fire(
                        'Approved.',
                        '',
                        'success'
                    )
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    window.datatable.reload();
                } else {
                    swal.fire(
                        'Failed Approve.',
                        data.message,
                        'error'
                    )
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                //$('#modal_approve').modal('hide');
                //$('.kmsi-alert').removeClass('hide');
                //$('.kmsi-alert-text').html('Save error please check your connection');
                swal.fire(
                    'Approve Failed',
                    'Approve error please check your connection.',
                    'error'
                )
            });
        });


        var request;
        $("#form-reject").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            var reject_reason = $('#RejectReason').val();
            if (reject_reason == "") {
                $('.reject-alert').removeClass('hide');
                $('.reject-alert-text').html("Please input reject reason");
                return;
            }

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_reject').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_reject').modal('hide');
                var data = JSON.parse(response);
                if (data.status == true) {
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    swal.fire(
                        'Rejected.',
                        '',
                        'success'
                    )
                    window.datatable.reload();
                } else {
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    swal.fire(
                        'Failed reject.',
                        data.message,
                        'error'
                    )
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                //$('#modal_reject').modal('hide');
                //$('.kmsi-alert').removeClass('hide');
                //$('.kmsi-alert-text').html('Save error please check your connection');
                swal.fire(
                    'Failed reject.',
                    'Reject error please check your connection',
                    'error'
                )
            });
        });

        function approveAll(el) {
            $('.ArrLeaveId_all').val(JSON.stringify(window.arrLeaveId));
            //$('#modal_approve_all').modal('show');
            swal.fire({
                title: 'Are you sure want to approve?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Approve'
            }).then(function (result) {
                console.log(result);
                if (result.value) {
                    $("#form-approve-all").submit();
                }
            });
        }

        function rejectAll(el) {
            $('.ArrLeaveId_all').val(JSON.stringify(window.arrLeaveId));
            //$('#modal_reject_all').modal('show');
            swal.fire({
                title: 'Are you sure want to reject?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                cancelButtonClass: "btn btn-default",
                buttonsStyling: false,
                confirmButtonText: 'Reject',
                confirmButtonClass: "btn btn-danger",
            }).then(function (result) {
                console.log(result);
                if (result.value) {
                    $("#form-reject-all").submit();
                }
            });
        }

        var request;
        $("#form-approve-all").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_approve').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_approve_all').modal('hide');
                var data = JSON.parse(response);
                if (data.status == true) {
                    swal.fire(
                        'Approved.',
                        '',
                        'success'
                    )
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    window.datatable.reload();
                } else {
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    swal.fire(
                        'Approve Failed.',
                        data.message,
                        'error'
                    )
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                //$('#modal_approve_all').modal('hide');
                //$('.kmsi-alert').removeClass('hide');
                //$('.kmsi-alert-text').html('Save error please check your connection');
                swal.fire(
                    'Approve Failed.',
                    'Please check your connection',
                    'error'
                )
            });
        });


        var request;
        $("#form-reject-all").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_reject').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_reject_all').modal('hide');
                var data = JSON.parse(response);
                if (data.status == true) {
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    swal.fire(
                        'Rejected.',
                        '',
                        'success'
                    )
                    window.datatable.reload();
                } else {
                    //$('.kmsi-alert').removeClass('hide');
                    //$('.kmsi-alert-text').html(data.message);
                    swal.fire(
                        'Reject Failed.',
                        data.message,
                        'error'
                    )
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                //$('#modal_reject_all').modal('hide');
                //$('.kmsi-alert').removeClass('hide');
                //$('.kmsi-alert-text').html('Save error please check your connection');
                swal.fire(
                    'Reject Failed.',
                    'Reject error please check your connection',
                    'error'
                )
            });
        });

        //ktDatatable metronic
        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/ApprovalLeave/List'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState: {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,

                pagination: true,

                // columns definition

                columns: [
                    {
                        field: 'Id',
                        title: '#',
                        sortable: false,
                        width: 20,
                        selector: {
                            class: 'kt-checkbox--solid'
                        },
                        textAlign: 'center',
                    }, {
                        field: 'LeaveTypeName',
                        title: 'Type',
                        sortable: 'asc'
                    }, {
                        field: 'UserName',
                        title: 'Name Of Applicant',
                        template: function (row) {
                            var result = '<span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="/Content/assets/profile.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">' + row.UserName + '</a><span class="kt-user-card-v2__desc">' + row.Nrp + '</span></div></div></span>';
                            return result;
                        }
                    }, {
                        field: 'SectionName',
                        title: 'Section',
                    }, {
                        field: 'Reason',
                        title: 'Reason',
                    }, {
                        field: 'Date',
                        title: 'Date',
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Date.length; i++) {
                                var new_date = moment(row.Date[i].Date).format('YYYY-MM-DD');
                                result = result + '<div> - ' + new_date + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Actions',
                        title: 'Actions',
                        sortable: false,
                        width: 110,
                        overflow: 'visible',
                        textAlign: 'left',
                        autoHide: false,
                        template: function (row) {
                            if (row.Status == "SUBMITED" || row.Status == "PROCESSING") {
                                var result = '<span data-leavetypeid="' + row.LeaveTypeId + '" data-attachment="' + row.Attachment + '" data-section="' + row.SectionName + '" data-name="' + row.UserName + '" data-leave="' + row.Id + '"  class="approveBtn btn btn-sm btn-clean btn-icon btn-icon-md" title="Approve" ><i class="la la-check"></i></span>';
                                result = result + '<span data-leavetypeid="' + row.LeaveTypeId + '" data-attachment="' + row.Attachment + '" data-section="' + row.SectionName + '" data-name="' + row.UserName + '" data-leave="' + row.Id + '"  class="rejectBtn btn btn-sm btn-clean btn-icon btn-icon-md" title="Reject" data-toggle="modal" data-target="#modal_reject"><i class="la la-close"></i></span>';
                                result = result + '<span data-leave="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md detailBtn" title="Detail" data-toggle="modal" data-target="#modal_detail"><i class="flaticon2-file" style="cursor:pointer;"></i></span>';
                            } else {
                                var result = "";
                            }


                            return result;
                        },
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                $('#sectionSearch').on('change', function () {
                    datatable.search($(this).val(), 'Section');
                });

                $('#kt_form_type').on('change', function () {
                    datatable.search($(this).val().toLowerCase(), 'Type');
                });

                $('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrLeaveId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrLeaveId.push(value);
                        }
                        console.log(window.arrLeaveId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });

            };

            return {
                // public functions
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function () {
            KMSIDatatable.init();

            $(document).on("click", ".approveBtn", function () {
                var el = $(this);
                popApprove(el);
            });

            $(document).on("click", ".detailBtn", function () {
                var el = $(this);
                popDetail(el);
            });

            $(document).on("click", ".rejectBtn", function () {
                var el = $(this);
                popReject(el);
            });
        });
    </script>
}

