﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Patrol Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Task List
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit">
            @*@Session["UserId"]*@
            <div class="kt-datatable" id="datatable-kmsi"></div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image_followup">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image Follow Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->



<input type="hidden" id="url_data" value="/Mytask/Data" />
<input type="hidden" id="url_create" value="/Mytask/Create" />
<input type="hidden" id="url_save" value="/Mytask/Create" />

@section Scripts
{
    <script>

        function popImage(el)
        {
            var id = $(el).attr('data-id');
            //alert(id);
            //clear modal
            $('#modal_image').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("getImg")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/' + data.data[i].img + '" width="350" height="150" />';
                                $('#modal_image').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }

                            $("#modal_image").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Crosspatroll/OpenCrossPatrolList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol',
                        width: 150,
                    },{
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400,
                    }, {
                        field: 'Date',
                        title: 'Patrol Date',
                        width: 100,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.Date).format('YYYY-MM-DD');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'NPatrol',
                        title: 'Note patrol',
                        width: 200,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.NPatrol.length; i++) {
                                var new_member = row.NPatrol[i].NPatrol;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Is_Completed',
                        title: 'Status',
                        width: 100,
                        template: function (row) {
                            if (row.Is_Completed == null) {
                                var result = '<span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Open</span>';
                            } else if (row.Is_Completed == "1") {
                                var result = '<span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Close</span>';
                            }
                            return result;
                        },
                    }, {
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        width: 120,
                        autoHide: false,
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imageBtn" title="View Image" data-toggle="modal" data-target="#modal_image"><i class="flaticon-eye" style="cursor:pointer;"></i></span>';
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                //datatableEducation.on(
                //    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                //    function (e) {
                //        var checkedNodes = datatableEducation.rows('.kt-datatable__row--active').nodes();
                //        var count = checkedNodes.length;
                //        $('#kt_datatable_selected_number').html(count);
                //        if (count > 0) {
                //            $('#kt_datatable_group_action_form').collapse('show');
                //        } else {
                //            $('#kt_datatable_group_action_form').collapse('hide');
                //        }
                //    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function ()
        {
            KMSIDatatable.init();

            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });

            $(document).on("click", ".imageBtn", function () {
                var el = $(this);
                popImage(el);
            });
        });

    </script>
}
