﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Patrol Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Assesment List
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-datatable" id="datatable-kmsi"></div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_edit">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <input type="hidden" id="id" name="id" />
                <input type="hidden" id="levelid" name="levelid" />
                <input type="hidden" id="category" name="category" />
                <input type="hidden" id="txtkerugian" name="txtkerugian" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assesment & Follow Up Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="kt-portlet__body">

                        <label class="control-label col-md-12" for="StartYear"><h5>Patrol Information</h5></label>
                        <div class="kt-separator kt-separator--dashed kt-separator--xs">
                        </div>

                        <div class="form-group form-group-last row">

                            <div class="col-md-6 pull-left">
                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Descrition</label>
                                    <div class="col-md-12">
                                        <textarea class="form-control" name="description" id="description" readonly></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 pull-right">
                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Patrol Date</label>
                                    <div class="col-md-12">
                                        <div class="input-group date">
                                            <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="PatrolDate" name="PatrolDate" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <label class="control-label col-md-12" for="StartYear"><h5>Assesment Information</h5></label>
                        <div class="kt-separator kt-separator--dashed kt-separator--xs">
                        </div>

                        <div class="form-group form-group-last row">
                            <div class="col-md-6 pull-left">

                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Pilih Tingkat Kerugian</label>
                                    <div class="col-md-12">
                                        <input type="radio" name="kerugian" id="keselamatan" value="keselamatan"> Keselamatan &nbsp
                                        <input type="radio" name="kerugian" id="kesehatan" value="kesehatan"> Kesehatan &nbsp
                                        <input type="radio" name="kerugian" id="property" value="property">Property
                                    </div>
                                </div>

                                <div id="blk_keselamatan" style="display: none">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="form-control select2" id="t_kerugian1" name="t_kerugian1" onchange="calculate(this)">
                                                <option></option>
                                                <option value="10">Fatal tidak bisa bekerja lagi</option>
                                                <option value="7">Luka serius,hari kerja hilang</option>
                                                <option value="5">Luka sedang,tidak ada hari kerja hilang</option>
                                                <option value="2">Luka kecil</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div id="blk_kesehatan" style="display: none">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="form-control select2" id="t_kerugian2" name="t_kerugian2" onchange="calculate(this)">
                                                <option></option>
                                                <option value="10">Penyakit kronis(jangka panjang)</option>
                                                <option value="7">Mengganggu fungsi tubuh</option>
                                                <option value="5">Harus di tangani dokter</option>
                                                <option value="2">Gangguan sesaat</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div id="blk_property" style="display: none">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="form-control select2" id="t_kerugian3" name="t_kerugian3" onchange="calculate(this)">
                                                <option></option>
                                                <option value="10">Kerugian diatas 10 juta</option>
                                                <option value="7">Kerugian antara 5 sd 10 juta</option>
                                                <option value="5">Kerugian antara 1 sd 5 juta</option>
                                                <option value="2">Kerugian dibawah 1 juta</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Kemungkinan Terjadi</label>
                                    <div class="col-md-12">
                                        <select class="form-control select2" id="k_terjadi" name="k_terjadi" onchange="calculate(this)">
                                            <option></option>
                                            <option value="6">Pasti Terjadi</option>
                                            <option value="4">Sangat Mungkin Terjadi</option>
                                            <option value="2">Mungkin Terjadi</option>
                                            <option value="1">Kemungkinan Terjadi Kecil</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Frequensi Kejadian</label>
                                    <div class="col-md-12">
                                        <select class="form-control select2" id="f_terjadi" name="f_terjadi" onchange="calculate(this)">
                                            <option></option>
                                            <option value="4">Sering Terjadi(>1/thn)</option>
                                            <option value="3">Pernah terjadi</option>
                                            <option value="2">Pernah hampir terjadi</option>
                                            <option value="1">tidak pernah terjadi</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="level"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 pull-right">

                                @*<div class="form-group">
                                        <label class="control-label col-md-12" for="StartYear">PIC</label>
                                        <div class="col-md-12">
                                            <select class="form-control kt-select2 member_select2" name="pic" id="pic" multiple>
                                                <option value="2">User 1</option>
                                                <option value="6">user 2</option>
                                                <option value="3">user 3</option>
                                            </select>
                                        </div>
                                    </div>*@

                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Due Date</label>
                                    <div class="col-md-12">
                                        <div class="input-group date">
                                            <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="Date" name="Date" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image_followup">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                        <div id="notefinding">
                        </div>
                    </div>
                    <div class="col-md-pull-12">
                        @*<img src="~/UploadFile/20191112023212-IPA Logo.png" id="myimage" width="350" height="150" />
                            <div id="tampilimage"></div>
                            <img id="my_image" />*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->


<input type="hidden" id="url_data" value="/Hirarc/Data" />
<input type="hidden" id="url_get_data" value="/Hirarc/Get_byAssementID" />
<input type="hidden" id="url_get_data_Genba" value="/Hirarc/Get_byAssementIDGenba" />
<input type="hidden" id="url_create" value="/Hirarc/Save" />

@section Scripts
{
    <script>

        var arr_leave_date = [];
        var arr_holiday = [];

        function selectSingleDate() {
            $('.kmsi-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                datesDisabled: arr_holiday,
                todayBtn: "linked",
                clearBtn: true,
            }).on('changeDate', function (e) {
                arr_leave_date = [];
                var dateSelect = 0;
                $(".kmsi-datepicker").each(function (index) {
                    var valueDate = $(this).val();
                    if (valueDate != "") {
                        arr_leave_date.push(valueDate);
                        dateSelect++;
                    }
                    $('#ArrDate').val(JSON.stringify(arr_leave_date));
                });
                $('#LeaveUsed').val(dateSelect);
            });
        }

        function rdCheck() {
            $('input[type="radio"]').click(function () {
                if ($(this).attr("value") == "keselamatan") {
                    document.getElementById("blk_keselamatan").style.display = "block";
                    document.getElementById("blk_kesehatan").style.display = "none";
                    document.getElementById("blk_property").style.display = "none";

                }
                if ($(this).attr("value") == "kesehatan") {
                    document.getElementById("blk_keselamatan").style.display = "none";
                    document.getElementById("blk_kesehatan").style.display = "block";
                    document.getElementById("blk_property").style.display = "none";

                }
                if ($(this).attr("value") == "property") {
                    document.getElementById("blk_keselamatan").style.display = "none";
                    document.getElementById("blk_kesehatan").style.display = "none";
                    document.getElementById("blk_property").style.display = "block";
                }
            });
            $('input[type="radio"]').trigger('click');
        }

        function popEdit(el) {
            //clear data
            $('#t_kerugian1').val("val", "").trigger('change.select2'); //reset select2
            $('#t_kerugian2').val("val", "").trigger('change.select2'); //reset select2
            $('#t_kerugian3').val("val", "").trigger('change.select2'); //reset select2
            $('#category').val("val", "").trigger('change.select2'); //reset select2
            $('#k_terjadi').val("val", "").trigger('change.select2'); //reset select2
            $('#f_terjadi').val("val", "").trigger('change.select2'); //reset select2
            $('#pic').val("val", "").trigger('change.select2'); //reset select2
            document.getElementById('level').innerHTML = "";

            $("#form_edit")[0].reset();
            //$('#category').val("val", "").trigger('change.select2'); //reset select2

            var id = $(el).attr('data-id');
            $('#id').val(id);
           var patroll = $(el).attr('data-patroll');
            //alert(patroll);
            var url_data = null;
            if (patroll == 1) {
                url_data = $('#url_get_data').val() + '/' + id;
            } else if (patroll == 0) {
                url_data = $('#url_get_data_Genba').val() + '/' + id;
            }

            $.get(url_data, function (data, status) {
                var response = data.data;
                console.log(response)
                if (status == 'success') {
                    $("#description").val(response.Description);
                    $("#PatrolDate").val(response.Date);

                    setTimeout(function () {
                        selectSingleDate();
                        var date = moment(response.Date).format('YYYY-MM-DD');
                        $('#PatrolDate').val(date);
                        //$('#modal_edit').modal('show');
                    }, 1000);
                }
            });
        }

        function popImage(el)
        {
            var id = $(el).attr('data-id');
            //alert(id);
            //clear modal

             var patroll = $(el).attr('data-patroll');
            //alert(patroll);
            var urlaction = null;
            var urlimg = null;
            if (patroll == 1) { urlaction = '@Url.Action("getImageFinding")'; urlimg = 'Patroll'; } else if (patroll == 0) { urlaction = '@Url.Action("getImageGenba")'; urlimg = 'Genba'; }
            $('#modal_image').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                 global: false,
                @*//url: '@Url.Action("getImageFinding")',*@
                 url: urlaction,
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/' + urlimg +'/' + data.data[i].img + '" width="350" height="150" />';
                                $('#modal_image').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }
                            $("#modal_image").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        function calculate() {
            var txtkerugian, txtkerugian, total, leveltxt, level, category, lbllevel, color;
            var terjadi = document.getElementById('k_terjadi').value;
            var frequency = document.getElementById('f_terjadi').value;

            if (document.getElementById('keselamatan').checked) {
                kerugian = document.getElementById('t_kerugian1').value;
                txtkerugian = document.getElementById('t_kerugian1').innerText;
                category = "Keselamatan";
            } else if (document.getElementById('kesehatan').checked) {
                kerugian = document.getElementById('t_kerugian2').value;
                txtkerugian = document.getElementById('t_kerugian2').innerText;
                category = "Kesehatan";
            } else if (document.getElementById('property').checked) {
                kerugian = document.getElementById('t_kerugian3').value;
                txtkerugian = document.getElementById('t_kerugian3').innerText;
                category = "Property";
            } else {
                kerugian = 0;
            }

            if (kerugian != "" && terjadi != "" && frequency != "") {
                total = parseInt(kerugian) + parseInt(terjadi) + parseInt(frequency);
                if (total >= 16 && total <= 20) {
                    leveltxt = "Level : IV"; level = 4; color = '#ff0000';
                } else if (total >= 11 && total <= 15) {
                    leveltxt = "Level : III"; level = 3; color = '#ff6600';
                } else if (total >= 7 && total <= 10) {
                    leveltxt = "Level : II"; level = 2; color = '#ffff00';
                } else if (total <= 7) {
                    leveltxt = "Level : I"; level = 1; color = '#33cc33';
                }
                lbllevel = "<table><tr bgcolor =" + color + "><td><h5>" + leveltxt + "</h5></td></tr></table>";
                //alert(level);
                document.getElementById('level').innerHTML = lbllevel;
                document.getElementById('levelid').value = level;
                document.getElementById('category').value = category;
                document.getElementById('txtkerugian').value = txtkerugian;
            }
        }

        var request;
        $("#form_edit").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_create').val(),
                type: "post",
                data: serializedData,
                success: function (data, status) {
                    if (data.status) {
                        $("#modal_edit").modal("hide");
                        window.datatable.reload();
                        setTimeout(function () {
                            toastr.success(data.message, data.data.Id);
                        }, 400);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }
            });
        });

        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Hirarc/List'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 120,
                    },{
                        field: 'Findings',
                        title: 'Uraian',
                        width: 800,
                    }, {
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        width: 120,
                        autoHide: false,
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" data-patroll="' + row.is_patroll +'" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_edit"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
                            result += '<span data-id="' + row.Id + '" data-patroll="' + row.is_patroll+'" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imageBtn" title="View Image" data-toggle="modal" data-target="#modal_image"><i class="flaticon-eye" style="cursor:pointer;"></i></span>';

                            return result;
                        }
                    }, {
                        field: 'Category_Assesment',
                        title: 'Category Assesment',
                        width: 150,

                    }, {
                        field: 'Proses_Utama',
                        title: 'Proses Utama',
                        width: 80,
                    }, {
                        field: 'Tipe_Risiko',
                        title: 'Tipe Risiko',
                        width: 80,
                    }, {
                        field: 'Activity',
                        title: 'Activity',
                        width: 80,
                    }, {
                        field: 'Description',
                        title: 'Description',
                        width: 80,
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                //datatableEducation.on(
                //    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                //    function (e) {
                //        var checkedNodes = datatableEducation.rows('.kt-datatable__row--active').nodes();
                //        var count = checkedNodes.length;
                //        $('#kt_datatable_selected_number').html(count);
                //        if (count > 0) {
                //            $('#kt_datatable_group_action_form').collapse('show');
                //        } else {
                //            $('#kt_datatable_group_action_form').collapse('hide');
                //        }
                //    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function () {

            selectSingleDate();
            rdCheck();

            $('#t_kerugian1').select2({ placeholder: "-- Select --", width: '100%', });
            $('#t_kerugian2').select2({ placeholder: "-- Select --", width: '100%', });
            $('#t_kerugian3').select2({ placeholder: "-- Select --", width: '100%', });
            $('#k_terjadi').select2({ placeholder: "-- Select --", width: '100%', });
            $('#f_terjadi').select2({ placeholder: "-- Select --", width: '100%', });
            $('#pic').select2({ placeholder: "-- Selecr --", width: '100%', tags: true });

            KMSIDatatable.init();

            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });

            $(document).on("click", ".imageBtn", function () {
                var el = $(this);
                popImage(el);
            });

        });

    </script>
}
