﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Patrol History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Risk Monitoring History
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-datatable" id="datatable-kmsi"></div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_edit">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <input type="hidden" id="id" name="id" />
                <input type="hidden" id="levelid" name="levelid" />
                <input type="hidden" id="category" name="category" />
                <input type="hidden" id="txtkerugian" name="txtkerugian" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Re-Assesment Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="col-md-6 pull-left">
                        ASSESMENT
                        <hr />

                        <div class="form-group">
                            <label class="control-label col-md-12" for="StartYear">Pilih Tingkat Kerugian</label>
                            <div class="col-md-12">
                                <input type="radio" name="kerugian" id="keselamatan" value="keselamatan"> Keselamatan &nbsp
                                <input type="radio" name="kerugian" id="kesehatan" value="kesehatan"> Kesehatan &nbsp
                                <input type="radio" name="kerugian" id="property" value="property">Property
                            </div>
                        </div>

                        <div id="blk_keselamatan" style="display: none">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control select2" id="t_kerugian1" name="t_kerugian1" onchange="calculate(this)">
                                        <option></option>
                                        <option value="10">Fatal tidak bisa bekerja lagi</option>
                                        <option value="7">Luka serius,hari kerja hilang</option>
                                        <option value="5">Luka sedang,tidak ada hari kerja hilang</option>
                                        <option value="2">Luka kecil</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="blk_kesehatan" style="display: none">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control select2" id="t_kerugian2" name="t_kerugian2" onchange="calculate(this)">
                                        <option></option>
                                        <option value="10">Penyakit kronis(jangka panjang)</option>
                                        <option value="7">Mengganggu fungsi tubuh</option>
                                        <option value="5">Harus di tangani dokter</option>
                                        <option value="2">Gangguan sesaat</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="blk_property" style="display: none">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control select2" id="t_kerugian3" name="t_kerugian3" onchange="calculate(this)">
                                        <option></option>
                                        <option value="10">Kerugian diatas 10 juta</option>
                                        <option value="7">Kerugian antara 5 sd 10 juta</option>
                                        <option value="5">Kerugian antara 1 sd 5 juta</option>
                                        <option value="2">Kerugian dibawah 1 juta</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-12" for="StartYear">Kemungkinan Terjadi</label>
                            <div class="col-md-12">
                                <select class="form-control select2" id="k_terjadi" name="k_terjadi" onchange="calculate(this)">
                                    <option></option>
                                    <option value="6">Pasti Terjadi</option>
                                    <option value="4">Sangat Mungkin Terjadi</option>
                                    <option value="2">Mungkin Terjadi</option>
                                    <option value="1">Kemungkinan Terjadi Kecil</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-12" for="StartYear">Frequensi Kejadian</label>
                            <div class="col-md-12">
                                <select class="form-control select2" id="f_terjadi" name="f_terjadi" onchange="calculate(this)">
                                    <option></option>
                                    <option value="4">Sering Terjadi(>1/thn)</option>
                                    <option value="3">Pernah terjadi</option>
                                    <option value="2">Pernah hampir terjadi</option>
                                    <option value="1">tidak pernah terjadi</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="level"></div>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-6 pull-right">
                        FOLLOW UP
                        <hr />

                        <div id="blk_followdate" style="display: none">
                            <div class="form-group">
                                <label class="control-label col-md-12" for="StartYear">Due Date</label>
                                <div class="col-md-12">
                                    <div class="input-group date">
                                        <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="Date" name="Date" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar-check-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_list">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <input type="hidden" id="iddata" name="iddata" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Finding PIC</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                        <div class="kt-datatable" id="datatable-approved"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_view">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Risk Monitoring History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="kt-portlet__body">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_5_1">Partol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_2">Follow Up</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="kt_tabs_5_1" role="tabpanel">

                                <div class="col-md-pull-12">
                                    <div class="addnew" style="padding: 10px;background-color:#669999;color:#fff">
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Patrol
                                                </th>
                                                <th>
                                                    Patrole Date
                                                </th>
                                                <th>
                                                    Due Date
                                                </th>
                                                <th>
                                                    Note
                                                </th>
                                                <th>
                                                    Image
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="kt_tabs_5_2" role="tabpanel">
                                <div class="col-md-pull-12">
                                    <div class="followuptb" style="padding: 10px;background-color:#669999;color:#fff">
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Level
                                                </th>
                                                <th>
                                                    Note
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Follow Up Date
                                                </th>
                                                <th>
                                                    Image
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_image_followup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image_followup">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image Follow Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->


<input type="hidden" id="url_data" value="/Hirarc/Data" />
<input type="hidden" id="url_create" value="/Hirarc/Save" />
<input type="hidden" id="url_reassesment" value="/Hirarc/Resave" />
<input type="hidden" id="url_data" value="/Hirarc/Data" />

@section Scripts
{
    <script>

        function clear() {
            $("#Note").val('');
            $("#Description").val('');
            $("#DateFollowup").val('');

            $('#Type').val("val", "").trigger('change.select2'); //reset select2             
            $('#LocationID').val("val", "").trigger('change.select2'); //reset select2             
            $('#PlantID').val("val", "").trigger('change.select2'); //reset select2             
            $('#Member').val("val", "").trigger('change.select2'); //reset select2             
            $('#form_edit')[0].reset();
        }


        function popdetail(el) {
            var id = $(el).attr('data-id');
            $('#id').val(id);
            $("#iddata").val(id);
            //alert(id);
            // var assesmentid = document.getElementById("iddata").value;
            //alert(assesmentid);
            KMSIDatatablelist.init();


        }

        function popView(el) {
            //call function clear
            $('.rowappend').remove();

            var id = $(el).attr('data-id');            
            $('#id').val(id);

            //alert(patroll);
            var urlaction = "";
            var urlimag = "";
            var patroll = $(el).attr('data-patroll');
            if (patroll == 1) { urlaction = '@Url.Action("Get_PatrolInfohistory")'; urlimag = 'Patroll'; } else if (patroll == 0) { urlaction = '@Url.Action("Get_GenbaInfohistory")'; urlimag = 'Genba'; }

            $.ajax({
                type: "GET",
                global: false,
                url: urlaction,
                data: { id: id },
                    success: function (data, status)
                    {

                            for (var i = 0; i < data.dataView.length; i++) {

                                var newData = '<tr class="rowappend"><td>' + data.dataView[i].PatrolName + '</td>';
                                newData += '<td>' + moment(data.dataView[i].Date).format('YYYY-MM-DD') + '</td> <td>' + moment(data.dataView[i].due_date).format('YYYY-MM-DD') + '</td>';
                                newData += '<td>';
                                for (var j = 0; j < data.dataView[i].Note.length; j++) {

                                    newData += ''+data.dataView[i].Note[j].Note +'<br/>';
                                }
                                newData += '</td >';
                                newData += '<td><span data-id="' + data.dataView[i].Id + '"  data-patroll="' + data.dataView[i].is_patroll + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imgBtn" title="View Image" data-toggle="modal" data-target="#modal_image"><i class="flaticon-eye" style="cursor:pointer;"></i></span></td></tr >';

                                $('.addnew table').append(newData);
                            }

                            $("#modal_view").modal();

                    }
            });

             $.ajax({
                type: "GET",
                global: false,
                url:'@Url.Action("getFollowup")',
                data: { id: id },
                success: function (data, status)
                {
                    if (data.status) {
                        console.log("success");
                        var level = null;
                        for (var i = 0; i < data.dataView.length; i++) {
                            if (data.dataView[i].level == '4') { level = 'IV' }
                            else if (data.dataView[i].level == '3') { level = 'III' }
                            else if (data.dataView[i].level == '2') { level = 'II' }
                            var newData = '<tr class="rowappend"><td>' + level + '</td>';
                            newData += '<td>' + data.dataView[i].Note + '</td>';
                            newData += '<td>';
                            if (data.dataView[i].Desc_Eliminasi != "" && data.dataView[i].Desc_Eliminasi != null) { newData += "Eliminasi :" + data.dataView[i].Desc_Eliminasi + '<br/>'; }
                            if (data.dataView[i].Desc_Subtitusi != "" &&  data.dataView[i].Desc_Subtitusi != null) { newData += "Subtitusi :" +data.dataView[i].Desc_Subtitusi + '<br/>'; }
                            if (data.dataView[i].Desc_Engineering != "" &&  data.dataView[i].Desc_Engineering != null) { newData += "Enginering :" +data.dataView[i].Desc_Engineering + '<br/>'; }
                            if (data.dataView[i].Desc_Administrasi != "" &&  data.dataView[i].Desc_Administrasi != null) { newData += "Administrasi :" +data.dataView[i].Desc_Administrasi + '<br/>'; }
                            if (data.dataView[i].Desc_APD != "" &&  data.dataView[i].Desc_APD != null) { newData += "APD :" +data.dataView[i].Desc_APD; }

                            newData += '</td>';
                            newData += '<td>' + moment(data.dataView[i].DateFollowup).format('YYYY-MM-DD') + '</td>';
                            newData += '<td><span data-id="' + data.dataView[i].Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imageBtn" title="View Image" data-toggle="modal" data-target="#modal_image_followup"><i class="flaticon-eye" style="cursor:pointer;"></i></span></td></tr > ';
                            $('.followuptb table').append(newData);
                            $("#modal_viewfollowup").modal();
                        }

                    } else {
                        console.log("error");
                    }
                }
                });

        }


        function popImage(el) {
            var id = $(el).attr('data-id');
            var patroll = $(el).attr('data-patroll');
            $('#id').val(id);

             var urlaction = "";
            var urlimag = "";
            if (patroll == 1) { urlaction = '@Url.Action("getDetailMonitoringHistoryImage")'; urlimag = 'Patroll'; } else if (patroll == 0) { urlaction = '@Url.Action("getImageGenba")'; urlimag = 'Genba'; }

            //alert(patroll);
            //clear modal
            $('#modal_image').find('.modal-body').html("");

             $.ajax({
                type: "GET",
                global: false,
                url: urlaction,
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                //alert(data.dataView[i].img);
                                var imagedata = '<img src="UploadFile/' + urlimag + '/' + data.data[i].img + '" width="350" height="150" />';
                                $('#modal_image').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }

                            $("#modal_image").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });

        }

        function popImagefolowup(el)
        {
            var id = $(el).attr('data-id');
            $('#id').val(id);
            //alert(id);
            //clear modal
            $('#modal_image_followup').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("getDetailmageFollowup")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/Followup/Safety/' + data.data[i].Img + '" width="350" height="150" />';
                                $('#modal_image_followup').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }

                            $("#modal_image_followup").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Hirarc/Listhistory'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol Name',
                        width: 120,
                    },{
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400,
                        //template: function (row) {
                        //    var result = '<a data-id ="' + row.Id + '" class="detailBtn" title="View submitted" data-toggle="modal" data-target="#modal_list" href="#" >' + row.Findings + '</a>';
                        //    return result;
                        //}
                    }, {
                        field: 'levelID',
                        title: 'Level',
                        width: 50,
                        template: function (row) {
                            if (row.levelID == null) {
                                var result = '';
                            } else {
                                if (row.levelID == "1") {
                                    var result = 'I';
                                } else if (row.levelID == "2") {
                                    var result = 'II';
                                } else if (row.levelID == "3") {
                                    var result = 'III';
                                } else if (row.levelID == "4") {
                                    var result = 'IV';
                                }
                            }
                            return result;
                        },
                    }, {
                        field: 'Date',
                        title: 'Patrol Date',
                        width: 80,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.Date).format('MMM DD, YYYY');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'due_date',
                        title: 'Due Date',
                        width: 80,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.due_date).format('MMM DD, YYYY');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'is_status',
                        title: 'Status',
                        width: 80,
                        sortable: 'desc',
                        template: function (row) {
                            if (row.is_status == null) {
                                var result = '';
                            } else {
                                if (row.is_status == "1") {
                                    var result = '<span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Open</span>';
                                } else if (row.is_status == "2") {
                                    var result = '<span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Submitted</span>';
                                } else if (row.is_status == "3") {
                                    var result = '<span class="kt-badge  kt-badge--warning kt-badge--inline kt-badge--pill">Re-Open</span>';
                                } else if (row.is_status == "4") {
                                    var result = '<span class="kt-badge  kt-badge--primary kt-badge--inline kt-badge--pill">Closed</span>';
                                }
                            }
                            return result;
                        },
                    }, {
                        field: 'pic',
                        title: 'PIC',
                        width: 80,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.pic.length; i++) {
                                var new_member = row.pic[i].pic;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    },{
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        width: 120,
                        autoHide: false,
                        template: function (row) {

                            var result = '<span data-id="' + row.Id + '" data-patroll="' + row.is_patroll + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md viewBtn" title="View Data" data-toggle="modal" data-target="#modal_view"><i class="flaticon-eye" style="cursor:pointer;"></i></span>';
                          return result;
                        }
                    }, {
                        field: 'Location',
                        title: 'Location',
                        width: 400,
                    },
                    {
                        field: 'Plant',
                        title: 'Plant',
                        width: 400,
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                //datatableEducation.on(
                //    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                //    function (e) {
                //        var checkedNodes = datatableEducation.rows('.kt-datatable__row--active').nodes();
                //        var count = checkedNodes.length;
                //        $('#kt_datatable_selected_number').html(count);
                //        if (count > 0) {
                //            $('#kt_datatable_group_action_form').collapse('show');
                //        } else {
                //            $('#kt_datatable_group_action_form').collapse('hide');
                //        }
                //    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function () {

            KMSIDatatable.init();

            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });

            $(document).on("click", ".detailBtn", function () {
                var id = $(this).data("id");
            });

            $(document).on("click", ".viewBtn", function () {
                var el = $(this);
                popView(el);
            });

            $(document).on("click", ".imgBtn", function () {
                var el = $(this);
                popImage(el);
            });

            $(document).on("click", ".imageBtn", function () {
                var el = $(this);
                popImagefolowup(el);
            });

        });

    </script>
}
