﻿
@{
    ViewBag.Title = "Modal Multi Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Patrol List
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button @*onclick="popCreate()"*@ data-toggle="modal" data-target="#mdl_add" class="btn btn-brand btn-icon-sm">
                        <i class="flaticon2-plus"></i> Create
                    </button>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="mdl_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_delete_Education">
        <div class="modal-dialog" role="document">
            <div class="modal-content">                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sample Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Home"))
                    {
                        @*@Html.DropDownList("Location", null, "-- Select Location --", htmlAttributes: new { @class = "form-control" })*@
                        @*@Html.DropDownList("Location", null, "-- Select Location --", htmlAttributes: new { multiple = "multiple", @class = "form-control" })*@
                        <div class="form-group">
                            <label class="control-label col-md-12">Member</label>
                            <div class="col-md-12">
                                <select class="form-control kt-select2" id="Member" name="param" multiple="multiple">
                                    <option value="User 1" selected>User 1</option>
                                    <option value="User 2">User 2</option>
                                    <option value="User 3">User 3</option>
                                    <option value="User 4">User 4</option>
                                    <option value="User 5">User 5</option>
                                    <option value="User 6">User 6</option>
                                </select>
                            </div>
                        </div>
                    }
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger deleteConfirm" value="Delete" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->

@*<input type="hidden" id="url_ajax_save_Education" value="/Patrol/Create" />
<input type="hidden" id="url_create_Education" value="/Patrol/Create" />
<input type="hidden" id="url_data_Education" value="/Patrol/Data" />
<input type="hidden" id="url_delete_Education" value="/Patrol/Delete" />
<input type="hidden" id="url_edit_Education" value="/Patrol/Edit" />
<input type="hidden" id="url_detail_Education" value="/Patrol/Details" />*@

@section Scripts 
{
<script>
    $(document).ready(function (){
        // multi select
        $('#Member').select2({
            placeholder: "Select a state",
        });
    });
</script>
    
}
