.cloneDate{
	margin-top:10px;
}

.hide{
	display:none !important;
}

.disabled.disabled-date.day {
    color: #cd171c;
}

.addnew th,.addnew  td{
    color:#fff !important
}

.colorDate{
    color:red !important;
}

.blockExpense {
    border-bottom: 1px dotted #cdc6c6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple, 
.select2-container--default.select2-container--disabled .select2-selection--single {
    border-color: #cdc6c6 !important;
}

.uploadfile {
    opacity: 1;
    position: absolute;
    /* top: 0; */
    bottom: 23px;
}

.previewImg {
    max-height: 300px;
    max-width: 300px;
    padding: 10px;
}

.sub-field {
    color: #5867dd;
    padding: 3px 3px 10px 10px;
    width: 100%;
    border-bottom: 1px solid #e9e3e3;
    margin-top: 5px;
    margin-bottom: 15px;
}

.fileItmName {
    background-color: #f7f8fa;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}
    .fileItmName i {
        font-size: 0.8rem;
        margin-right: 10px;
    }
