﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Follow Up Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Follow Up List
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-datatable" id="datatable-kmsi"></div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_edit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <input type="hidden" id="id" name="id" />
                <input type="hidden" id="levelid" name="levelid" />
                <input type="hidden" id="category" name="category" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Follow Up Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="col-md-pull-12">
                        <div class="form-group">
                            <label>Assigment</label>
                            <select class="form-control kt-select2 member_select2" name="Member" id="Member" multiple>
                                <option value="user 1">User 1</option>
                                <option value="user 2">user 2</option>
                                <option value="user 3">user 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-pull-12">
                        <div class="form-group">
                            <label>Note</label>
                            <textarea class="form-control" name="note" id="note" ></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->


<input type="hidden" id="url_data" value="/Assesment/Data" />
<input type="hidden" id="url_create" value="/Assesment/Create" />

@section Scripts
{
<script>   

    function popEdit(el) {
            var id = $(el).attr('data-id');
            $('#id').val(id);

            //alert(id);
            //var url_edit = $('#url_edit').val() + '/' + id;
            //$('#url_ajax_save').val(url_edit);

            //var url_data = $('#url_data').val() + '/' + id;
            //$.get(url_data, function (data, status) {
            //    var response = data.data;
            //    console.log(response)
            //    if (status == 'success') {

            //        //alert(response.Id);
            //        var e = "<b>Findings Information:</b><hr/>";
            //        e += "<table>";
            //        //e += "<tr><td>Categori</td><td>:</td><td>" + category + "</td></tr>";
            //        //e += "<tr><td>Finding</td><td>:</td><td>" + finding + "</td></tr>";
            //        e += "<tr><td>Note</td><td>:</td><td>" + response.Note + "</td></tr>";
            //        e += "<tr><td>Value</td><td>:</td><td>" + response.CatNilai + "</td></tr>";
            //        e += "</table>";
            //        document.getElementById("Result").innerHTML = e;
            //        //$('#id').val(response.id);
            //        //$('#PatrolName-edit').val(response.PatrolName);
            //        //$('#Date-edit').val(response.Date);
            //        //$('#Location-edit').val(response.Location).trigger('change.select2');
            //        //$('#Plant-edit').val(response.Plant).trigger('change.select2');
            //        //$('#Type-edit').val(response.Type).trigger('change.select2');
            //        //alert(response.Type);

            //        //setTimeout(function () {
            //        //    selectSingleDate();
            //        //    var date = moment(response.Date).format('YYYY-MM-DD');
            //        //    $('#Date-edit').val(date);
            //        //    $('#modal_edit').modal('show');
            //        //}, 1000);
            //    } else {
            //        alert('Error please check your connection')
            //    }
            //});
        }

    var request;
    $("#form_edit").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_create').val(),
                type: "post",
                data: serializedData
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_edit').modal('hide');
                var data = JSON.parse(response);
                if (data.status == true) {
                    swal.fire(
                        'Approved.',
                        '',
                        'success'
                    )
                    window.datatable.reload();
                } else {
                    swal.fire(
                        'Approve Failed.',
                        data.message,
                        'error'
                    )
                }
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                swal.fire(
                    'Approve Failed.',
                    'Please check your connection',
                    'error'
                )
            });
        });

    var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/followup/List'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'CategoryKerugian',
                        title: 'Category Kerugian',
                        width: 150,

                    }, {
                        field: 'Kerugian',
                        title: 'Kerugian',
                        width: 80,
                    }, {
                        field: 'K_Terjadi',
                        title: 'Kemungkinan Terjadi',
                        width: 80,
                    }, {
                        field: 'F_Terjadi',
                        title: 'Frequency Terjadi',
                        width: 80,
                    }, {
                        field: 'levelID',
                        title: 'level',
                        width: 80,

                    }, {
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        autoHide: false,
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_edit"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

    $(document).ready(function ()
    {           
            $('#t_kerugian1').select2({ placeholder: "-- Select --", width: '100%', });
            $('#t_kerugian2').select2({ placeholder: "-- Select --", width: '100%', });
            $('#t_kerugian3').select2({ placeholder: "-- Select --", width: '100%', });
            $('#k_terjadi').select2({ placeholder: "-- Select --", width: '100%', });
        $('#f_terjadi').select2({ placeholder: "-- Select --", width: '100%', });
        $('#Member').select2({
            placeholder: "Add a tag",
            width: '100%',
            tags: true
        });

            KMSIDatatable.init();

            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });
    });

    </script>
}
