﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Dashboard Incident";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var BPN = ViewBag.BPN;
    var BJM = ViewBag.BJM;
    var PLB = ViewBag.PLB;
    var JKT = ViewBag.JKT;

    Double total = BPN + BJM + PLB + JKT;
    Double BPNVal = Math.Round(((BPN / total) * 100),2);
    Double BJMVal = Math.Round(((BJM / total) * 100),2);
    Double PLBVal = Math.Round(((PLB / total) * 100),2);
    Double JKTVal = Math.Round(((JKT / total) * 100),2);

    var Human = ViewBag.Human;
    var Procedure = ViewBag.Procedure;
    var Lifting = ViewBag.Lifting;
    var Environment = ViewBag.Enviroment;

    Double Tot = Human + Procedure + Lifting + Environment;
    Double HumanVal = Math.Round(((Human / Tot) * 100), 2);
    Double ProcedureVal = Math.Round(((Human + Procedure / Tot) * 100), 2);
    Double LiftingVal = Math.Round(((Human + Procedure + Lifting / Tot) * 100), 2);
    Double EnvVal = Math.Round(((Human + Procedure + Lifting + Environment / Tot) * 100), 2);

}

<div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--danger kt-iconbox--animate-fast">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M14,7 C13.6666667,10.3333333 12.6666667,12.1167764 11,12.3503292 C11,12.3503292 12.5,6.5 10.5,3.5 C10.5,3.5 10.287918,6.71444735 8.14498739,10.5717225 C7.14049032,12.3798172 6,13.5986793 6,16 C6,19.428689 9.51143904,21.2006583 12.0057195,21.2006583 C14.5,21.2006583 18,20.0006172 18,15.8004732 C18,14.0733981 16.6666667,11.1399071 14,7 Z" fill="#000000" />
                                </g>
                            </svg>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h3 class="kt-iconbox__title">
                                <a class="kt-link" href="#"> @ViewBag.Incident</a>
                            </h3>
                            <div class="kt-iconbox__content">
                                <h5>Incident</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--success kt-iconbox--animate-slow">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M1.4152146,4.84010415 C11.1782334,10.3362599 14.7076452,16.4493804 12.0034499,23.1794656 C5.02500006,22.0396582 1.4955883,15.9265377 1.4152146,4.84010415 Z" fill="#000000" opacity="0.3" />
                                    <path d="M22.5950046,4.84010415 C12.8319858,10.3362599 9.30257403,16.4493804 12.0067693,23.1794656 C18.9852192,22.0396582 22.5146309,15.9265377 22.5950046,4.84010415 Z" fill="#000000" opacity="0.3" />
                                    <path d="M12.0002081,2 C6.29326368,11.6413199 6.29326368,18.7001435 12.0002081,23.1764706 C17.4738192,18.7001435 17.4738192,11.6413199 12.0002081,2 Z" fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h3 class="kt-iconbox__title">
                                <a class="kt-link" href="#">@ViewBag.Date</a>
                            </h3>
                            <div class="kt-iconbox__content">
                                <h5>Day Since Last Incident</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--warning kt-iconbox--animate-slower">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <rect fill="#000000" x="4" y="16" width="4" height="4" rx="1" />
                                    <rect fill="#000000" x="4" y="10" width="4" height="4" rx="1" />
                                    <rect fill="#000000" x="10" y="16" width="4" height="4" rx="1" />
                                    <rect fill="#000000" opacity="0.3" x="10" y="10" width="4" height="4" rx="1" />
                                    <rect fill="#000000" x="4" y="4" width="4" height="4" rx="1" />
                                    <rect fill="#000000" x="16" y="16" width="4" height="4" rx="1" />
                                </g>
                            </svg>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h3 class="kt-iconbox__title">
                                <a class="kt-link" href="#"> @ViewBag.NonLTA</a>
                            </h3>
                            <div class="kt-iconbox__content">
                                <h5>Accident non LTA</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="kt-portlet kt-iconbox kt-iconbox--warning kt-iconbox--animate-faster">
                <div class="kt-portlet__body">
                    <div class="kt-iconbox__body">
                        <div class="kt-iconbox__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M18.5,8 C17.1192881,8 16,6.88071187 16,5.5 C16,4.11928813 17.1192881,3 18.5,3 C19.8807119,3 21,4.11928813 21,5.5 C21,6.88071187 19.8807119,8 18.5,8 Z M18.5,21 C17.1192881,21 16,19.8807119 16,18.5 C16,17.1192881 17.1192881,16 18.5,16 C19.8807119,16 21,17.1192881 21,18.5 C21,19.8807119 19.8807119,21 18.5,21 Z M5.5,21 C4.11928813,21 3,19.8807119 3,18.5 C3,17.1192881 4.11928813,16 5.5,16 C6.88071187,16 8,17.1192881 8,18.5 C8,19.8807119 6.88071187,21 5.5,21 Z" fill="#000000" opacity="0.3" />
                                    <path d="M5.5,8 C4.11928813,8 3,6.88071187 3,5.5 C3,4.11928813 4.11928813,3 5.5,3 C6.88071187,3 8,4.11928813 8,5.5 C8,6.88071187 6.88071187,8 5.5,8 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 C14,5.55228475 13.5522847,6 13,6 L11,6 C10.4477153,6 10,5.55228475 10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,18 L13,18 C13.5522847,18 14,18.4477153 14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 C10,18.4477153 10.4477153,18 11,18 Z M5,10 C5.55228475,10 6,10.4477153 6,11 L6,13 C6,13.5522847 5.55228475,14 5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 C18.4477153,14 18,13.5522847 18,13 L18,11 C18,10.4477153 18.4477153,10 19,10 Z" fill="#000000" />
                                </g>
                            </svg>
                        </div>
                        <div class="kt-iconbox__desc">
                            <h3 class="kt-iconbox__title">
                                <a class="kt-link" href="#"> @ViewBag.LTA</a>
                            </h3>
                            <div class="kt-iconbox__content">
                                <h5>Accident(LTA)</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Severity
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="Severity_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Type of Incdent
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="TypeIncident_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Injury Consequence
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="Injury_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>


        <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Accident & Incident By Location
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="IncidentLocation_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

        @*<div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Cause of Accident & Incident
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="CauseIncident_graph" style="height:250px;"></div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>*@

        <div class="col-xl-6 col-lg-6 order-lg-3 order-xl-1">
            <!--begin:: Widgets/Sale Reports-->
            <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Cause of Accident & Incident
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--Begin::Tab Content-->
                    <div class="kt-widget11">
                        <div id="example-section15">
                            <div id="legendPlaceholder"></div>
                            <div id="flotcontainer" style="width: 100%;height:200px; text-align: left;"></div>
                        </div>
                    </div>
                </div>
                <!--End::Tab Content-->
            </div>
        </div>

    </div>
</div>



@section Scripts
{

    <script>

        var KTMorrisChartsDemo = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Low',
                    a: @ViewBag.Low,                    
                },
                {
                    y: 'Medium',
                    a: @ViewBag.Medium
                },
                {
                    y: 'High',
                    a: @ViewBag.High
                },{
                    y: 'Critical',
                    a: @ViewBag.Critical
                }],
                //config manager
                config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#00cc99']

                    };
                //config element name
                config.element = 'Severity_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KTMorrisChartsDemo2 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Injury',
                    a: @ViewBag.Injury
                },
                {
                    y: 'Property Damage',
                    a: @ViewBag.Demage
                },
                {
                    y: 'Health/illness',
                    a: @ViewBag.Health
                }, {
                    y: 'Harassment',
                    a: @ViewBag.Harassment
                    }, {
                    y: 'Other',
                        a: @ViewBag.Other
                    }],
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#ffff00']

                    };
                //config element name
                config.element = 'TypeIncident_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KTMorrisChartsDemo3 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Lost time',
                    a: @ViewBag.LostTime
                },
                {
                    y: 'Medical case',
                    a: @ViewBag.MedicalCase
                },
                {
                    y: 'First Aid',
                    a: @ViewBag.FirstAid
                }, {
                    y: 'No treatment',
                    a: @ViewBag.NoTreatmnet
                }],
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#333300']

                    };
                //config element name
                config.element = 'Injury_graph';
                new Morris.Bar(config);
            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();

        var KTFlotchartsDemo4 = function () {

            // Private functions
            var demo8 = function () {
                var data = [
                    { label: "KMS BPN", data: @BPNVal, color: KTApp.getStateColor("danger") },
                    { label: "KMSI BJM", data: @BJMVal, color: KTApp.getStateColor("success") },
                    { label: "KMSI PLB", data: @PLBVal, color: KTApp.getStateColor("warning") },
                    { label: "KMSI JKT", data: @JKTVal, color: KTApp.getStateColor("brand") }
                ];

                $.plot($("#IncidentLocation_graph"), data, {
                    series: {
                        pie: {
                            show: true
                        }
                    }
                });
            }       

            return {
                // public functions
                init: function () {
                    // default charts                    
                    demo8();                    
                }
            };
        }();

        var KTFlotchartsDemo5 = function () {

            var Criteria = function () {
                var data = [{
                    y: 'Human Error',
                    a: @ViewBag.Human
                },
                {
                    y: 'Procedure',
                    a: @ViewBag.Procedure
                },
                {
                    y: 'Lifting Operation',
                    a: @ViewBag.Lifting
                },
                {
                    y: 'Enviroment',
                    a: @ViewBag.Enviroment
                }],
                    //config manager
                    config = {
                        data: data,
                        xkey: 'y',
                        ykeys: ['a'],
                        labels: ['Values'],
                        lineColors: ['#6e4ff5', '#f6aa33'],
                        resize: true,
                        xLabelAngle: '80',
                        xLabelMargin: '10',
                        parseTime: false,
                        gridTextSize: '10',
                        gridTextColor: '#5cb85c',
                        verticalGrid: true,
                        hideHover: 'auto',
                        barColors: ['#ffff00']

                    };
                //config element name
                config.element = 'CauseIncident_graph';
                new Morris.Bar(config);

            }

            return {
                // public functions
                init: function () {
                    //Location();
                    Criteria();
                }
            };
        }();


        jQuery(document).ready(function () {

            KTMorrisChartsDemo.init();
            KTMorrisChartsDemo2.init();
            KTMorrisChartsDemo3.init();
            KTFlotchartsDemo4.init();
            //KTFlotchartsDemo5.init();


            var options = {
                series: {
                    shadowSize: 0
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: '#f0f0f0',
                    borderWidth: 0,
                    color: '#333333'
                },
                xaxis: {
                    tickDecimals: 0,
                    tickSize: 1,
                    tickFormatter: function (val, axis) {
                        return val;
                    }
                },
                yaxes: [{
                    tickLength: 0,
                    minTickSize: 1,
                    min: 0,
                    position: "left",
                    font: {
                        color: '#ccc'
                    }
                }, {
                    position: "right",
                    minTickSize: 10,
                    min: 0,
                    tickLength: 0,
                    font: {
                        color: '#ccc'
                    }
                }]
            };

            var line_options = {
                show: true,
                lineWidth: 2,
                fill: false,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.7
                    }]
                }
            };
            var bar_options = {
                show: true,
                align: 'center',
                lineWidth: 0,
                fill: true,
                barWidth: 0.6
            };

            $(function () {
                var stack1 = {
                    label: 'stack1',
                    data: [
                        [0,  @ViewBag.Human],
                        [1,  @ViewBag.Procedure],
                        [2,  @ViewBag.Lifting],
                        [3,  @ViewBag.Enviroment]                        
                    ],
                    stack: true,
                    bars: bar_options
                };               
                var line = {
                    label: 'line',
                    data: [
                        [0, @HumanVal],
                        [1, @ProcedureVal],
                        [2, @LiftingVal],
                        [3, @EnvVal]                        
                    ],
                    yaxis: 2,
                    stack: false,
                    lines: line_options,
                    points: {
                        radius: 5,
                        show: true
                    },
                };
                var dataset = [stack1, line];

                var plot = $.plot($("#example-section15 #flotcontainer"), dataset, options);
            });

        });


    </script>
}
