﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "List Patrol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Accident & Incident List
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button onclick="popCreate()" data-toggle="modal" data-target="#modal_create" class="btn btn-brand btn-icon-sm">
                        <i class="flaticon2-plus"></i> Create
                    </button>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <input type="hidden" id="IdDelete" name="IdDelete" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Area you sure want to delete this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger deleteConfirm" value="Delete" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->

<!--begin::Modal-->
<div class="modal fade" id="modal_create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_create">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Accident & Incident Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <input type="hidden" id="Id" name="Id" value="0" />
                        <div class="col-md-6 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12">Date</label>
                                <div class="col-md-12">
                                    <div class="input-group date">
                                        <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="Date" name="Date" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar-check-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12" for="EducationLevel">Description</label>
                                <div class="col-md-12">
                                    <textarea id="Description" name="Description" class="form-control" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12" for="StartYear">Type</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="Type" name="Type">
                                        <option></option>
                                        <option value="Accident">Accident</option>
                                        <option value="Incident">Incident</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12" for="StartYear">Severity</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="Severity" name="Severity">
                                        <option></option>
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                        <option value="Critical">Critical</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12">Type Incident</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="TypeIncident" name="TypeIncident">
                                        <option></option>
                                        <option value="Injury">Injury</option>
                                        <option value="Property Damage">Property Damage</option>
                                        <option value="Health/illness">Health/illness</option>
                                        <option value="Harassment/illness">Harassment/illness</option>
                                        <option value="Fatality">Fatality</option>
                                        <option value="Lifting Operation">Lifting Operation</option>
                                        <option value="Enviroment">Enviroment</option>
                                        <option value="Human Error">Human Error</option>
                                        <option value="Procedure">Procedure</option>
                                        <option value="Tools">Tools</option>
                                        <option value="Reguler">Reguler</option>
                                        <option value="Ireguler">Ireguler</option>
                                        <option value="Day Shift Normal">Day Shift Normal</option>
                                        <option value="Day Shift Overtime">Day Shift Overtime</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Injury Consequence</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="InjuryConsequence" name="InjuryConsequence">
                                        <option></option>
                                        <option value="Lost Time">Lost Time</option>
                                        <option value="Medical Case">Medical Case</option>
                                        <option value="First Aid">First Aid</option>
                                        <option value="No Treatment">No Treatment</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Time</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="TimeIncident" name="TimeIncident">
                                        <option></option>
                                        <option value="Day shift Normal">Day shift Normal</option>
                                        <option value="Day Shift Overtime">Day Shift Overtime</option>
                                        <option value="Night shift Normal">Night shift Normal</option>
                                        <option value="Night shift Overtime">Night shift Overtime</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Location</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="Location" name="Location">
                                        <option></option>
                                        <option value="Balikpapan">BPN</option>
                                        <option value="Banjarmasin">BJM</option>
                                        <option value="Palembang">PLB</option>
                                        <option value="Jakarta">JKT</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Incident Cost</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2" id="IncidentCost" name="IncidentCost">
                                        <option></option>
                                        <option value="5K">Lost Time</option>
                                        <option value="Cross Patrol">Tools & Facility</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->

<input type="hidden" id="url_save" value="/Incident/Create" />
<input type="hidden" id="url_get"   value="/Incident/GetById" />
<input type="hidden" id="url_delete" value="/Incident/Delete" />
<input type="hidden" id="url_edit" value="/Patrol/Edit" />

@section Scripts
{

    <script>

        var arr_leave_date = [];
        var arr_holiday = [];

        function selectSingleDate() {
            $('.kmsi-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                datesDisabled: arr_holiday,
                todayBtn: "linked",
                clearBtn: true,
            }).on('changeDate', function (e) {
                arr_leave_date = [];
                var dateSelect = 0;
                $(".kmsi-datepicker").each(function (index) {
                    var valueDate = $(this).val();
                    if (valueDate != "") {
                        arr_leave_date.push(valueDate);
                        dateSelect++;
                    }
                    $('#ArrDate').val(JSON.stringify(arr_leave_date));
                });
                $('#LeaveUsed').val(dateSelect);
            });
        }

        function popCreate() {

            selectSingleDate();
            $('#form_create')[0].reset();
        }

        function popEdit(el) {

            //selectSingleDate();
            var id = $(el).attr('data-id');
            //alert(id);
            

            var url_data = $('#url_get').val() + '/' + id;
            $.get(url_data, function (response) {
                if (response.status = true) {
                    $('#Id').val(response.data.Id);
                    $('#Description').val(response.data.Description);
                    $('#IncidentCost').val(response.data.IncidentCost).trigger('change.select2');
                    $('#Location').val(response.data.Location).trigger('change.select2');
                    $('#TimeIncident').val(response.data.TimeIncident).trigger('change.select2');
                    $('#InjuryConsequence').val(response.data.InjuryConsequence).trigger('change.select2');
                    $('#TypeIncident').val(response.data.TypeIncident).trigger('change.select2');
                    $('#Severity').val(response.data.Severity).trigger('change.select2');
                    $('#Type').val(response.data.Type).trigger('change.select2');

                    setTimeout(function () {
                        selectSingleDate();
                        var date = moment(response.data.Date).format('YYYY-MM-DD');
                        $('#Date').val(date);                       
                        $('#modal_create').modal('show');
                    }, 1000);
                } else {
                    console.log("Error please check your connection");
                }
            });
            $('.date-error').html("");
            $("#form_create")[0].reset();
        }

        function popDelete(el) {

            var id = $(el).attr('data-id');
            $('#IdDelete').val(id);
            //alert(id);
        }

        var KTFormControls = function () {
            // Private functions

            var validationForm = function () {
                $("#form_create").validate({
                    // define validation rules
                    rules: {
                        Date: { required: true },
                        Type: { required: true },
                        Severity: { required: true },
                        Location: { required: true },
                        TypeIncident: { required: true },
                        TimeIncident: { required: true },
                        IncidentCost: { required: true },
                        InjuryConsequence: { required: true }
                    },

                    //display error alert on form submit
                    invalidHandler: function (event, validator) { },

                    submitHandler: function (form) {
                        event.preventDefault();

                        var $form = $('#form_create');

                        // Let's select and cache all the fields
                        var $inputs = $form.find("input, select, textarea");
                        var serializedData = $form.serialize();                        

                        request = $.ajax({
                            url: $('#url_save').val(),
                            type: "post",
                            data: serializedData,
                            success: function (data, status) {
                                if (data.status) {
                                    $("#modal_create").modal("hide");
                                    window.datatable.reload();
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(jqXHR, textStatus, errorThrown);
                            }
                        });
                    }
                });
            }

            return {
                // public functions
                init: function () {
                    validationForm();
                },
                reset: function () {
                    $('#form_create_and_edit_Education').find('.is-invalid').removeClass('is-invalid');
                    $('#form_create_and_edit_Education').find('.invalid-feedback').remove();
                }
            };
        }();

        var request;
        $("#form_delete").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();
            var id = $("#IdDelete").val();
            //var id = 1;
            var url_delete = $('#url_delete').val() + '/' + id;

            request = $.ajax({
                url: url_delete,
                type: "post",
                data: serializedData,
                success: function (data, status) {
                    if (data.status) {
                        $("#modal_delete").modal("hide");
                        window.datatable.reload();
                        //setTimeout(function () {
                        //    toastr.success(data.message, data.data.Id);
                        //}, 400);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }

            });            
        });

        //data table kdatatable
        var KMSIDatatable = function () {
            // Private functions
            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Incident/GetIncidentList' 
                        },
                    },
                    pageSize: 35,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState: {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 850, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition

                columns: [
                    {
                        field: 'Date',
                        title: 'Date',
                        width: 100,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            var new_date = moment(row.Date).format('MMM DD, YYYY');
                            result = result + '<div>' + new_date + '</div> ';
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Description',
                        title: 'Description',
                        width: 300
                    }, {
                        field: 'Type',
                        title: 'Type',
                        width: 100                        
                    }, {
                        field: 'Severity',
                        title: 'Severity',
                        width: 80                        
                    }, {
                        field: 'TypeIncident',
                        title: 'Type Incident',
                        width: 150
                    }, {
                        field: 'InjuryConsequence',
                        title: 'Injury Consequence',
                        width: 150
                    }, {
                        field: 'TimeIncident',
                        title: 'Time Incident',
                        width: 100
                    }, {
                        field: 'Location',
                        title: 'Location',
                        width: 80
                    }, {
                        field: 'IncidentCost',
                        title: 'Incident Cost',
                        width: 150
                    },{
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        width: 110,
                        overflow: 'visible',
                        textAlign: 'left',
                        autoHide: false,
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_create"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
                            result = result + '<span data-id="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md deleteBtn" title="Delete" data-toggle="modal" data-target="#modal_delete"><i class="flaticon2-trash" style="cursor:pointer;"></i></span>';                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });

            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function () {
            KTFormControls.init();
            KMSIDatatable.init();

            $('#IncidentCost').select2({ placeholder: "-- Select Incident Cost --", width: '100%', });
            $('#Location').select2({ placeholder: "-- Select Location --", width: '100%', });
            $('#TimeIncident').select2({ placeholder: "-- Select Times --", width: '100%', });
            $('#InjuryConsequence').select2({ placeholder: "-- Select Injury Consequence --", width: '100%', });
            $('#TypeIncident').select2({ placeholder: "-- Select Type Incident --", width: '100%', });
            $('#Severity').select2({ placeholder: "-- Select Severity --", width: '100%', });
            $('#Type').select2({ placeholder: "-- Select Type --", width: '100%', });

            $(document).on("click", ".deleteBtn", function () {
                var el = $(this);
                popDelete(el);
            });

            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });

        });

    </script>
}
