﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Cross Patrol List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double MinusPoint = 0;
    double ClosingPoint = 0;
    double SafetyPoint = 0;
    double FinalPoint = 0;
    double FindingPoint = 0;
    double LastFindingPoint = 0;
    double TotLastFind = 0;

    double TotLastFindOpen = 0;
    double TotLastFindClose = 0;

    if (ViewBag.Score != null)
    {
        MinusPoint = @ViewBag.Score.MinusPoint;
        ClosingPoint = @ViewBag.Score.ClosingPoint;
        SafetyPoint = @ViewBag.Score.SafetyPoint;
        FinalPoint = @ViewBag.Score.FinalPoint;
        FindingPoint = @ViewBag.Score.NewFindingPoint;
        LastFindingPoint = @ViewBag.Score.LastFindingPoint;

    }

    TotLastFindOpen = @ViewBag.Open;
    TotLastFindClose = @ViewBag.Close;
    TotLastFind = (TotLastFindClose / (TotLastFindOpen + TotLastFindClose)) * 100;

}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Cross Patrol List
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">

                </div>
            </div>
        </div>


        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi"></div>
            <!--end: Datatable -->
        </div>

        <div class="kt-portlet__body">
            <br />
            <div class="kt-separator kt-separator--dashed kt-separator--xs">
                <br />
                <h5>Minus Point</h5>
            </div>
            <br />
            <div class="form-group">
                <b>Minus point is applicable in case of:</b><br />
                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable1" value="1"> There is total breakdown of a process or procedure critical to EHS performance<br />
                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable2" value="2"> There are a number of minor lapses in a process, which when taken together, collectively suggest a total breakdown<br />
                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable3" value="3"> The substandard condition is likely to result in an immediate risk<br />
                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable4" value="4"> Where there is a breach of the law<br />
                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable5" value="5"> Where there any accident happened within patrol period (3 months)<br />
            </div>

            <div class="form-group">
                <b>Description of the finding:</b><br />
                <input type="radio" name="rddescription" id="rddescription1" value="0"> There is No Accident happened within 3 months<br />
                <input type="radio" name="rddescription" id="rddescription2" value="166.25"> Non Lost Time Accident happened max 2 times<br />
                <input type="radio" name="rddescription" id="rddescription3" value="332.5"> Accident Class 2 or 3 x Non LTA happened<br />
                <input type="radio" name="rddescription" id="rddescription4" value="498.75"> Accident Class 3 or 2 x Class 2 or 6 x Non LTA happened<br />
                <input type="radio" name="rddescription" id="rddescription5" value="665"> Accident Class 4 happened<br />
            </div>
            <b>Total Minus Point : </b>  @ViewBag.Score.MinusPoint <div id="MinusPoint"></div>
            @*<input type="hidden" name="mp" id="mp" value="@MinusPoint" />*@
            @*@ViewBag.Score.MinusPoint*@

            <div class="kt-separator kt-separator--dashed kt-separator--xs">
            </div>
            <div class="row">

                <div class="col-md-6 pull-left">
                    <div class="form-group">
                        <b>Closing of Findings Point :</b><br />
                        <input type="radio" name="rdclosing" id="rdclosing1" value="25"> 5% - 25% of findings were closed<br />
                        <input type="radio" name="rdclosing" id="rdclosing2" value="50"> 26% - 50% of findings were closed<br />
                        <input type="radio" name="rdclosing" id="rdclosing3" value="100"> 51% - 75% of findings were closed<br />
                        <input type="radio" name="rdclosing" id="rdclosing4" value="150"> 76% - 90% of findings were closed<br />
                        <input type="radio" name="rdclosing" id="rdclosing5" value="200"> 91% - 100% of findings were closed<br />
                    </div>
                    <b>Total Closing Point : </b>  @ViewBag.Score.ClosingPoint <div id="ClosingPoint"></div>
                    @*<input type="hidden" name="cp" id="cp" value="@TotLastFind" />*@
                </div>

                <div class="col-md-6 pull-right">
                    <div class="form-group">
                        <b>Brief description of ALL actual Safety Improvement :</b><br />
                        <input type="radio" name="rdsap" id="rdsap1" value="0"> No Activity<br />
                        <input type="radio" name="rdsap" id="rdsap2" value="20"> Activity is not effective<br />
                        <input type="radio" name="rdsap" id="rdsap3" value="70"> Effective only for small scope<br />
                        <input type="radio" name="rdsap" id="rdsap4" value="120"> Effective for bigger scope<br />
                        <input type="radio" name="rdsap" id="rdsap5" value="135"> Activity could become the MODEL for other company<br />
                    </div>
                    <b>Total Safety Point : </b>  @ViewBag.Score.SafetyPoint <div id="SafetyPoint"></div>
                    @*<input type="hidden" name="sp" id="sp" value="@SafetyPoint" />*@
                </div>

            </div>

            <div class="kt-separator kt-separator--dashed kt-separator--xs">
            </div>
            <div class="kt-widget4">
                <div class="kt-widget4__item">
                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                    </div>
                    <div class="kt-widget4__info">
                    </div>
                    <b>FINAL SCORE : </b> @ViewBag.Score.FinalPoint <div id="FinalScore"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @*<input type="hidden" name="fs" id="fs" value="@FinalPoint" />*@
                </div>
            </div>

        </div>



    </div>
</div>


<input type="hidden" id="url_data" value="/Patrol/Data" />

@section Scripts
{

<script>

         function Edit()
        {
            //minus point
            var MinusPoint = @ViewBag.Score.MinusPoint;
            if (MinusPoint == '0') { $('#rddescription1').prop('checked', true); }
            if (MinusPoint == '166.25') { $('#rddescription2').prop('checked', true); }
            if (MinusPoint == '332.5') { $('#rddescription3').prop('checked', true); }
            if (MinusPoint == '498.75') { $('#rddescription4').prop('checked', true); }
            if (MinusPoint == '665') { $('#rddescription5').prop('checked', true); }

             //minus point
            var ClosingPoint = @ViewBag.Score.ClosingPoint;
            if (ClosingPoint > 5 && ClosingPoint <= 25) { $('#rdclosing1').prop('checked', true); }
            if (ClosingPoint > 26 && ClosingPoint <= 50) { $('#rdclosing2').prop('checked', true); }
            if (ClosingPoint > 51 && ClosingPoint <= 75) { $('#rdclosing3').prop('checked', true); }
            if (ClosingPoint > 76 && ClosingPoint <= 90) { $('#rdclosing4').prop('checked', true); }
            if (ClosingPoint > 91 && ClosingPoint <= 100) { $('#rdclosing5').prop('checked', true); }

            //alert(MinusPoint);
            var SafetyPoint = @ViewBag.Score.SafetyPoint;
            if (SafetyPoint == '0') { $('#rdsap1').prop('checked', true); }
            if (SafetyPoint == '20') { $('#rdsap2').prop('checked', true); }
            if (SafetyPoint == '70') { $('#rdsap3').prop('checked', true); }
            if (SafetyPoint == '120') { $('#rdsap4').prop('checked', true); }
            if (SafetyPoint == '135') { $('#rdsap5').prop('checked', true); }

            //applicable
            var id = @ViewBag.Id;
            $.ajax(
             {
                type: "GET",
                global: false,
                url: '@Url.Action("getDescription")',
                data: { id: id },
                    success: function (data, status)
                    {
                        //alert('success');
                        if (data.status)
                        {
                            console.log(data);
                            for (var i = 0; i < data.dataView.length; i++) {
                                if (data.dataView[i].ApplicableInCase == '1') { $('#applicable1').prop('checked', true); }                         //for (var i = 0; i < data.dataView.length; i++) {
                                if (data.dataView[i].ApplicableInCase == '2') { $('#applicable2').prop('checked', true); }
                                if (data.dataView[i].ApplicableInCase == '3') { $('#applicable3').prop('checked', true); }
                                if (data.dataView[i].ApplicableInCase == '4') { $('#applicable4').prop('checked', true); }
                                if (data.dataView[i].ApplicableInCase == '5') { $('#applicable5').prop('checked', true); }
                            }
                        }
                    }
             }
            );

        }

    //data table kdatatable
        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Patrol/Crosspatroldetail'
                        },
                    },
                    pageSize: 50,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 1200, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'Category',
                        title: 'Category',
                        width: 400,
                    }, {
                        field: 'LastPoint',
                        title: 'Last Score',
                        width: 150,
                        textAlign: 'center',
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.LastPoint.length; i++) {
                                var new_member = row.LastPoint[i].LastPoint;
                                result = result + '<div>' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    },
                    {
                        field: 'NewPoint',
                        title: 'New Score',
                        textAlign: 'center',
                        width: 150,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.NewPoint.length; i++) {
                                var new_member = row.NewPoint[i].NewPoint;
                                result = result + '<div>' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'FindingMaster',
                        title: 'Uraian',
                        width: 600,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.FindingMaster.length; i++) {
                                var new_member = row.FindingMaster[i].FindingMaster;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'LastFinding',
                        title: 'Last Finding',
                        width: 600,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.LastFinding.length; i++) {
                                var new_member = row.LastFinding[i].LastFinding;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'NewFinding',
                        title: 'New Finding',
                        width: 600,
                        sortable: 'desc',
                        overflow: 'visible',
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.NewFinding.length; i++) {
                                var new_member = row.NewFinding[i].NewFinding;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });


                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();


        $(document).ready(function ()
        {
            Edit();
            KMSIDatatable.init();
        });

</script>
}
