﻿@using ess_she.Models;
@model ess_she.Models.T_Patrol

@{
    ViewBag.Title = "List Patrol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--tab">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon kt-hidden">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Last Finding Status
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--begin: Datatable -->
                    <div class="kt-datatable" id="datatable-kmsi"></div>
                    <!--end: Datatable -->
                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                </div>
                                <div class="kt-widget4__info">
                                </div>
                                <b>Total Plus Point : &nbsp&nbsp&nbsp&nbsp</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--tab">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon kt-hidden">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            New Finding
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--begin: Datatable -->
                    <div class="kt-datatable" id="datatable-newfinding"></div>
                    <!--end: Datatable -->
                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                </div>
                                <div class="kt-widget4__info">
                                </div>
                                <b>Total Score New Finding : &nbsp&nbsp&nbsp&nbsp</b>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                        <br />
                        <h5>Minus Point</h5>
                    </div>
                    <br />
                    <div class="form-group">
                        <b>Minus point is applicable in case of:</b><br />
                        <input type="checkbox" name="chkmp1" value="mp1"> There is total breakdown of a process or procedure critical to EHS performance<br />
                        <input type="checkbox" name="chkmp2" value="mp2"> There are a number of minor lapses in a process, which when taken together, collectively suggest a total breakdown<br />
                        <input type="checkbox" name="chkmp3" value="mp3"> The substandard condition is likely to result in an immediate risk<br />
                        <input type="checkbox" name="chkmp4" value="mp4"> Where there is a breach of the law<br />
                        <input type="checkbox" name="chkmp5" value="mp5"> Where there any accident happened within patrol period (3 months)<br />
                    </div>

                    <div class="form-group">
                        <b>Description of the finding:</b><br />
                        <input type="radio" name="rddescrition" value="166.25"> There is No Accident happened within 3 months<br />
                        <input type="radio" name="rddescrition" value="166.25"> Non Lost Time Accident happened max 2 times<br />
                        <input type="radio" name="rddescrition" value="332.5"> Accident Class 2 or 3 x Non LTA happened<br />
                        <input type="radio" name="rddescrition" value="498.75"> Accident Class 3 or 2 x Class 2 or 6 x Non LTA happened<br />
                        <input type="radio" name="rddescrition" value="665"> Accident Class 4 happened<br />
                    </div>
                    <b>Total Minus Point : </b>

                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                    </div>
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <div class="form-group">
                                <b>Closing of Findings Point :</b><br />
                                <input type="radio" name="rdclosing" value="1"> 5% - 25% of findings were closed<br />
                                <input type="radio" name="rdclosing" value="2"> 26% - 50% of findings were closed<br />
                                <input type="radio" name="rdclosing" value="3"> 51% - 75% of findings were closed<br />
                                <input type="radio" name="rdclosing" value="4"> 76% - 90% of findings were closed<br />
                                <input type="radio" name="rdclosing" value="5"> 91% - 100% of findings were closed<br />
                            </div>
                            <b>Total Closing Point : </b>
                        </div>

                        <div class="col-md-6 pull-right">
                            <div class="form-group">
                                <b>Brief description of ALL actual Safety Improvement :</b><br />
                                <input type="radio" name="rdsap" value="0"> No Activity<br />
                                <input type="radio" name="rdsap" value="20"> Activity is not effective<br />
                                <input type="radio" name="rdsap" value="70"> Effective only for small scope<br />
                                <input type="radio" name="rdsap" value="120"> Effective for bigger scope<br />
                                <input type="radio" name="rdsap" value="135"> Activity could become the MODEL for other company<br />
                            </div>
                            <b>Total Safety Point : </b>
                        </div>
                    </div>


                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                    </div>
                    <div class="kt-widget4">
                        <div class="kt-widget4__item">
                            <div class="kt-widget4__pic kt-widget4__pic--pic">
                            </div>
                            <div class="kt-widget4__info">
                            </div>
                            <b>FINAL SCORE : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> 
                        </div>
                    </div>
                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                    </div>

                    <div class="kt-widget4">
                        <div class="kt-widget4__item">
                            <div class="kt-widget4__pic kt-widget4__pic--pic">
                            </div>
                            <div class="kt-widget4__info">
                            </div>
                            @*<a href="#" class="btn btn-sm btn-label-primary btn-bold">Follow</a>*@
                            <button type="button" class="btn btn-sm btn-primary" id="btnsave">Save Change</button>
                        </div>
                    </div>

                </div>
               
            </div>
            <!--end::Portlet-->
        </div>       

    </div>

    @*<div class="row">

        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--tab">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon kt-hidden">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Minus Point
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <b>Minus point is applicable in case of:</b><br />
                        <input type="checkbox" name="chkmp1" value="mp1"> There is total breakdown of a process or procedure critical to EHS performance<br />
                        <input type="checkbox" name="chkmp2" value="mp2"> There are a number of minor lapses in a process, which when taken together, collectively suggest a total breakdown<br />
                        <input type="checkbox" name="chkmp3" value="mp3"> The substandard condition is likely to result in an immediate risk<br />
                        <input type="checkbox" name="chkmp4" value="mp4"> Where there is a breach of the law<br />
                        <input type="checkbox" name="chkmp5" value="mp5"> Where there any accident happened within patrol period (3 months)<br />
                    </div>
                    <div class="form-group">
                        <b>Description of the finding:</b><br />
                        <input type="radio" name="rddescrition" value="166.25"> There is No Accident happened within 3 months<br />
                        <input type="radio" name="rddescrition" value="166.25"> Non Lost Time Accident happened max 2 times<br />
                        <input type="radio" name="rddescrition" value="332.5"> Accident Class 2 or 3 x Non LTA happened<br />
                        <input type="radio" name="rddescrition" value="498.75"> Accident Class 3 or 2 x Class 2 or 6 x Non LTA happened<br />
                        <input type="radio" name="rddescrition" value="665"> Accident Class 4 happened<br />
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--tab">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon kt-hidden">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Safety Appeal Point
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <b>Brief description of ALL actual Safety Improvement :</b><br />
                        <input type="radio" name="rdsap" value="0"> No Activity<br />
                        <input type="radio" name="rdsap" value="20"> Activity is not effective<br />
                        <input type="radio" name="rdsap" value="70"> Effective only for small scope<br />
                        <input type="radio" name="rdsap" value="120"> Effective for bigger scope<br />
                        <input type="radio" name="rdsap" value="135"> Activity could become the MODEL for other company<br />
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

    </div>*@

</div>


@section Scripts{
    <script>
       
        var KMSIDatatableNewFinding = function () {
            // Private functions
            var id =@ViewBag.id;
            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/patrol/FindingDefValList?id=' + id + ''
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'Category',
                        title: 'Category',
                        width: 120,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left'

                    }, {
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400,
                        
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Findings.length; i++) {
                                var new_member = row.Findings[i].Findings;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }                            
                            result = result + "</div>";
                            return result;
                        }
                    },{
                        field: 'Id',
                        title: 'Source',
                        width: 150,
                        template: function (row) {
                            var result = "<div class='date-td'>";        
                            result = result + "<select id='score[]' name='score[]' class='form-control' >";
                            result = result + "<option>- Choose Score - </option>";
                            if (row.Id == '6' || row.Id == '9') {
                                result = result + "<option value='20'>20</option>";
                                result = result + "<option value='15'>15</option>";
                                result = result + "<option value='10'>10</option>";
                                result = result + "<option value='5'>5</option>";                               
                            }
                            if (row.Id == '7') {
                                result = result + "<option value='60'>60</option>";
                                result = result + "<option value='45'>45</option>";
                                result = result + "<option value='30'>30</option>";
                                result = result + "<option value='15'>15</option>";
                            }
                            if (row.Id == '8') {
                                result = result + "<option value='60'>60</option>";
                                result = result + "<option value='50'>50</option>";
                                result = result + "<option value='35'>35</option>";
                                result = result + "<option value='17.5'>17.5</option>";
                            }                            
                            if (row.Id == '10' || row.Id == '13') {
                                result = result + "<option value='40'>40</option>";
                                result = result + "<option value='30'>30</option>";
                                result = result + "<option value='20'>20</option>";
                                result = result + "<option value='10'>10</option>";
                            }
                            if (row.Id == '11') {
                                result = result + "<option value='110'>110</option>";
                                result = result + "<option value='82.5'>82.5</option>";
                                result = result + "<option value='55'>55</option>";
                                result = result + "<option value='27.5'>27.5</option>";
                            }
                            if (row.Id == '12') {
                                result = result + "<option value='50'>50</option>";
                                result = result + "<option value='37.5'>37.5</option>";
                                result = result + "<option value='25'>25</option>";
                                result = result + "<option value='12.5'>12.5</option>";
                            }                            
                            if (row.Id == '14') {
                                result = result + "<option value='120'>120</option>";
                                result = result + "<option value='90'>90</option>";
                                result = result + "<option value='60'>60</option>";
                                result = result + "<option value='30'>30</option>";
                            }
                            if (row.Id == '15') {
                                result = result + "<option value='110'>110</option>";
                                result = result + "<option value='82.5'>82.5</option>";
                                result = result + "<option value='55'>55</option>";
                                result = result + "<option value='27.5'>27.5</option>";
                            }
                            if (row.Id == '16') {
                                result = result + "<option value='30'>30</option>";
                                result = result + "<option value='22.5'>22.5</option>";
                                result = result + "<option value='15'>15</option>";
                                result = result + "<option value='7.5'>7.5</option>";
                            }
                            result = result + "<option value='0'>0</option>";
                            result = result + "</select > ";
                            result = result + "</div>";
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-newfinding').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();        

        jQuery(document).ready(function () {

            KMSIDatatableNewFinding.init();
            //KMSIDatatableGraphLoc.init();
            //KMSIDatatableGraphStatus.init();
            //KMSIDatatableDuedate.init();
            //KMSIDatatableoutstanding.init();
        });

    </script>
}