﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "List Patrol";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double MinusPoint = 0;
    double ClosingPoint = 0;
    double SafetyPoint = 0;
    double FinalPoint = 0;
    double FindingPoint = 0;
    double LastFindingPoint = 0;
    double TotLastFind = 0;

    double TotLastFindOpen = 0;
    double TotLastFindClose = 0;

    if (ViewBag.Score != null)
    {
        MinusPoint = @ViewBag.Score.MinusPoint;
        ClosingPoint = @ViewBag.Score.ClosingPoint;
        SafetyPoint = @ViewBag.Score.SafetyPoint;
        FinalPoint = @ViewBag.Score.FinalPoint;
        FindingPoint = @ViewBag.Score.NewFindingPoint;
        LastFindingPoint = @ViewBag.Score.LastFindingPoint;

    }

    TotLastFindOpen = @ViewBag.Open;
    TotLastFindClose = @ViewBag.Close;
    TotLastFind = (TotLastFindClose / (TotLastFindOpen + TotLastFindClose)) * 100;

}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--tab">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon kt-hidden">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Last Finding Status
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <!--begin: Datatable -->
                    <div class="kt-datatable" id="datatable-lastfinding"></div>
                    <!--end: Datatable -->
                    <div class="kt-separator kt-separator--dashed kt-separator--xs">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item">
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                </div>
                                <div class="kt-widget4__info">
                                </div>
                                <b>
                                    Total Plus Point : @{
                                        var lastfind = Math.Round(@TotLastFind, 2);
                                        if (lastfind.ToString() == "NaN") { lastfind = 0; } else { lastfind = lastfind; }
                                    } @lastfind &nbsp&nbsp&nbsp&nbsp
                                </b>
                                <input type="hidden" name="lp" id="lp" value="@TotLastFind" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

        <div class="col-lg-12">
            <!--begin::Portlet-->
            <form>
                <div class="kt-portlet kt-portlet--tab">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hidden">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="kt-portlet__head-title">
                                New Finding
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-body">
                            <input type="hidden" name="PatrolId" id="PatrolId" value="@ViewBag.Id" />
                            @*<input type="hidden" value="0" name="SelectedStringify" id="SelectedStringify" />*@
                            <!--begin: Datatable -->
                            <div class="kt-datatable" id="datatable-newfinding"></div>
                            <!--end: Datatable -->
                            <div class="kt-separator kt-separator--dashed kt-separator--xs">
                                <div class="kt-widget4">
                                    <div class="kt-widget4__item">
                                        <div class="kt-widget4__pic kt-widget4__pic--pic">
                                        </div>
                                        <div class="kt-widget4__info">
                                        </div>
                                        <b>Total Score New Finding :</b>  <div id="FindingPoint"></div>
                                        <input type="hidden" name="fp" id="fp" value="@FindingPoint" />&nbsp&nbsp&nbsp&nbsp
                                        

                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="kt-separator kt-separator--dashed kt-separator--xs">
                                <br />
                                <h5>Minus Point</h5>
                            </div>
                            <br />
                            <div class="form-group">
                                <b>Minus point is applicable in case of:</b><br />
                                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable1" value="1"> There is total breakdown of a process or procedure critical to EHS performance<br />
                                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable2" value="2"> There are a number of minor lapses in a process, which when taken together, collectively suggest a total breakdown<br />
                                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable3" value="3"> The substandard condition is likely to result in an immediate risk<br />
                                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable4" value="4"> Where there is a breach of the law<br />
                                <input class="applicable" type="checkbox" name="chkapplicable[]" id="applicable5" value="5"> Where there any accident happened within patrol period (3 months)<br />
                            </div>

                            <div class="form-group">
                                <b>Description of the finding:</b><br />
                                <input type="radio" name="rddescription" id="rddescription1" value="0"> There is No Accident happened within 3 months<br />
                                <input type="radio" name="rddescription" id="rddescription2" value="166.25"> Non Lost Time Accident happened max 2 times<br />
                                <input type="radio" name="rddescription" id="rddescription3" value="332.5"> Accident Class 2 or 3 x Non LTA happened<br />
                                <input type="radio" name="rddescription" id="rddescription4" value="498.75"> Accident Class 3 or 2 x Class 2 or 6 x Non LTA happened<br />
                                <input type="radio" name="rddescription" id="rddescription5" value="665"> Accident Class 4 happened<br />
                            </div>
                            <b>Total Minus Point : </b> <div id="MinusPoint"></div>
                            <input type="hidden" name="mp" id="mp" value="@MinusPoint" />
                            @*@ViewBag.Score.MinusPoint*@

                            <div class="kt-separator kt-separator--dashed kt-separator--xs">
                            </div>
                            <div class="row">
                                <div class="col-md-6 pull-left">
                                    <div class="form-group">
                                        <b>Closing of Findings Point :</b><br />
                                        <input type="radio" name="rdclosing" id="rdclosing1" value="25"> 5% - 25% of findings were closed<br />
                                        <input type="radio" name="rdclosing" id="rdclosing2" value="50"> 26% - 50% of findings were closed<br />
                                        <input type="radio" name="rdclosing" id="rdclosing3" value="100"> 51% - 75% of findings were closed<br />
                                        <input type="radio" name="rdclosing" id="rdclosing4" value="150"> 76% - 90% of findings were closed<br />
                                        <input type="radio" name="rdclosing" id="rdclosing5" value="200"> 91% - 100% of findings were closed<br />
                                    </div>
                                    <b>Total Closing Point : </b> <div id="ClosingPoint"></div>
                                    <input type="hidden" name="cp" id="cp" value="@TotLastFind" />

                                </div>

                                <div class="col-md-6 pull-right">
                                    <div class="form-group">
                                        <b>Brief description of ALL actual Safety Improvement :</b><br />
                                        <input type="radio" name="rdsap" id="rdsap1"  value="0"> No Activity<br />
                                        <input type="radio" name="rdsap" id="rdsap2" value="20"> Activity is not effective<br />
                                        <input type="radio" name="rdsap" id="rdsap3" value="70"> Effective only for small scope<br />
                                        <input type="radio" name="rdsap" id="rdsap4" value="120"> Effective for bigger scope<br />
                                        <input type="radio" name="rdsap" id="rdsap5" value="135"> Activity could become the MODEL for other company<br />
                                    </div>
                                    <b>Total Safety Point : </b><div id="SafetyPoint"></div>
                                    <input type="hidden" name="sp" id="sp" value="@SafetyPoint" />
                                </div>
                            </div>


                            <div class="kt-separator kt-separator--dashed kt-separator--xs">
                            </div>
                            <div class="kt-widget4">
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    </div>
                                    <div class="kt-widget4__info">
                                    </div>
                                    <b>FINAL SCORE : </b> <div id="FinalScore"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="hidden" name="fs" id="fs" value="@FinalPoint" />

                                </div>
                            </div>
                            <div class="kt-separator kt-separator--dashed kt-separator--xs">
                            </div>

                            <div class="kt-widget4">
                                <div class="kt-widget4__item">
                                    <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    </div>
                                    <div class="kt-widget4__info">
                                    </div>
                                    @*<a href="#" class="btn btn-sm btn-label-primary btn-bold">Follow</a>*@
                                    <button type="submit" class="btn btn-sm btn-primary" id="btnSave">Save Change</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <!--end::Portlet-->
        </div>       

    </div>

</div>


@section Scripts{
<script>

        function Edit()
        {
            //minus point
            var MinusPoint = @MinusPoint;
            if (MinusPoint == '0') { $('#rddescription1').prop('checked', true); }
            if (MinusPoint == '166.25') { $('#rddescription2').prop('checked', true); }
            if (MinusPoint == '332.5') { $('#rddescription3').prop('checked', true); }
            if (MinusPoint == '498.75') { $('#rddescription4').prop('checked', true); }
            if (MinusPoint == '665') { $('#rddescription5').prop('checked', true); }
            document.getElementById('MinusPoint').innerHTML = @MinusPoint;

             //minus point
            var ClosingPoint = @lastfind;
            if (ClosingPoint > 5 && ClosingPoint <= 25) { $('#rdclosing1').prop('checked', true); }
            if (ClosingPoint > 26 && ClosingPoint <= 50) { $('#rdclosing2').prop('checked', true); }
            if (ClosingPoint > 51 && ClosingPoint <= 75) { $('#rdclosing3').prop('checked', true); }
            if (ClosingPoint > 76 && ClosingPoint <= 90) { $('#rdclosing4').prop('checked', true); }
            if (ClosingPoint > 91 && ClosingPoint <= 100) { $('#rdclosing5').prop('checked', true); }
            document.getElementById('ClosingPoint').innerHTML = @lastfind;

            //alert(MinusPoint);
            var SafetyPoint = @SafetyPoint;
            if (SafetyPoint == '0') { $('#rdsap1').prop('checked', true); }
            if (SafetyPoint == '20') { $('#rdsap2').prop('checked', true); }
            if (SafetyPoint == '70') { $('#rdsap3').prop('checked', true); }
            if (SafetyPoint == '120') { $('#rdsap4').prop('checked', true); }
            if (SafetyPoint == '135') { $('#rdsap5').prop('checked', true); }
            document.getElementById('SafetyPoint').innerHTML = @SafetyPoint;

            document.getElementById('FinalScore').innerHTML = @FinalPoint;
            document.getElementById('FindingPoint').innerHTML = @FindingPoint;     

           

       
            //applicable
            var id = @ViewBag.Id;
            $.ajax(
             {
                type: "GET",
                global: false,
                url: '@Url.Action("getDescription")',
                data: { id: id },
                    success: function (data, status)
                    {
                        //alert('success');
                        if (data.status)
                        {
                            console.log(data);
                            for (var i = 0; i < data.dataView.length; i++) {
                                if (data.dataView[i].ApplicableInCase == '1') { $('#applicable1').prop('checked', true); }                         //for (var i = 0; i < data.dataView.length; i++) {
                                if (data.dataView[i].ApplicableInCase == '2') { $('#applicable2').prop('checked', true); }  
                                if (data.dataView[i].ApplicableInCase == '3') { $('#applicable3').prop('checked', true); }  
                                if (data.dataView[i].ApplicableInCase == '4') { $('#applicable4').prop('checked', true); }  
                                if (data.dataView[i].ApplicableInCase == '5') { $('#applicable5').prop('checked', true); }  
                            }
                        } 
                    }
             }
            );

             $.ajax(
             {
                type: "GET",
                global: false,
                url: '@Url.Action("getPoint")',
                data: { id: id },
                    success: function (data, status)
                    {
                        //alert('success');
                        if (data.status)
                        {
                            console.log(data);
                            for (var i = 0; i < data.dataView.length; i++) {                                
                                //var Spot = '#Point' + data.dataView[i].CategoryId;                                
                                //alert(Spot);
                                if (data.dataView[i].CategoryId == '6') {
                                    var Point6 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point6').val(Point6); }, 1000);
                                }
                                if (data.dataView[i].CategoryId == '7') { 
                                    var Point7 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point7').val(Point7); }, 1200);
                                }
                                if (data.dataView[i].CategoryId == '8') { 
                                    var Point8 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point8').val(Point8); }, 1300);
                                }
                                if (data.dataView[i].CategoryId == '9') {
                                    var Point9 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point9').val(Point9); }, 1400);
                                }
                                if (data.dataView[i].CategoryId == '10') {
                                    var Point10 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point10').val(Point10); }, 1500);
                                }
                                if (data.dataView[i].CategoryId == '11') {
                                    var Point11 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point11').val(Point11); }, 1600);
                                }
                                if (data.dataView[i].CategoryId == '12') {
                                    var Point12 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point12').val(Point12); }, 1700);
                                }
                                if (data.dataView[i].CategoryId == '13') {
                                    var Point13 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point13').val(Point13); }, 1800);
                                }
                                if (data.dataView[i].CategoryId == '14') {
                                    var Point14 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point14').val(Point14); }, 1900);
                                }
                                if (data.dataView[i].CategoryId == '15') {
                                    var Point15 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point15').val(Point15); }, 2000);
                                }
                                if (data.dataView[i].CategoryId == '16') {
                                    var Point16 = data.dataView[i].Point;
                                    setTimeout(function () { $('#Point10').val(Point16); }, 2100);
                                }
                                   
                            }
                        } 
                    }
             }
            );
        }

        $('input[name=rdsap]').click(function () {
            //console.log('Hey you clicked this: ' + this.value);
            document.getElementById('SafetyPoint').innerHTML = this.value;
            document.getElementById('sp').value = this.value;
            FinalScore();
        });

        $('input[name=rdclosing]').click(function () {
            //console.log('Hey you clicked this: ' + this.value);
            document.getElementById('ClosingPoint').innerHTML = this.value;
            document.getElementById('cp').value = this.value;
            FinalScore();
        });

        $('input[name=rddescription]').click(function () {
            //console.log('Hey you clicked this: ' + this.value);
            document.getElementById('MinusPoint').innerHTML = this.value;
            document.getElementById('mp').value = this.value;
            FinalScore();
        });

        function FinalScore() {
            var lp = document.getElementById('lp').value;
            var sp = document.getElementById('sp').value;
            var cp = document.getElementById('cp').value;
            var mp = document.getElementById('mp').value;
            var fp = document.getElementById('fp').value;
            
            //var mp = document.getElementById('mp').value;
            if (lp != "") { lp = sp; } else { lp = 0; }
            if (sp != "") { sp = sp; } else { sp = 0; }
            if (cp != "") { cp = cp; } else { cp = 0; }
            if (mp != "") { mp = mp; } else { mp = 0; }
            if (fp != "") { fp = fp; } else { fp = 0; }

            var FinalScore = (parseFloat(lp) + parseFloat(sp) + parseFloat(cp) + parseFloat(fp)) - parseFloat(mp);
            document.getElementById('FinalScore').innerHTML = FinalScore;
            document.getElementById('fs').value = FinalScore;
            //alert(sp);
            //alert(cp);
            //alert(mp);
        }

        //save data
        $('#btnSave').on('click', function () {
            //alert('save');
            event.preventDefault();
            //alert('save');

            var findingArray = new Array();
            var findingLength = document.getElementsByName("Point[]").length;
            for (var i = 0; i < findingLength; i++) {
                var findingData = new Object();
                findingData.Point = document.getElementsByName("Point[]")[i].value;
                findingData.CategoryId = document.getElementsByName("CategoryId[]")[i].value;
                findingArray.push(findingData);
            }
            var dataArray = JSON.stringify(findingArray);

            var arr_select = new Array();
            $(".applicable").each(function (index) {
                var DataSelect = new Object();
                DataSelect.ApplicableInCase = $(this).val();
                if ($(this).is(':checked')) {
                    arr_select.push(DataSelect);
                }
            });
            var valSelect = JSON.stringify(arr_select);
            //$("#SelectedStringify").val(valSelect);

            $.ajax
                ({
                    type: "POST",
                    global: false,
                    url: '@Url.Action("CreateDefineValue")',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        arrayFinding : dataArray,
                        arrayMP : valSelect,
                        PatrolId: $('#PatrolId').val(),
                        FinalScore: $('#fs').val(),
                        LastfindingPoint : $('#lp').val(),
                        SafetyPoint : $("[name='rdsap']:checked").val(),
                        ClosingPoint : $("[name='rdclosing']:checked").val(),
                        DescriptionMPPoint : $("[name='rddescription']:checked").val(),
                    }),

                    success: function (data, status) {
                        if (data.status) {
                            //$("#modal_finding").modal("hide");
                            //window.datatable.reload();
                            alert('success');
                            console.log('success');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                    }
                });
    });


    $('.PointData').bind("change", function () {
        //var id = $(this).attr('id');
        alert('test');
    });

    function findingscore() {

        alert('test');
    }

        var KMSIDatatable = function () {
            // Private functions
            var id =@ViewBag.id;
            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/patrol/FindingDefValList?id=' + id + ''
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 450, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'Category',
                        title: 'Category',
                        width: 120,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left'

                    }, {
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Findings.length; i++) {
                                var new_member = row.Findings[i].Findings;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Note',
                        title: 'Note',
                        width: 120,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Note.length; i++) {
                                var new_member = row.Note[i].Note;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    },{
                        field: 'Id',
                        title: 'Source',
                        width: 150,
                        template: function (row) {
                            // var idx = 0;
                            var result = "<div class='date-td'>";                          
                            result = result + "<input type='hidden' id='CategoryId' name='CategoryId[]'  value='" + row.Id +"'/>";
                            result = result + "<select class='form-control PointData' id='Point" + row.Id +"' name='Point[]' onchange='findingscore()' >";
                            result = result + "<option>- Choose Score - </option>";
                            if (row.Id == '6' || row.Id == '9') {
                                result = result + "<option value='20'>20</option>";
                                result = result + "<option value='15'>15</option>";
                                result = result + "<option value='10'>10</option>";
                                result = result + "<option value='5'>5</option>";
                            }
                            if (row.Id == '7') {
                                result = result + "<option value='60'>60</option>";
                                result = result + "<option value='45'>45</option>";
                                result = result + "<option value='30'>30</option>";
                                result = result + "<option value='15'>15</option>";
                            }
                            if (row.Id == '8') {
                                result = result + "<option value='60'>60</option>";
                                result = result + "<option value='50'>50</option>";
                                result = result + "<option value='35'>35</option>";
                                result = result + "<option value='17.5'>17.5</option>";
                            }
                            if (row.Id == '10' || row.Id == '13') {
                                result = result + "<option value='40'>40</option>";
                                result = result + "<option value='30'>30</option>";
                                result = result + "<option value='20'>20</option>";
                                result = result + "<option value='10'>10</option>";
                            }
                            if (row.Id == '11') {
                                result = result + "<option value='110'>110</option>";
                                result = result + "<option value='82.5'>82.5</option>";
                                result = result + "<option value='55'>55</option>";
                                result = result + "<option value='27.5'>27.5</option>";
                            }
                            if (row.Id == '12') {
                                result = result + "<option value='50'>50</option>";
                                result = result + "<option value='37.5'>37.5</option>";
                                result = result + "<option value='25'>25</option>";
                                result = result + "<option value='12.5'>12.5</option>";
                            }
                            if (row.Id == '14') {
                                result = result + "<option value='120'>120</option>";
                                result = result + "<option value='90'>90</option>";
                                result = result + "<option value='60'>60</option>";
                                result = result + "<option value='30'>30</option>";
                            }
                            if (row.Id == '15') {
                                result = result + "<option value='110'>110</option>";
                                result = result + "<option value='82.5'>82.5</option>";
                                result = result + "<option value='55'>55</option>";
                                result = result + "<option value='27.5'>27.5</option>";
                            }
                            if (row.Id == '16') {
                                result = result + "<option value='30'>30</option>";
                                result = result + "<option value='22.5'>22.5</option>";
                                result = result + "<option value='15'>15</option>";
                                result = result + "<option value='7.5'>7.5</option>";
                            }
                            result = result + "<option value='0'>0</option>";
                            result = result + "</select > ";
                            result = result + "</div>";
                            return result;
                            //idx+1;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-newfinding').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        var KMSIDatatableLast = function () {
            // Private functions
            var id =@ViewBag.id;
            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/patrol/LastCrossPatrol?id=' + id + ''
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'Category',
                        title: 'Category',
                        width: 100,
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left'

                    }, {
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400                        
                    }, {
                        field: 'Note',
                        title: 'Note',
                        width: 120,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.NPatrol.length; i++) {
                                var new_member = row.NPatrol[i].NPatrol;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Is_Completed',
                        title: 'Status',
                        width: 100,
                        template: function (row) {
                            if (row.Is_Completed == null) {
                                var result = '<span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Open</span>';
                            } else if (row.Is_Completed == "1") {
                                var result = '<span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Close</span>';
                            }
                            return result;
                        },
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-lastfinding').KTDatatable(options);

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        jQuery(document).ready(function () {
            Edit();
            KMSIDatatable.init();
            KMSIDatatableLast.init();
        });

</script>
}