﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Findings

@{
    ViewBag.Title = "Finding List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<FindingModel> Finding = (List<FindingModel>)ViewBag.Finding;
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Findings  : @ViewBag.GetPatrol.PatrolName | Type : @ViewBag.GetPatrol.Type
                    <input type="hidden" id="PatrolId" name="PatrolId" value=" @ViewBag.GetPatrol.id" />
                    <input type="hidden" id="PatrolName" name="PatrolName" value=" @ViewBag.GetPatrol.PatrolName" />
                    <input type="hidden" id="PatrolType" name="PatrolType" value="@ViewBag.GetPatrol.Type" />
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    @*<button data-toggle="modal" data-target="#modal_finding" class="btn btn-brand btn-icon-sm">
                            <i class="flaticon2-plus"></i> Create
                        </button>*@
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<input type="hidden" id="url_save" value="/Findings/Create" />

<!--begin::Modal-->
<div class="modal fade" id="modal_finding" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 @*<form id="form_finding">*@
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" class="form-control" id="PatrolId-edit" name="PatrolId" readonly>
                    <input type="hidden" class="form-control" id="FindingId-edit" name="FindingId" readonly>
                    <h5 class="modal-title" id="exampleModalLabel">Findings Issue Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="kt-form">

                        <div class="col-md-pull-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Patrol</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="PatrolName-edit" name="PatrolName" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Type</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="PatrolType-edit" name="PatrolType" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Uraian</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="uraian-edit" name="uraian" rows="4" readonly></textarea>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="col-md-pull-12">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">PIC</label>
                                <div class="col-sm-10">
                                    <select class="form-control kt-select2 member_select2" name="pic" id="pic" multiple>

                                        @foreach (var x in ViewBag.Users)
                                        {
                                            <option value="@x.Id">@x.fullname</option>
                                        }

                                        @*<option value="2">User 1</option>
                                            <option value="6">user 2</option>
                                            <option value="3">user 3</option>
                                            <option value="4">user 4</option>
                                            <option value="5">user 5</option>
                                            <option value="7">user 6</option>
                                            <option value="8">user 7</option>
                                            <option value="9">user 8</option>*@
                                    </select>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="col-md-pull-12">

                            <div id="kt_repeater_1">

                                <div class="form-group">
                                    <label class="col-lg-12 col-form-label"></label>
                                    <div class="col-lg-pull-12">
                                        <button class="btn-sm btn btn-label-info btn-bold" onclick="addnote(this)">
                                            <i class="la la-plus"></i>Add
                                        </button>
                                    </div>
                                </div>

                                <hr />

                                <div class="form-group" id="kt_repeater_1">
                                    <div data-repeater-list="" class="col-lg-pull-12">
                                        <div data-repeater-item class="form-group">
                                            <table>
                                                <tr>
                                                    <td>Note</td>
                                                    <td>Attachment</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>                                                       
                                                        <textarea class="form-control" id="note" name="note[]"></textarea>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" id="idFile" name="idFile">
                                                        <div class="dropzone dropzone-multi" id="medicalFile1">
                                                            <div class="dropzone-panel">
                                                                <a class="dropzone-select btn btn-label-brand btn-bold btn-sm">Attach file</a>
                                                            </div>
                                                            <div class="dropzone-items">
                                                                <div class="dropzone-item" style="display:none">
                                                                    <div class="dropzone-file">
                                                                        <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                                            <span data-dz-name>some_image_file_name.jpg</span> <strong>(<span data-dz-size>340kb</span>)</strong>
                                                                        </div>
                                                                        <div class="dropzone-error" data-dz-errormessage></div>
                                                                    </div>
                                                                    <div class="dropzone-progress">
                                                                        <div class="progress">
                                                                            <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="dropzone-toolbar">
                                                                        <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tampungAttach"></div>
                                                        <input type="hidden" id="AttachmentFile" name="AttachmentFile[]" />
                                                        <div class="tampilkan">
                                                        </div>
                                                        <div class="tampilkanFile">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" data-repeater-delete="" class="btn-sm btn btn-label-danger btn-bold">
                                                            <i class="la la-trash-o"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="AddElement"></div>

                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-primary" onclick="saveFinding()">Submit</button>

                    </div>
                </div>
            </div>
        </div>
     @*</form>*@
</div>
<!--end::Modal-->

@section Scripts
{
<script>

    var datafilexx = []
    var KTDropzoneFile = function () {
        var uploadFile = function () {
            var idx = $('.dropzone').length;
            console.log(idx);
            // set the dropzone container id
            var id = '#medicalFile' + idx;
            var dataFile = [];
            // set the preview element template
            var previewNode = $(id + " .dropzone-item");
            previewNode.id = "";
            var previewTemplate = previewNode.parent('.dropzone-items').html();
            previewNode.remove();

            var uploadAttachment = new Dropzone(id, { // Make the whole body a dropzone
                url: "/Findings/UploadFile", // Set the url for your upload script location
                parallelUploads: 1,
                maxFiles: 5,
                maxFilesize: 5, // Max filesize in MB
                previewTemplate: previewTemplate,
                previewsContainer: id + " .dropzone-items", // Define the container to display the previews
                clickable: id + " .dropzone-select" // Define the element that should be used as click trigger to select files.
            });

            uploadAttachment.on("addedfile", function (file) {
                // Hookup the start button
                $(document).find(id + ' .dropzone-item').css('display', '');
            });

            uploadAttachment.on("success", function (serverData) {
                console.log(serverData.xhr.response);
                var response = JSON.parse(serverData.xhr.response);
                var att = '<input type="hidden" class="AttachmentMulti" name="Attachment[]" value="' + response.name + '" />';
                $('.tampungAttach').append(att);

                dataFile.push(response.name)
                datafilexx.push(response.name)
                console.log(dataFile);
                //$('#AttachmentFile').val(dataFile+",");
            });

            // Update the total progress bar
            uploadAttachment.on("totaluploadprogress", function (progress) {
                document.querySelector(id + " .progress-bar").style.width = progress + "%";
            });

            uploadAttachment.on("sending", function (file) {
                // Show the total progress bar when upload starts
                document.querySelector(id + " .progress-bar").style.opacity = "1";
            });

            // Hide the total progress bar when nothing's uploading anymore
            uploadAttachment.on("complete", function (progress) {
                var thisProgressBar = id + " .dz-complete";
                setTimeout(function () {
                    $(thisProgressBar + " .progress-bar, " + thisProgressBar + " .progress").css('opacity', '0');
                }, 300)
            });
        }

        return {
            // public functions
            init: function () {
                uploadFile();
            }
        };
    }();

        function popEdit(el) {
            //$('#form_finding')[0].reset(); 

            var FindingId = $(el).attr('data-id');
            var PatrolId = $('#PatrolId').val();
            var PatrolName = $('#PatrolName').val();
            var PatrolType = $('#PatrolType').val();
            var finding = $(el).attr('data-finding');

            //alert(FindingId);
            ////clear item
            $("#pic option:selected").removeAttr("selected");
            $('#FindingId-edit').val(FindingId);
            $('#PatrolId-edit').val(PatrolId);
            $('#PatrolName-edit').val(PatrolName);
            $('#PatrolType-edit').val(PatrolType);
            $('#uraian-edit').val(finding);

            setTimeout(function () {
                $('#modal_finding').modal('show');
            }, 1000);

        }

        var indexDate = 2;
        function addnote(el) {
        //alert(indexDate);
        var new_date = '<div class="form-group" id="kt_repeater_1-' + indexDate + '"><div data-repeater-list="" class="col-lg-pull-12"><div data-repeater-item class="form-group">';
            new_date += '<table><tr bgcolor="#f5f5f0">';
            new_date += '<td> <textarea class="form-control" id="note" name="note[]"></textarea></td>';
            new_date += '<td>';
            new_date += '<input type="hidden" class="form-control" id="idFile' + indexDate + '" name="idFile' + indexDate + '">';
            new_date += '<div class="dropzone dropzone-multi" id="medicalFile' + indexDate + '">';                    
            new_date += '    <div class="dropzone-panel">';
            new_date += '            <a class="dropzone-select btn btn-label-brand btn-bold btn-sm">Attach file</a>';
            new_date += '        </div>';
            new_date += '        <div class="dropzone-items">';
            new_date += '            <div class="dropzone-item" style="display:none">';
            new_date += '                <div class="dropzone-file">';
            new_date += '                    <div class="dropzone-filename" title="some_image_file_name.jpg">';
            new_date += '                        <span data-dz-name>some_image_file_name.jpg</span> <strong>(<span data-dz-size>340kb</span>)</strong>';
            new_date += '                    </div>';
            new_date += '                    <div class="dropzone-error" data-dz-errormessage></div>';
            new_date += '                </div>';
            new_date += '                <div class="dropzone-progress">';
            new_date += '                    <div class="progress">';
            new_date += '                        <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>';
            new_date += '                    </div>';
            new_date += '                </div>';
            new_date += '                <div class="dropzone-toolbar">';
            new_date += '                    <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>';
            new_date += '                </div>';
            new_date += '            </div>';
            new_date += '       </div>';
            new_date += '                                        </div >';
            new_date += '    <div class="tampungAttach"></div>';
            new_date += '    <input type="hidden" id="AttachmentFile" name="AttachmentFile[]" />';
            new_date += '    <div class="tampilkan">';
            new_date += '    </div>';
            new_date += '    <div class="tampilkanFile">';
            new_date += '    </div>';
            new_date += '</td>';
            new_date += '<td><a href="javascript:;" data-repeater-delete="" class="btn-sm btn btn-label-danger btn-bold" data-index="' + indexDate + '" onclick="removeDate(' + indexDate + ')"><i class="la la-trash-o"></i></a></td>';
            new_date += '</tr></table ></div ></div ></div >';
            $('.AddElement').append(new_date);
            //loop dropzonefile
            KTDropzoneFile.init();
            indexDate++;
        }

        function removeDate(rid) {
            //debugger
            $('#kt_repeater_1-' + rid).remove();
        }

        function saveFinding(){

            event.preventDefault();

            var findingArray = new Array();
            var medicalLength = document.getElementsByName("note[]").length;
            for (var i = 0; i < medicalLength; i++) {
                var findingData = new Object();
                findingData.Note = document.getElementsByName("note[]")[i].value;
                findingData.Img = document.getElementsByName("Attachment[]")[i].value;
                findingArray.push(findingData);
            }
            var dataArray = JSON.stringify(findingArray);

            var picArray = new Array();
            var picLength = document.getElementsByName("pic").length;
            for (var i = 0; i < picLength; i++) {
                var picData = new Object();
                picData.UserID = document.getElementsByName("pic")[i].value;               
                picArray.push(picData);
            }           
            var dataPicArray = JSON.stringify(picArray);

            $.ajax
                ({
                    type: "POST",
                    global: false,
                    url: '@Url.Action("CreateIssueCP")',                   
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        arrayFinding: dataArray,
                        arrayPIC: dataPicArray,
                        FindingId: $('#FindingId-edit').val(),
                        PatrolId: $('#PatrolId').val(),
                        PatrolName: $('#PatrolName').val(),
                        PatrolType: $('#PatrolType').val(),
                    }),

                    success: function (data, status) {
                        if (data.status) {
                            $("#modal_finding").modal("hide");
                            window.datatable.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                    }
                });
        }

        //data table kdatatable
        var KMSIDatatable = function () {
            // Private functions
            var id = '@ViewBag.Id';
            var type = '@ViewBag.Type';
            var location = '@ViewBag.Location';
            var plant = '@ViewBag.Plant';
            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/patrol/Findingcplist?id=' + id + '&type=' + type + '&location=' + location + '&plant=' + plant 
                        },
                    },
                    pageSize: 50,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState: {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 850, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                rows: [
                    {
                        autohide: false
                    }
                ],

                // column sorting
                sortable: true,

                pagination: true,

                // columns definition

                columns: [
                    {
                        field: 'Category',
                        title: 'Category',
                        width :100,
                    }, {
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400,
                    }, {
                        field: 'Note',
                        title: 'Note',
                        width: 200,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Note.length; i++) {
                                var new_member = row.Note[i].Note;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        width: 110,
                        overflow: 'visible',
                        textAlign: 'left',
                        autoHide: false,
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" data-category="' + row.Category + '" data-finding="' + row.Findings + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_finding"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });

            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();


        jQuery(document).ready(function () {
            //KTFormRepeater.init();
            KMSIDatatable.init();
            KTDropzoneFile.init();

            $('#pic').select2({ placeholder: "-- Select --", width: '100%', tags: true });

            var url_save = $('#url_save').val();
            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });

        });

</script>
}




