﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "List Patrol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Patrol List
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button onclick="popCreate()" data-toggle="modal" data-target="#modal_create_Education" class="btn btn-brand btn-icon-sm">
                        <i class="flaticon2-plus"></i> Create
                    </button>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div class="kt-datatable" id="datatable-kmsi-Education"></div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_delete_Education" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_delete_Education">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <input type="hidden" id="Id_Delete_Education" name="LeaveId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Patrol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Area you sure want to delete this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger deleteConfirm" value="Delete" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_create_Education" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_create_and_edit_Education">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Patrol Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">

                        <div class="col-md-6 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12" for="EducationLevel">Patrol Name</label>
                                <div class="col-md-12">
                                    <input type="text" id="PatrolName" name="PatrolName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12" for="StartYear">Type</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2 type_select2" id="Type" name="Type">
                                        <option></option>
                                        <option value="5K">5K</option>
                                        <option value="Cross Patrol">Cross Patrol</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Date</label>
                                <div class="col-md-12">
                                    <div class="input-group date">
                                        <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="Date" name="Date" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar-check-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12">Location</label>
                                <div class="col-md-12">  
                                    @Html.DropDownList("Location", null, "-- Select Location --", htmlAttributes: new { @class = "form-control kt-select2 location-select2", @id = "LocationID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Plant</label>
                                <div class="col-md-12">
                                    @Html.DropDownList("Plant", null, String.Empty, htmlAttributes: new { @class = "form-control kt-select2 plant-select2", @id = "PlantID" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Member</label>
                                <div class="col-md-12">

                                    <select class="form-control kt-select2" id="Member" multiple name="Member">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_test">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" value="0" name="id" id="id" />
            @*<input type="hidden" value="0" name="EducationId" id="EducationId" />
                <input type="hidden" value="0" name="EmployeeId" id="EmployeeIdEducation" />*@
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Patrol Edit Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="col-md-12">
                        <div id="kt_repeater_1">
                            <div class="form-group form-group-last row" id="kt_repeater_1">
                                <div data-repeater-list="" class="col-lg-10">
                                    <div data-repeater-item class="form-group row align-items-center">

                                        <div class="col-md-4 pull-left">

                                            <div class="form-group">
                                                <label class="control-label col-md-12" for="StartYear">Description</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="description" class="form-control" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-4 pull-left">


                                            <div class="form-group">
                                                <label class="control-label col-md-12" for="StartYear">Photo</label>
                                                <div class="col-md-12">
                                                    <input type="file" name="fu" />
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-4 pull-left">

                                            <div class="form-group">
                                                <label class="control-label col-md-12" for="StartYear">Note</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="note" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4 pull-left">
                                        @*<a href="javascript:;" data-repeater-delete="" class="btn-sm btn btn-label-danger btn-bold">
                                            <i class="la la-trash-o"></i>
                                            Delete
                                        </a>*@
                                    </div>

                                    <div class="form-group form-group-last row">
                                        <label class="col-lg-2 col-form-label"></label>
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-repeater-create="" class="btn btn-bold btn-sm btn-label-brand">
                                                <i class="la la-plus"></i> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_edit">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" name="leavid" id="leavid" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Patrol Edit Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="col-md-12">
                        <div class="col-md-4 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12" for="EducationLevel">Patrol Name</label>
                                <div class="col-md-12">
                                    <input type="text" id="PatrolName-edit" name="PatrolName-edit" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-12">Location</label>
                                <div class="col-md-12">
                                    @Html.DropDownList("Location", null, "-- Select Location --", htmlAttributes: new { @class = "form-control kt-select2 location-select2", @id = "LocationID_edit" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-4 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12" for="StartYear">Type</label>
                                <div class="col-md-12">
                                    <select class="form-control kt-select2 type_select2" id="Type-edit" name="Type-edit">
                                        <option></option>
                                        <option value="5K">5K</option>
                                        <option value="Cross Patrol">Cross Patrol</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">Plant</label>
                                <div class="col-md-12">
                                    @Html.DropDownList("Plant", null, String.Empty, htmlAttributes: new { @class = "form-control kt-select2 plant-select2", @id = "PlantID_edit" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 pull-left">
                            <div class="form-group">
                                <label class="control-label col-md-12">Date</label>
                                <div class="col-md-12">
                                    <div class="input-group date">
                                        <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="Date-edit" name="Date-edit" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar-check-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-12">Member</label>
                                <div class="col-md-12">

                                    <select class="form-control select2" id="Member-edit" name="Member" multiple>
                                        <option></option>
                                        @*<option value="orange">orange</option>
                                        <option value="brown">brown</option>
                                        <option value="red">red</option>
                                        <option value="green">green</option>*@
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->

<input type="hidden" id="url_ajax_save_Education" value="/Patrol/Create" />
<input type="hidden" id="url_create_Education" value="/Patrol/Create" />
<input type="hidden" id="url_data" value="/Patrol/Data" />
<input type="hidden" id="url_data_Education" value="/Patrol/Data" />
<input type="hidden" id="url_delete_Education" value="/Patrol/Delete" />
<input type="hidden" id="url_edit" value="/Patrol/Edit" />
<input type="hidden" id="url_edit_Education" value="/Patrol/Edit" />
<input type="hidden" id="url_detail_Education" value="/Patrol/Details" />

@section Scripts
{

<script>

    var arr_leave_date = [];
    var arr_holiday = [];

    function selectSingleDate() {
        $('.kmsi-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            datesDisabled: arr_holiday,
            todayBtn: "linked",
            clearBtn: true,
        }).on('changeDate', function (e) {
            arr_leave_date = [];
            var dateSelect = 0;
            $(".kmsi-datepicker").each(function (index) {
                var valueDate = $(this).val();
                if (valueDate != "") {
                    arr_leave_date.push(valueDate);
                    dateSelect++;
                }
                $('#ArrDate').val(JSON.stringify(arr_leave_date));
            });
            $('#LeaveUsed').val(dateSelect);
            });
    }

    $(document).ready(function () {

        $(".arrHoliday").each(function (index) {
            var date_holiday = $(this).attr('data-date');
            date_holiday = moment(date_holiday).format('YYYY-MM-DD');
            arr_holiday.push(date_holiday);
        });

        $('#Location').select2({
            placeholder: "-- Select a Location --",
            width: '100%',
    });

    $('#Type').select2({
        placeholder: "-- Select a Type --",
        width: '100%',
    });

    $('#Plant').select2({
        placeholder: "-- Select a Plant --",
        width: '100%',
    });

    $('#Member').select2({
        placeholder: "Add a tag",
        width: '100%',
        tags: true
    });

    $('#Location-edit').select2({
        placeholder: "-- Select a Location --",
        width: '100%',
    });

    $('#Type-edit').select2({
        placeholder: "-- Select a Type --",
        width: '100%',
    });

    $('#Plant-edit').select2({
        placeholder: "-- Select a Plant --",
        width: '100%',
    });

    $('#Member-edit').select2({
        placeholder: "Add a tag",
        width: '100%',
        tags: true
    });

    var url_delete_Education = $('#url_delete_Education').val();
    var url_edit = $('#url_edit').val();
    var url_edit_Education = $('#url_edit_Education').val();
    var url_detail_Education = $('#url_detail_Education').val();

    });

    function popDeleteEducation(el) {
        $('.deleteConfirm').attr('href', '#');
        var id = $(el).attr('data-id');
        $('#Id_Delete_Education').val(id);
    }

    function popCreate() {

        var url_create_Education = $('#url_create_Education').val();
        $('#url_ajax_save_Education').val(url_create_Education);
        selectSingleDate();

        $('#Type').val("val", "").trigger('change.select2'); //reset select2             
        $('#LocationID').val("val", "").trigger('change.select2'); //reset select2             
        $('#PlantID').val("val", "").trigger('change.select2'); //reset select2             
        $('#Member').val("val", "").trigger('change.select2'); //reset select2             
        $('#form_create_and_edit_Education')[0].reset(); 
    }

    function popEdit(el) {
        var id = $(el).attr('data-id');
        var url_edit = $('#url_edit').val() + '/' + id;
        $('#url_ajax_save').val(url_edit);

        //alert(id);

        var url_data = $('#url_data').val() + '/' + id;
        $.get(url_data, function (data, status) {
        var response = data.data;
        console.log(response)
        if (status == 'success') {

            $('#LocationID_edit').change(function () {
                var url = "/Patrol/GetPlant";
                var ddlsource = $('#LocationID_edit');
                $.getJSON(url, { LocationID: response.Location }, function (data) {
                    //alert('success');
                    var items = '';
                    $('#PlantID_edit').empty();
                    $.each(data, function (i, plant) {
                        items += "<option value='" + plant.Value + "'>" + plant.Text + "</option>";
                    });
                    $('#PlantID_edit').html(items);
                });
            });
            var memberdata = '[{"value","satu"},{"value","dua"}]';
            //alert(response.Type);
            $('#leavid').val(id);
            $('#PatrolName-edit').val(response.PatrolName);
            $('#Date-edit').val(response.Date);
            $('#Type-edit').val(response.Type).trigger('change.select2');
                   
            setTimeout(function () {
                $('#LocationID_edit').val(response.Location);
                $('#LocationID_edit').trigger('change');
            }, 500);
            setTimeout(function () {
                $('#PlantID_edit').val(response.Plant);
                $('#PlantID_edit').trigger('change');                
            }, 2000);

            setTimeout(function () {
            selectSingleDate();
            var date = moment(response.Date).format('YYYY-MM-DD');
            $('#Date-edit').val(date);
            $('#modal_edit').modal('show');
            }, 1000);

        } else {
            alert('Error please check your connection')
        }
        });

        //get member
         $.ajax({
                type: "GET",
                global: false,
                url:'@Url.Action("getMember")',
                data: { id: id },
                success: function (data, status)
                {
                    if (data.status) {
                        console.log("success");
                        var select = document.getElementById("Member-edit"); 
                        select.innerHTML = "";
                        for (var i = 0; i < data.dataView.length; i++) {
                            select.innerHTML += "<option value=\"" + data.dataView[i].Member + "\" selected>" + data.dataView[i].Member + "</option>";
                        }
                        setTimeout(function () {
                            $('#Member-edit').trigger('change');
                        }, 1000);

                    } else {
                        console.log("error");
                    }
                }
                });

    }
    
    function popEditEducation(el) {
        var id = $(el).attr('data-id');
        var url_edit_Education = $('#url_edit_Education').val() + '/' + id;
        $('#url_ajax_save_Education').val(url_edit_Education);

        var url_data_Education = $('#url_data_Education').val() + '/' + id;
        $.get(url_data_Education, function (data, status) {
        var response = data.data;
        console.log(response)
        if (status == 'success') {

        //alert(response.Type);
        $('#id').val(response.id);
        $('#PatrolName').val(response.PatrolName);
        $('#Date').val(response.Date);
        $('#Location').val(response.Location).trigger('change.select2');
        $('#Plant').val(response.Plant).trigger('change.select2');
        $('#Type').val(response.Type).trigger('change.select2');
        //alert(response.Type);

        setTimeout(function () {
        selectSingleDate();
        var date = moment(response.Date).format('YYYY-MM-DD');
        $('#Date').val(date);
        $('#modal_create_Education').modal('show');
        }, 1000);
        } else {
        //alert('Error please check your connection')
        }
        });
    }

    function popDetailEducation(el) {
        var id = $(el).attr('data-id');

        var url_data_Education = $('#url_data_Education').val() + '/' + id;
        $.get(url_data_Education, function (data, status) {
        var response = JSON.parse(data);
        console.log(response);
        if (status == 'success') {
        $('#EducationId').val(response.Education.id);
        $('#PatrolName').val(response.Education.PatrolName);
        $('#Type').val(response.Education.Type);
        $('#Date').val(response.Education.Date);
        $('#Location').val(response.Education.Location);
        $('#Member').val(response.Education.Member);

        setTimeout(function () {
        selectSingleDate();
        var date = moment(response.Education.EffectiveDate).format('YYYY-MM-DD');
        $('#EffectiveDate-detail').val(date);

        var dateend = moment(response.Education.EndDate).format('YYYY-MM-DD');
        $('#EndDate-detail').val(dateend);

        $('#modal_detail_Education').modal('show');
        }, 500);
        } else {
        //alert('Error please check your connection')
        }
        });
    }

    var request;
    $("#form_delete_Education").submit(function (event) {
        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        // Abort any pending request
        if (request) {
        request.abort();
        }

        var $form = $(this);

    // Let's select and cache all the fields
        var $inputs = $form.find("input, select, textarea");
        var serializedData = $form.serialize();
        var id = $("#Id_Delete_Education").val();
        var url_delete_Education = $('#url_delete_Education').val() + '/' + id;

        request = $.ajax({
            url: url_delete_Education,
            type: "post",
            data: serializedData,
            success: function (data, status) {
                if (data.status) {
                    $("#modal_delete_Education").modal("hide");
                    window.datatableEducation.reload();
                        setTimeout(function () {
                        toastr.success(data.message, data.data.Id);
                        }, 400);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            }

        });

        //request.done(function (response, textStatus, jqXHR) {
        //    $('#modal_delete_Education').modal('hide');
        //    var data = JSON.parse(response);
        //    if (data.status == true) {
        //    setTimeout(function () {
        //    toastr.success(data.message, data.data.Id);
        //    }, 400);
        //        window.datatableEducation.reload();
        //    } else {
        //    setTimeout(function () {
        //    toastr.error(data.message, data.data.Id);
        //    }, 400);
        //    }
        //});

        //request.fail(function (jqXHR, textStatus, errorThrown) {
        //    $('#modal_delete_Education').modal('hide');
        //    setTimeout(function () {
        //    toastr.error("Delete error please check your connection");
        //    }, 400);
        //});
    });

    //data table kdatatable
    var KMSIDatatable = function () {
    // Private functions

    var options = {
    // datasource definition
    data: {
    type: 'remote',
    source: {
    read: {
    url: '/Patrol/List'
    },
    },
    pageSize: 10,
    serverPaging: true,
    serverFiltering: true,
    serverSorting: true,
    timeout: 30000,
    saveState: {
    cookie: false,
    webstorage: false
    }
    },

    // layout definition
    layout: {
    scroll: true, // enable/disable datatable scroll both horizontal and
    // vertical when needed.
    height: 850, // datatable's body's fixed height
    footer: false // display/hide footer
    },

    rows: [
    {
    autohide: false
    }
    ],

    // column sorting
    sortable: true,

    pagination: true,

    // columns definition

    columns: [
    {
    field: 'PatrolName',
            title: 'Patrol Name',
            template: function (row) {
                if (row.Type == '5K') {
                    var result = '<a href="patrol/finding?id=' + row.id + '&type=' + row.Type + '&location=' + row.lokasi + '&plant=' + row.kota + '" >' + row.PatrolName + '</a>';
                } else if (row.Type == 'Cross Patrol') {
                    var result = '<a href="patrol/findingcp?id=' + row.id + '&type=' + row.Type + '&location=' + row.lokasi + '&plant=' + row.kota + '" >' + row.PatrolName + '</a>';
                }
                return result;
            }            
    }, {
    field: 'Type',
    title: 'Type',
    }, {
    field: 'Date',
    title: 'Date',
    template: function (row) {
    var result = "<div class='date-td'>";
        var new_date = moment(row.Date).format('MMM DD, YYYY');
    result = result + '<div>' + new_date + '</div> ';
    result = result + "</div>";
    return result;
    }
    }, {
    field: 'Location',
    title: 'Location',
    }, {
    field: 'Plant',
    title: 'Plant',
    }, {
    field: 'Member',
            title: 'Member',
            template: function (row) {
                var result = "<div class='date-td'>";
                for (var i = 0; i < row.Member.length; i++) {
                    var new_member = row.Member[i].Member;
                    result = result + '<div> - ' + new_member + '</div> ';
                }
                //for (var x in row.Member) {
                //    //console.log(x + ": " + Member[x])
                //    result = result + '<div> - ' + Member[x] + '</div> ';
                //}
                result = result + "</div>";
                return result;
            }
    }, {
    field: 'id',
    title: 'Actions',
    sortable: 'desc',
    width: 110,
    overflow: 'visible',
    textAlign: 'left',
    autoHide: false,
    template: function (row) {
    //var result = '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md detailBtnEducation" title="Detail" data-toggle="modal" data-target="#modal_detail"><i class="flaticon2-file" style="cursor:pointer;"></i></span>';
        //var result = '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_edit"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
        //result = result + '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md deleteBtnEducation" title="Delete" data-toggle="modal" data-target="#modal_delete_Education"><i class="flaticon2-trash" style="cursor:pointer;"></i></span>';
        if (row.Type == 'Cross Patrol')
        {
            var result = '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_edit"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
            result = result + '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md deleteBtnEducation" title="Delete" data-toggle="modal" data-target="#modal_delete_Education"><i class="flaticon2-trash" style="cursor:pointer;"></i></span>';
            result = result + '<a href="patrol/definevalue?id=' + row.id + '" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Define Value"><i class="fa fa-clipboard-check" style="cursor:pointer;"></i></a>';

        }
        else
        {
            var result = '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_edit"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
            result = result + '<span data-id="' + row.id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md deleteBtnEducation" title="Delete" data-toggle="modal" data-target="#modal_delete_Education"><i class="flaticon2-trash" style="cursor:pointer;"></i></span>';

        }
    return result;
    }
    }
    ],
    };

    var dataSelector = function () {
    options.search = {
    input: $('#generalSearch-Education'),
    delay: 100
    };

    window.datatableEducation = $('#datatable-kmsi-Education').KTDatatable(options);

    //$('#kt_form_status').on('change', function () {
    //    datatable.search($(this).val(), 'Status');
    //});

    //$('#kt_form_type').on('change', function () {
    //    datatable.search($(this).val().toLowerCase(), 'Type');
    //});

    //$('#kt_form_status,#kt_form_type').selectpicker();

    datatableEducation.on(
    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
    function (e) {
    var checkedNodes = datatableEducation.rows('.kt-datatable__row--active').nodes();
    var count = checkedNodes.length;
    $('#kt_datatable_selected_number').html(count);
    if (count > 0) {
    $('#kt_datatable_group_action_form').collapse('show');
    } else {
    $('#kt_datatable_group_action_form').collapse('hide');
    }
    });

    $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
    var ids = datatableEducation.rows('.kt-datatable__row--active').
    nodes().
    find('.kt-checkbox--single > [type="checkbox"]').
    map(function (i, chk) {
    return $(chk).val();
    });
    var c = document.createDocumentFragment();
    for (var i = 0; i < ids.length; i++) {
    var li = document.createElement('li');
    li.setAttribute('data-id', ids[i]);
    li.innerHTML = 'Selected record ID: ' + ids[i];
    c.appendChild(li);
    }
    $(e.target).find('.kt-datatable_selected_ids').append(c);
    }).on('hide.bs.modal', function (e) {
    $(e.target).find('.kt-datatable_selected_ids').empty();
    });

    };

    return {
    init: function () {
    dataSelector();
    },
    };
    }();

    var KTFormControls = function () {
    // Private functions

    var validationForm = function () {
    $("#form_create_and_edit_Education").validate({
        // define validation rules
            rules: {
                PatrolName: {  required: true  },
                Type: {  required: true  },
                Date: {  required: true  },
                Location: {  required: true  },
                Plant: { required: true  },
                Member: { required: true }
            },

            //display error alert on form submit
            invalidHandler: function (event, validator) { },

            submitHandler: function (form) {
                event.preventDefault();

                var $form = $('#form_create_and_edit_Education');

                // Let's select and cache all the fields
                var $inputs = $form.find("input, select, textarea");
                var serializedData = $form.serialize();

                 //Combine service update tags
                var tags = $('#Member').val().join(',');
                $('#Member').attr('value', tags);
                //alert(tags);

                request = $.ajax({
                    url: $('#url_ajax_save_Education').val(),
                    type: "post",
                    data: serializedData,
                        success: function (data, status) {
                            if (data.status) {
                                $("#modal_create_Education").modal("hide");
                                window.datatableEducation.reload();
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                });
            }
        });
    }

    return {
        // public functions
        init: function () {
            validationForm();
        },
        reset: function () {
            $('#form_create_and_edit_Education').find('.is-invalid').removeClass('is-invalid');
            $('#form_create_and_edit_Education').find('.invalid-feedback').remove();
        }
    };
    }();

    var KTFormControlsEdit = function () {
    // Private functions

    var validationForm = function () {
    $("#form_edit").validate({
    // define validation rules
        rules: {
            PatrolName: {  required: true  },
            Type: { required: true },
            Date: { required: true },
            Location: { required: true },
            Plant: {  required: true },
            Member: { required: true }
        },

        //display error alert on form submit
        invalidHandler: function (event, validator) {
        },

    submitHandler: function (form) {
        event.preventDefault();
        var $form = $('#form_edit');

        // Let's select and cache all the fields
        var $inputs = $form.find("input, select, textarea");
        var serializedData = $form.serialize();

        request = $.ajax({
            url: $('#url_edit_Education').val(),
            type: "post",
            data: serializedData,
            success: function (data, status) {
                if (data.status) {
                    $("#modal_edit").modal("hide");
                    window.datatableEducation.reload();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            }
        });
    }
    });
    }

    return {
        // public functions
        init: function () {
            validationForm();
        },
        reset: function () {
            $('#form_edit').find('.is-invalid').removeClass('is-invalid');
            $('#form_edit').find('.invalid-feedback').remove();
        }
    };
    }();

    $(document).ready(function () {
    var employeeID = $('#EmployeeIdGlobal').val();
    $('#EmployeeIdEducation').val(employeeID);

    KMSIDatatable.init();
    KTFormControls.init();
    KTFormControlsEdit.init();
    //KTFormRepeater.init();

    $(document).on("click", ".deleteBtnEducation", function () {
    var el = $(this);
    popDeleteEducation(el);
    });

    $(document).on("click", ".editBtnEducation", function () {
    var el = $(this);
    popEditEducation(el);
    });

    $(document).on("click", ".editBtn", function () {
    var el = $(this);
    popEdit(el);
    });

    $(document).on("click", ".detailBtnEducation", function () {
    var el = $(this);
    popDetailEducation(el);
    });
    });

    var KTSelect2 = function () {
        var select = function () {
            $('.location-select2').select2({ placeholder: "-- Select a Location --" });
            $('.plant_select2').select2({ placeholder: "-- Select a Plant --" });
        }
        return {
            init: function () {
            select();
        }
        };
    }();

    var ChainedDropdown = function () {
        var chained = function () {
            var items = "<option value='0'>Select</option>";
            //alert(items);                    
            $('#PlantID').html(items);
            $('#LocationID').change(function () {
                //alert('test');
                var url = "/Patrol/GetPlant";
                var ddlsource = $('#LocationID');
                $.getJSON(url, { LocationID: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $('#PlantID').empty();
                    $.each(data, function (i, plant) {
                        items += "<option value='" + plant.Value + "'>" + plant.Text + "</option>";
                   });
                    $('#PlantID').html(items);
                });
            });            
        }

        return {
            init: function () {
                chained();
                setTimeout(function () {
                    $('.select2').css('width', '100%');
                }, 800);
            }
        };
    }();

    var ChainedDropdownedit = function () {
        var chained = function () {
            var items = "<option value='0'>Select</option>";
            //alert(items);                    
            $('#PlantID_edit').html(items);
            $('#LocationID_edit').change(function () {
                //alert('test');
                var url = "/Patrol/GetPlant";
                var ddlsource = $('#LocationID_edit');
                $.getJSON(url, { LocationID: $(ddlsource).val() }, function (data) {
                    //alert('test');
                    var items = '';
                    $('#PlantID_edit').empty();
                    $.each(data, function (i, plant) {
                        //alert(plant.Value);
                        items += "<option value='" + plant.Value + "'>" + plant.Text + "</option>";
                    });
                    $('#PlantID_edit').html(items);
                });
            });
        }

        return {
            init: function () {
                chained();
                setTimeout(function () {
                    $('.select2').css('width', '100%');
                }, 800);
            }
        };
    }();

    jQuery(document).ready(function () {
        KTSelect2.init();    
        ChainedDropdown.init();
        ChainedDropdownedit.init();
    });

    </script>
    }
