﻿@using SSE_KMSI.Models;
@model SSE_KMSI.Models.T_Patrol

@{
    ViewBag.Title = "Patrol Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-primary kmsi-alert hide" role="alert">
        <div class="alert-text kmsi-alert-text"></div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Cross Patrol Task List
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="General Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      <!--end: Search Form -->
            <!--begin: Selected Rows Group Action Form -->
            <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label kt-form__label-no-wrap">
                                <label class="kt-font-bold kt-font-danger-">
                                    Selected
                                    <span id="kt_datatable_selected_number">0</span> records:
                                </label>
                            </div>
                            <div class="kt-form__control">
                                <div class="btn-toolbar">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Update status
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Pending</a>
                                            <a class="dropdown-item" href="#">Delivered</a>
                                            <a class="dropdown-item" href="#">Canceled</a>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Selected Rows Group Action Form -->
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit">
            @*@Session["UserId"]*@
            <div class="kt-datatable" id="datatable-kmsi"></div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_edit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <input type="hidden" id="id" name="id" />
                <input type="hidden" id="arrimg" name="arrimg" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Follow Up Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="kt-portlet__body">          

                        <div class="form-group form-group-last row">

                            <div class="col-md-6 pull-left">
                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Follow up Date</label>
                                    <div class="col-md-12">
                                        <div class="input-group date">
                                            <input type="text" class="form-control  kmsi-datepicker" readonly placeholder="Select date" id="DateFollowup" name="DateFollowup" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar-check-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">Note</label>
                                    <div class="col-md-12">
                                        <textarea class="form-control" name="note" id="note"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-12 col-form-label">Upload Files:</label>
                                    <div class="col-lg-12">
                                        <input type="hidden" class="form-control" id="idFile" name="idFile">
                                        <div class="dropzone dropzone-multi" id="medicalFile">
                                            <div class="dropzone-panel">
                                                <a class="dropzone-select btn btn-label-brand btn-bold btn-sm">Attach file</a>
                                            </div>
                                            <div class="dropzone-items">
                                                <div class="dropzone-item" style="display:none">
                                                    <div class="dropzone-file">
                                                        <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                            <span data-dz-name>some_image_file_name.jpg</span> <strong>(<span data-dz-size>340kb</span>)</strong>
                                                        </div>
                                                        <div class="dropzone-error" data-dz-errormessage></div>
                                                    </div>
                                                    <div class="dropzone-progress">
                                                        <div class="progress">
                                                            <div class="progress-bar kt-bg-brand" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress></div>
                                                        </div>
                                                    </div>
                                                    <div class="dropzone-toolbar">
                                                        <span class="dropzone-delete" data-dz-remove><i class="flaticon2-cross"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="form-text text-muted">Max file size is 2MB</span>
                                        <div class="tampungAttach"></div>
                                        <input type="hidden" id="AttachmentFile" name="AttachmentFile[]" />
                                        <div class="tampilkan">
                                        </div>
                                        <div class="tampilkanFile">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 pull-right">
                                <div class="form-group">
                                    <label class="control-label col-md-12" for="StartYear">
                                        Description :
                                    </label><br />
                                    <label class="control-label col-md-12" for="StartYear">
                                        <input type="checkbox" name="chkeliminasi" id="chkeliminasi" value="1" onchange="funceliminasi()" /> Eliminasi
                                    </label>
                                    <div id="blockeliminasi" style="display:none">
                                        <textarea class="form-control" name="el_description" id="el_description"></textarea>
                                    </div>
                                    <br />
                                    <label class="control-label col-md-12" for="StartYear">
                                        <input type="checkbox" name="chksubtitusi" id="chksubtitusi" value="1" onchange="funcsubtitusi()" />
                                        Subtitusi
                                    </label>
                                    <div id="blocksubtitusi" style="display:none">
                                        <textarea class="form-control" name="sb_description" id="sb_description"></textarea>
                                    </div>
                                    <br />
                                    <label class="control-label col-md-12" for="StartYear">
                                        <input type="checkbox" name="chkenginering" id="chkengineering" value="1" onchange="funcengineering()" /> Engineering
                                    </label>
                                    <div id="blockengineering" style="display:none">
                                        <textarea class="form-control" name="en_description" id="en_description"></textarea>
                                    </div><br />
                                    <label class="control-label col-md-12" for="StartYear">
                                        <input type="checkbox" name="chkadministrasi" id="chkadministrasi" value="1" onchange="funcadministrasi()" /> Administrasi
                                    </label>
                                    <div id="blockadministrasi" style="display:none">
                                        <textarea class="form-control" name="adm_description" id="adm_description"></textarea>
                                    </div><br />
                                    <label class="control-label col-md-12" for="StartYear">
                                        <input type="checkbox" name="chkapd" id="chkapd" onchange="funcapd()" value="1" /> APD
                                    </label>
                                    <div id="blockapd" style="display:none">
                                        <textarea class="form-control" name="apd_description" id="apd_description"></textarea>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_view">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Patrol Finding</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="kt-portlet__body">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_5_1">Partol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_2">Follow Up</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="kt_tabs_5_1" role="tabpanel">

                                <div class="col-md-pull-12">
                                    <div class="addnew" style="padding: 10px;background-color:#669999;color:#fff">
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Patrol
                                                </th>
                                                <th>
                                                    Note
                                                </th>
                                                <th>
                                                    Due Date
                                                </th>
                                                <th>
                                                    Image
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="kt_tabs_5_2" role="tabpanel">
                                <div class="col-md-pull-12">
                                    <div class="followuptb" style="padding: 10px;background-color:#669999;color:#fff">
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Date Follow Up
                                                </th>
                                                <th>
                                                    Note
                                                </th>
                                                <th>
                                                    Desc
                                                </th>
                                                <th>
                                                    Image
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image Patrol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                        @*<img src="~/UploadFile/20191112023212-IPA Logo.png" id="myimage" width="350" height="150" />
                            <div id="tampilimage"></div>
                            <img id="my_image" />*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="modal_image_followup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="form_image_followup">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                @*<input type="hidden" id="iddata" name="iddata" />*@
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Image Follow Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-pull-12">
                        @*<img src="~/UploadFile/20191112023212-IPA Logo.png" id="myimage" width="350" height="150" />
                            <div id="tampilimage"></div>
                            <img id="my_image" />*@
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end::Modal-->

<input type="hidden" id="url_data" value="/Mytask/Data" />
<input type="hidden" id="url_create" value="/Mytask/Create" />
<input type="hidden" id="url_save" value="/Mytask/CreateCrossPatrol" />
<input type="hidden" id="url_get_task" value="/Mytask/getDetailTask" />
<input type="hidden" id="url_get_taskid" value="/Mytask/getDetailTaskById" />

@section Scripts
{
    <script>

        var datafilexx = []
        var KTDropzoneFile = function () {
            var uploadFile = function () {
                // set the dropzone container id
                var id = '#medicalFile';
                var dataFile = [];
                // set the preview element template
                var previewNode = $(id + " .dropzone-item");
                previewNode.id = "";
                var previewTemplate = previewNode.parent('.dropzone-items').html();
                previewNode.remove();

                var uploadAttachment = new Dropzone(id, { // Make the whole body a dropzone
                    url: "/Mytask/UploadPatrollFollowupFile", // Set the url for your upload script location
                    parallelUploads: 1,
                    maxFiles: 10,
                    maxFilesize: 2, // Max filesize in MB
                    previewTemplate: previewTemplate,
                    previewsContainer: id + " .dropzone-items", // Define the container to display the previews
                    clickable: id + " .dropzone-select" // Define the element that should be used as click trigger to select files.
                });

                uploadAttachment.on("addedfile", function (file) {
                    // Hookup the start button
                    $(document).find(id + ' .dropzone-item').css('display', '');
                });

                uploadAttachment.on("success", function (serverData) {
                    console.log(serverData.xhr.response);
                    var response = JSON.parse(serverData.xhr.response);
                    var att = '<input type="hidden" class="AttachmentMulti" name="Attachment[]" value="' + response.name + '" />';
                    $('.tampungAttach').append(att);

                    dataFile.push(response.name)
                    datafilexx.push(response.name)
                    console.log(dataFile);
                    //$('#AttachmentFile').val(dataFile+",");
                });

                // Update the total progress bar
                uploadAttachment.on("totaluploadprogress", function (progress) {
                    document.querySelector(id + " .progress-bar").style.width = progress + "%";
                });

                uploadAttachment.on("sending", function (file) {
                    // Show the total progress bar when upload starts
                    document.querySelector(id + " .progress-bar").style.opacity = "1";
                });

                // Hide the total progress bar when nothing's uploading anymore
                uploadAttachment.on("complete", function (progress) {
                    var thisProgressBar = id + " .dz-complete";
                    setTimeout(function () {
                        $(thisProgressBar + " .progress-bar, " + thisProgressBar + " .progress").css('opacity', '0');
                    }, 300)
                });
            }

            return {
                // public functions
                init: function () {
                    uploadFile();
                }
            };
        }();

        var arr_leave_date = [];
        var arr_holiday = [];

        function selectSingleDate() {
            $('.kmsi-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                datesDisabled: arr_holiday,
                todayBtn: "linked",
                clearBtn: true,
            }).on('changeDate', function (e) {
                arr_leave_date = [];
                var dateSelect = 0;
                $(".kmsi-datepicker").each(function (index) {
                    var valueDate = $(this).val();
                    if (valueDate != "") {
                        arr_leave_date.push(valueDate);
                        dateSelect++;
                    }
                    $('#ArrDate').val(JSON.stringify(arr_leave_date));
                });
                $('#LeaveUsed').val(dateSelect);
            });
        }

        function funceliminasi() {
            //alert("eliminasi");
            var checkBox = document.getElementById("chkeliminasi");
            var text = document.getElementById("blockeliminasi");
            if (checkBox.checked == true) { text.style.display = "block"; } else { text.style.display = "none";}
        }

        function funcsubtitusi() {
            //alert("subtitusi");
            var checkBox = document.getElementById("chksubtitusi");
            var text = document.getElementById("blocksubtitusi");
            if (checkBox.checked == true) { text.style.display = "block"; } else { text.style.display = "none"; }
        }

        function funcengineering() {
            //alert("engineering");
            var checkBox = document.getElementById("chkengineering");
            var text = document.getElementById("blockengineering");
            if (checkBox.checked == true) { text.style.display = "block"; } else { text.style.display = "none"; }
        }

        function funcadministrasi() {
            //alert("administrasi");
            var checkBox = document.getElementById("chkadministrasi");
            var text = document.getElementById("blockadministrasi");
            if (checkBox.checked == true) { text.style.display = "block"; } else { text.style.display = "none"; }
        }

        function funcapd() {
            //alert("apd");
            var checkBox = document.getElementById("chkapd");
            var text = document.getElementById("blockapd");
            if (checkBox.checked == true) { text.style.display = "block"; } else { text.style.display = "none"; }

        }

        function popEdit(el) {
            var id = $(el).attr('data-id');
            $('#id').val(id);

            //alert(id);
            $('#AttachmentFile').val('');
            $('.tampilkanFile').val('');
            $('.tampilkan').val('');
            $('.date-error').html("");
            $("#form_edit")[0].reset();
        }

        function popView(el)
        {
            $('.rowappend').remove();

            var id = $(el).attr('data-id');
            //alert(id);

            $.ajax({
                type: "GET",
                global: false,
                url:'@Url.Action("getDetailTask")',
                data: { id: id },
                success: function (data, status)
                {
                    if (data.status) {
                        console.log("success");
                        //alert("success");
                        var level = "";
                        for (var i = 0; i < data.dataView.length; i++)
                        {
                            if (data.dataView[i].levelID == 1) { level = "I"; }
                            else if (data.dataView[i].levelID == 2) { level = "II"; }
                            else if (data.dataView[i].levelID == 3) { level = "III"; }
                            else if (data.dataView[i].levelID == 4) { level = "IV"; }
                            var newData = '<tr class="rowappend"><td>' + data.dataView[i].PatrolName + '</td>';
                                newData += '<td>';
                                for (var j = 0; j < data.dataView[i].Note.length; j++)
                                {
                                    ;
                                    newData +='' + data.dataView[i].Note[j].Note +'<br/>';
                                }
                            newData += '</td><td>' + moment(data.dataView[i].due_date).format('YYYY-MM-DD') + '</td>';
                            newData += '<td><span data-id="' + data.dataView[i].Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imgBtn" title="View Image" data-toggle="modal" data-target="#modal_image"><i class="flaticon-eye" style="cursor:pointer;"></i></span></td></tr > ';
                            $('.addnew table').append(newData);
                            $("#modal_view").modal();
                        }
                    } else {
                        console.log("error");
                    }
                }
            });

            $.ajax({
                type: "GET",
                global: false,
                url:'@Url.Action("getFollowup")',
                data: { id: id },
                success: function (data, status)
                {
                    if (data.status) {
                        console.log("success");
                        for (var i = 0; i < data.dataView.length; i++) {

                            var newData = '<tr class="rowappend"><td>' + moment(data.dataView[i].DateFollowup).format('YYYY-MM-DD') + '</td>';
                            newData += '<td>' + data.dataView[i].Note + '</td>';
                            newData += '<td>';
                            if (data.dataView[i].Desc_Eliminasi != "" && data.dataView[i].Desc_Eliminasi != null) { newData += "Eliminasi :" + data.dataView[i].Desc_Eliminasi + '<br/>'; }
                            if (data.dataView[i].Desc_Subtitusi != "" &&  data.dataView[i].Desc_Subtitusi != null) { newData += "Subtitusi :" +data.dataView[i].Desc_Subtitusi + '<br/>'; }
                            if (data.dataView[i].Desc_Engineering != "" &&  data.dataView[i].Desc_Engineering != null) { newData += "Enginering :" +data.dataView[i].Desc_Engineering + '<br/>'; }
                            if (data.dataView[i].Desc_Administrasi != "" &&  data.dataView[i].Desc_Administrasi != null) { newData += "Administrasi :" +data.dataView[i].Desc_Administrasi + '<br/>'; }
                            if (data.dataView[i].Desc_APD != "" &&  data.dataView[i].Desc_APD != null) { newData += "APD :" +data.dataView[i].Desc_APD; }

                            newData +='</td>';
                            newData += '<td><span data-id="' + data.dataView[i].Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imageBtn" title="View Image" data-toggle="modal" data-target="#modal_image_followup"><i class="flaticon-eye" style="cursor:pointer;"></i></span></td></tr > ';
                            $('.followuptb table').append(newData);
                            $("#modal_viewfollowup").modal();
                        }

                    } else {
                        console.log("error");
                    }
                }
                });
        }

        function popImage(el)
        {
            var id = $(el).attr('data-id');
            $('#id').val(id);
            //alert(id);
            //clear modal
            $('#modal_image').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("getDetailmage")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/Patroll/' + data.data[i].img + '" width="350" height="150" />';
                                $('#modal_image').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }

                            $("#modal_image").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        function popImagefolowup(el)
        {
            var id = $(el).attr('data-id');
            $('#id').val(id);
            //alert(id);
            //clear modal
            $('#modal_image_followup').find('.modal-body').html("");
             $.ajax({
                type: "GET",
                global: false,
                url: '@Url.Action("getDetailmageFollowup")',
                data: { id: id },
                    success: function (data, status)
                    {
                        if (data.status)
                        {
                            for (var i = 0; i < data.data.length; i++) {
                                var imagedata = '<img src="UploadFile/Patroll/' + data.data[i].Img + '" width="350" height="150" />';
                                $('#modal_image_followup').find('.modal-body').append('<div class="col-md-pull-12">'+imagedata+'</div><br/>');
                            }

                            $("#modal_image_followup").modal();
                        } else {
                            //alert("failed");
                        }
                    }
            });
        }

        var request;
        $("#form_edit").submit(function (event) {
            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            var dataFileArray = datafilexx;
            var check = "";
            // Abort any pending request
            if (request) {
                request.abort();
            }

            if (dataFileArray == "") {
                //$('.kmsi-alert-modal').removeClass('hide');
                //$('.kmsi-alert-text-modal').html("file lampiran masih kosong");
                //return false;

                $("#UploadAttachment .dropzone-select").addClass('error-invalid');
                var error = '<span class="form-text text-muted error-text" data-id="UploadAttachment">Attachment is required</span>';
                $("#UploadAttachment .dropzone-select").parent().append(error);
                check = "salah";
            }

            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("input, select, textarea");
            var serializedData = $form.serialize();

            request = $.ajax({
                url: $('#url_save').val(),
                type: "post",
                //data: serializedData
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    arrayFile           : dataFileArray,
                    FindingIssueId      : $("#id").val(),
                    Note                : $("#note").val(),
                    Description         : $("#description").val(),
                    DateFollowup        : $("#DateFollowup").val(),
                    Desc_Eliminasi      : $("#el_description").val(),
                    Desc_Subtitusi      : $("#sb_description").val(),
                    Desc_Engineering    : $("#en_description").val(),
                    Desc_Administrasi   : $("#adm_description").val(),
                    Desc_APD            : $("#apd_description").val(),
                })
            });

            request.done(function (response, textStatus, jqXHR) {
                $('#modal_edit').modal('hide');
                window.datatable.reload();
                //var data = JSON.parse(response);
                //console.log(data);
                //if (response.status) {
                //    setTimeout(function () {
                //        toastr.success(data.message, data.data.Id);
                //    }, 400);
                //    window.datatable.reload();
                //}
            });

            request.fail(function (jqXHR, textStatus, errorThrown) {
                $('#modal_edit').modal('hide');
                setTimeout(function () {
                    //toastr.error("submit error please check your connection");
                    //toastr.error("submit success");
                    //$('#datatable-kmsi').DataTable().ajax.reload();
                }, 400);
            });
        });

        var KMSIDatatable = function () {
            // Private functions

            var options = {
                // datasource definition
                data: {
                    type: 'remote',
                    source: {
                        read: {
                            url: '/Mytask/CrossPatrolList'
                        },
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    timeout: 30000,
                    saveState:
                    {
                        cookie: false,
                        webstorage: false
                    }
                },

                // layout definition
                layout: {
                    scroll: true, // enable/disable datatable scroll both horizontal and
                    // vertical when needed.
                    height: 350, // datatable's body's fixed height
                    footer: false // display/hide footer
                },

                // column sorting
                sortable: true,
                pagination: true,

                // columns definition
                columns: [
                    {
                        field: 'PatrolName',
                        title: 'Patrol',
                        width: 150,
                    }, {
                        field: 'Findings',
                        title: 'Uraian',
                        width: 400,
                    }, {
                        field: 'Note',
                        title: 'Note',
                        width: 200,
                        template: function (row) {
                            var result = "<div class='date-td'>";
                            for (var i = 0; i < row.Note.length; i++) {
                                var new_member = row.Note[i].Note;
                                result = result + '<div> - ' + new_member + '</div> ';
                            }
                            result = result + "</div>";
                            return result;
                        }
                    }, {
                        field: 'Is_Completed',
                        title: 'Status',
                        width: 100,
                        template: function (row) {
                            if (row.Is_Completed == null) {
                                var result = '<span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Open</span>';
                            } else if (row.Is_Completed == "1") {
                                var result = '<span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Closed</span>';
                            }
                            return result;
                        },
                    }, {
                        field: 'Id',
                        title: 'Actions',
                        sortable: 'desc',
                        overflow: 'visible',
                        textAlign: 'left',
                        width: 120,
                        autoHide: false,
                        template: function (row) {
                            var result = '<span data-id="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md editBtn" title="Edit" data-toggle="modal" data-target="#modal_edit"><i class="flaticon-edit-1" style="cursor:pointer;"></i></span>';
                                result += '<span data-id="' + row.Id + '" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md imgBtn" title="View Image" data-toggle="modal" data-target="#modal_image"><i class="flaticon-eye" style="cursor:pointer;"></i></span>';

                            return result;
                        }
                    }
                ],
            };

            var dataSelector = function () {
                options.search = {
                    input: $('#generalSearch-Education'),
                    delay: 100
                };

                window.datatable = $('#datatable-kmsi').KTDatatable(options);

                //$('#kt_form_status').on('change', function () {
                //    datatable.search($(this).val(), 'Status');
                //});

                //$('#kt_form_type').on('change', function () {
                //    datatable.search($(this).val().toLowerCase(), 'Type');
                //});

                //$('#kt_form_status,#kt_form_type').selectpicker();

                datatable.on(
                    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                    function (e) {
                        var checkedNodes = datatable.rows('.kt-datatable__row--active').nodes();
                        console.log(checkedNodes)
                        window.arrPointingId = [];
                        for (var i = 0; i < checkedNodes.length; i++) {
                            var rowIndex = checkedNodes[i].rowIndex - 1;
                            var value = $('#datatable-kmsi tr[data-row="' + rowIndex + '"] input[type="checkbox"]').val();
                            window.arrPointingId.push(value);
                        }
                        console.log(window.arrPointingId);
                        var count = checkedNodes.length;
                        $('#kt_datatable_selected_number').html(count);
                        if (count > 0) {
                            $('#kt_datatable_group_action_form').collapse('show');
                        } else {
                            $('#kt_datatable_group_action_form').collapse('hide');
                        }
                    });

                //datatableEducation.on(
                //    'kt-datatable--on-check kt-datatable--on-uncheck kt-datatable--on-layout-updated',
                //    function (e) {
                //        var checkedNodes = datatableEducation.rows('.kt-datatable__row--active').nodes();
                //        var count = checkedNodes.length;
                //        $('#kt_datatable_selected_number').html(count);
                //        if (count > 0) {
                //            $('#kt_datatable_group_action_form').collapse('show');
                //        } else {
                //            $('#kt_datatable_group_action_form').collapse('hide');
                //        }
                //    });

                $('#kt_modal_fetch_id').on('show.bs.modal', function (e) {
                    var ids = datatable.rows('.kt-datatable__row--active').
                        nodes().
                        find('.kt-checkbox--single > [type="checkbox"]').
                        map(function (i, chk) {
                            return $(chk).val();
                        });
                    var c = document.createDocumentFragment();
                    for (var i = 0; i < ids.length; i++) {
                        var li = document.createElement('li');
                        li.setAttribute('data-id', ids[i]);
                        li.innerHTML = 'Selected record ID: ' + ids[i];
                        c.appendChild(li);
                    }
                    $(e.target).find('.kt-datatable_selected_ids').append(c);
                }).on('hide.bs.modal', function (e) {
                    $(e.target).find('.kt-datatable_selected_ids').empty();
                });
            };

            return {
                init: function () {
                    dataSelector();
                },
            };
        }();

        $(document).ready(function ()
        {
            selectSingleDate();
            KMSIDatatable.init();
            KTDropzoneFile.init();
            $(document).on("click", ".editBtn", function () {
                var el = $(this);
                popEdit(el);
            });
            $(document).on("click", ".viewBtn", function () {
                var el = $(this);
                popView(el);
            });

            $(document).on("click", ".imgBtn", function () {
                var el = $(this);
                popImage(el);
            });

            $(document).on("click", ".imageBtn", function () {
                var el = $(this);
                popImagefolowup(el);
            });
        });

    </script>
}
